doctype html
html(amp='', lang="fr")
  head
    script(async='', src='https://cdn.ampproject.org/v0.js')
    title=(headline)
    
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline"=(headline),
      "datePublished": "2017-01-03T12:02:41Z",
      "image": [
      "caro_lafeuille.jpg"
      ]
      }
    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
        
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    meta(name="referrer" content="always")
    meta(name="description" content= description)
    meta(name="theme-color", content="#75C050")
    
    //- Social Media Meta

    meta(property="og:type" content="website")
    meta(property="og:site_name" content= "www.chanvrequebec.com")
    meta(property="og:url" content="https://www.chanvrequebec.com/#{ link }")
    meta(property="og:title" content= headline)
    meta(property="og:description" content= description)
    meta(property="og:image" content= "#{ imageog }")
    meta(property="fb:pages" content="1541184722867648")
    meta(property="fb:app_id" content="1515670032095765")
    
    link(rel="stylesheet" href="/assets/css/main.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css")
    link(href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css")
    link(rel="manifest", href="/manifest.json")
    
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#ffffff")
    script(type='application/ld+json').
        {
          "@context": "http://schema.org/",
          "@type": "Recipe",
          "name": "Perfect Apple Pie",
          "author": "Gin Blanco",
          "image": "http://images.edge-generalmills.com/56459281-6fe6-4d9d-984f-385c9488d824.jpg",
          "description": "A classic apple pie takes a shortcut with easy Pillsbury® unroll-fill refrigerated pie crust.",
          "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.5",
          "reviewCount": "276",
          "bestRating": "5",
          "worstRating": "1"
      },
          "prepTime": "PT30M",
          "totalTime": "PT3H",
          "recipeYield": "8",
          "nutrition": {
          "@type": "NutritionInformation",
          "servingSize": "1 medium slice",
          "calories": "230 calories",
          "fatContent": "1 g",
          "carbohydrateContent": "43 g",
          "cholesterolContent": "0 mg",
          "fiberContent": "1 g",
          "proteinContent": "1 g",
          "saturatedFatContent": "2 ½ g",
          "servingSize": "1 Serving",
          "sodiumContent": "200 mg",
          "sugarContent": "27 g",
          "transFatContent": "0 g"
      },
          "recipeIngredient": [
          "1 box Pillsbury™ refrigerated pie crusts, softened as directed on box",
          "6 cups thinly sliced, peeled apples (6 medium)",
          "3/4 cup sugar",
          "2 tablespoons all-purpose flour",
          "3/4 teaspoon ground cinnamon",
          "1/4 teaspoon salt",
          "1/8 teaspoon ground nutmeg",
          "1 tablespoon lemon juice"
          ],
          "recipeInstructions": [
          "1 Heat oven to 425°F. Place 1 pie crust in ungreased 9-inch glass pie plate. Press firmly against side and bottom.",
          "2 In large bowl, gently mix filling ingredients; spoon into crust-lined pie plate. Top with second crust. Wrap excess top crust under bottom crust edge, pressing edges together to seal; flute. Cut slits or shapes in several places in top crust.",
          "3 Bake 40 to 45 minutes or until apples are tender and crust is golden brown. Cover edge of crust with 2- to 3-inch wide strips of foil after first 15 to 20 minutes of baking to prevent excessive browning. Cool on cooling rack at least 2 hours before serving."
          ]
      }

    
    script(src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async)
    script.
      var OneSignal = window.OneSignal || [];
      OneSignal.push(["init", {
      appId: "8e6e6913-3fc1-4f84-82ce-60634b21255f",
      safari_web_id: 'web.onesignal.auto.56640081-e0ac-44c5-9d26-db4b2624f604',
      autoRegister: true,
      notifyButton: {
      enable: false /* Set to false to hide */
      }
      }]);

  body
    != yield
    #fb-root
    include ../includes/_blogfooter
    include ../includes/_script
    
    
    
