include ../includes/_recetteheader
include ../includes/_blogpost
    .col-12
            blockquote "Le maximum de chanvre dans un biscuit... le rêve quoi!"
            p.right -Darko Popovic, Ville de Québec

    .col-12
        .col-6
            h3 Ingrédients secs
                ul
                    li 1/2 t. de la farine protéinée Chanvre Superaliment, tamisée.
                    li 1 tasse de farine tout usage
                    li 2 c. à soupe de cacao
                    li 1/4 c. à thé de poudre à pâte
                    li 1 pincée de sel
                    li 2 c. à soupe de graines de chanvre
                    li 1/3 de tasse de pépites de chocolat       
                    li 1/2 tasse de cassonade
                    
        .col-6
            h3 Ingrédients liquides
                ul
                    li 3/4 de tasse d'huile végétale
                    li 1 oeuf
                    li 1 c. à thé d'extrait de vanille
                    

    .col-12
        h2.round-text.center 1.
        p.center Préchauffer le four à 325 F et tapisser une plaque de papier parchemin.
    .col-12
        h2.round-text.center 2.
        p.center Dans un bol, mélanger les ingrédients secs. Réserver.
    .col-12
        h2.round-text.center 3.
        p.center Dans un second bol, mélanger vigoureusement les ingrédients humides à l’aide d’un fouet.
    .col-12
        h2.round-text.center 4.
        p.center Ajouter les ingrédients secs et mélanger délicatement, juste assez pour que la farine disparaisse.
    .col-12
        h2.round-text.center 5.
        p.center Avec une cuillère à crème glacée, former des petites boules (environ le 2/3 de la cuillère), puis les disposer sur la plaque et les aplatir légèrement avec une fourchette. 
    .col-12
        h2.round-text.center 6.
        p.center Enfourner entre 7 et 9 minutes.
    
    .col-12
        h2.center Savourez!
        a(href="#img1")
            img.blog(src="https://c1.staticflickr.com/1/580/31924247743_21d654f1f3_z.jpg")
        a(href="#_" class="lightbox" id="img1")
            img(src="https://c1.staticflickr.com/1/580/31924247743_21d654f1f3_z.jpg")