include ../includes/_recetteheader
include ../includes/_blogpost
    .col-12 
            p Idée recette et photo recceuillis à partir de: <a href="https://www.youtube.com/watch?v=TLcNqg3lsDg", target="_blank"> Trinity’s conscious kitchen</a>
    .col-12
        .col-6
            h3 Ingrédients
                ul
                    li 3 cuillères à soupe de graines de chanvre
                    li 1 tasse de dates séchées
                    li ¾ d’amandes en poudre tasse
                    li ½ cuillère à café de cannelle en poudre
                    li un soupçon d’extrait de vanille
                    li 1 cuillère à soupe pleine de poudre de cacao brut 
    .col-12
        h3 Pour la préparation,
        p Voici un petit vidéo par Trinity’s conscious kitchen:
        iframe(width='100%', height='315', src='https://www.youtube.com/embed/TLcNqg3lsDg?ecver=1', frameborder='0', allowfullscreen='')
