include ../includes/_recetteheader
include ../includes/_blogpost
    .col-12
            blockquote "Mes brownies sont une collation idéale pour me fournir tout ce dont j’ai besoin avant d’aller m’entraîner"
            p.right -Frederick Chamberland, Beauport

    .col-12
        .col-6
            h3 Ingrédient
                ul
                    li 1/2 t. de la farine protéinée Chanvre Superaliment, tamisée.
                    li 2t farine blanche tamisée
                    li 1 c.t poudre à pate
                    li 1 t de sucre
                    li 250 g. chocolat noir
                    li ½ t. cacao
                    li 2 œufs
                    li 1 ½ t. lait d’amande
                    li 1 c.s d’essence de vanille
                    li ¼ t beurre fondu
                    li ½ t. noix du brésil hachées grossièrement
                    li 2 poires coupées en dés
                    li 1 c.s. jus de citron
                    
        .col-6
            h3 Préparatif
                ul
                    li Préparation 20 min.
                    li Cuisson 30 min.
                    li 12 portions
                    

    .col-12
        h2.round-text.center 1.
        p.center Préchauffer le four à 375 °
    .col-12
        h2.round-text.center 2.
        p.center Blanchir les œufs et le sucre
    .col-12
        h2.round-text.center 3.
        p.center Ajouter le jus de citron aux poires
    .col-12
        h2.round-text.center 4.
        p.center Ajouter la vanille au lait d’amande
    .col-12
        h2.round-text.center 5.
        p.center Mélanger les ingrédients secs
    .col-12
        h2.round-text.center 6.
        p.center Ajouter en alternance les ingrédients secs et le lait à la préparation d’œufs
    .col-12
        h2.round-text.center 7.
        p.center Mélanger jusqu’à l’obtention d’une consistance homogène
    .col-12
        h2.round-text.center 8.
        p.center Ajouter le beurre et bien mélanger
    .col-12
        h2.round-text.center 9.
        p.center Ajouter les poires et les noix
    .col-12
        h2.round-text.center 10.
        p.center Répartir dans des moules allant au four. Cuire 30 minutes
    
    .col-12
        h2.center Savourez!
        a(href="#img1")
            img.blog(src="https://c1.staticflickr.com/1/352/32738272845_748aac85e0_z.jpg")
        a(href="#_" class="lightbox" id="img1")
            img(src="https://c1.staticflickr.com/1/352/32738272845_748aac85e0_z.jpg")