include ../includes/_recetteheader
include ../includes/_blogpost
    .col-12
            blockquote "J’aime pouvoir me gâter sans sacrifier le repas le plus essentiel de la journée"
            p.right -Amélie St-Laurent, Granby
    .col-12
        .col-6
            h3 Ingrédient
                ul
                    li 60–80 ml de farine Chanvre Superaliment
                    li 200–220 ml de farine de blé entier
                    li 30 ml de sucre
                    li 15 ml de poudre à pâte
                    li 3 ml de sel
                    li Un oeuf
                    li 400 ml de lait
                    li 30 ml d’huile végétale
                    
        .col-6
            h3 Préparatif
                ul
                    li Préparation 10 min.
                    li Portion: 2 personnes                 

    .col-12
        h2.round-text.center 1.
        p.center Mélanger dans un bol les ingrédients secs
    .col-12
        h2.round-text.center 2.
        p.center Dans un autre contenant, mélanger les ingrédients liquides
    .col-12
        h2.round-text.center 3.
        p.center Incorporer les ingrédients secs et liquides ensembles
    .col-12
        h2.round-text.center 4.
        p.center Cuire les crêpes sur une plaque graissée
    .col-12
        h2.center Savourez!
        a(href="#img1")
            img.blog(src="https://c1.staticflickr.com/1/656/31924248433_0a6ecc692a_z.jpg")
        a(href="#_" class="lightbox" id="img1")
            img(src="https://c1.staticflickr.com/1/656/31924248433_0a6ecc692a_z.jpg")
            figcaption Sur cette photo, des avocats on été rajoutés !