include ../includes/_recetteheader
include ../includes/_blogpost
    .col-12
            blockquote La recettes de nos fameux energy balls à Ecosphère MTL
    .col-12
        .col-6
            h3 Ingrédients
                ul
                    li 2 c.-à-s. farine de chanvre
                    li 2 1/2t dattes medjool seché
                    li 1 1/2t noix de grenoble
                    li 1 t amandes non-salées
                    li 3/4 t. Cacao
                    li 2 c.-à-t. de poudre d'espresso (café) 
                    li pincée de sel
        .col-6
            h3 Valeur nutritive (approximatif) par boule d'énergie (1/20)
                ul
                    li Calories: 175
                    li Protéines: 6g.
                    li Fibres: 6g. 
                    li Sucre: 15g.
                    li Lipides: 8g. 
                    li Lipides saturées: 0.75g
                    

    .col-14
        h2.round-text.center 1.
        p Pour un résultat optimal, nous vous conseillons de tremper les dattes dans l'eau, puis de laisser reposer (15-20min). 
    .col-12
        h2.round-text.center 2.
        p Broyer tous les ingrédients secs dans le robot culinaire et incorporer graduellement les dattes. Laisser refroidir au frigidaire (10 min)
    .col-12
        h2.round-text.center 3.
        p  Faire des boules avec la texture, puis rouler dans la cassonade (optionel).
    .col-12
        h2.round-text.center 4.
        p Savourez!
        a(href="#img1")
            img.blog(src="https://farm5.staticflickr.com/4358/35903631783_dc0d2373c1_b.jpg")
        a(href="#_" class="lightbox" id="img1")
            img(src="https://farm5.staticflickr.com/4358/35903631783_dc0d2373c1_b.jpg")
            figcaption Sur cette photo, des avocats on été rajoutés !