include ../includes/_recetteheader
include ../includes/_blogpost
    .col-12 
            p Photo et recette recceuillis à partir de: <a href="http://ladernierebouchee.com/page/2/", target="_blank"> La Dernière Bouché.</a>
    .col-12
        .col-6
            h3 Ingrédients
                ul
                    li 2/3 de tasse de graines de graines de chanvre Super Aliment
                    li 2/3 de tasse de noix de grenoble
                    li 1/3 de tasse de graines de lin
                    li 18 dattes medjool dénoyautées
                    li 2 c. à table de sirop d’érable
                    li 2c. à table de miel
                    li 5 c. à table de cacao en poudre
                    li 1 1⁄2 c. à thé de cannelle moulue
                    li 1⁄2 c. à thé de muscade moulue
                    li 1⁄2 c. à thé de cardamome moulue
    .col-12
        h2.round-text.center 1.
        p.center Moudre les graines de lin à l’aide d’un moulin à café
    .col-12
        h2.round-text.center 2.
        p.center Mettre les graines de chanvre et les noix au robot culinaire et réduire le plus possible en poudre
    .col-12
        h2.round-text.center 3.
        p.center Couper finement au couteau les dattes
    .col-12
        h2.round-text.center 4.
        p.center Mixer tous les ingrédients ensemble afin de former unmélange homogène
    .col-12
        h2.round-text.center 5.
        p.center Étendre, tailler et déguster
        
        

        a(href="#img1")
            img.blog(src="https://c1.staticflickr.com/1/760/32715963621_a8d6fee627_z.jpg")
        a(href="#_" class="lightbox" id="img1")
            img(src="https://c1.staticflickr.com/1/760/32715963621_a8d6fee627_z.jpg")
            figcaption Avec la graine et la farine de chanvre on a d’excellente d’ose de protéine, de fibre, d’oméga 6&3 et de vitamine et minéraux.