//#alert
    p.center Notre boutique en ligne est lancée. Commandez dès maintenant et recevez sur tout achat 50% de réduction sur la trousse Découverte!<strong> Livraison gratuite à l'achat de 50$ et +.</strong>
#recettes
    header
    #blogheader
        script.
          function startTime() {
          var today = new Date();
          var h = today.getHours();
          var m = today.getMinutes();
          var s = today.getSeconds();
          m = checkTime(m);
          s = checkTime(s);
          document.getElementById('txt').innerHTML =
          h + ":" + m + ":" + s;
          var t = setTimeout(startTime, 500);
          }
          function checkTime(i) {
          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
          return i;
          }

        if(h <= 11 && h > 1)
            include ../includes/_photoun
        else if(h <= 21 && h > 11)
            include ../includes/_photodeux
        else
            include ../includes/_phototrois

        .container
                .row
                    .col-12
                          a.goback(href='/index')
                            i.fa.fa-home.i-header(aria-hidden='true')
                          a.goback(href='/recettes')
                            i.fa.fa-book.i-header(aria-hidden='true')
    include ../includes/_description
            .row 
                .col-12.space
                    #txt
                    h4.center Prêt en 10 minutes
                    for recettes, slug in public.recettes._data
                        if _.includes(recettes.category, 'rapide')
                            include _recette
                .col-12.space    
                    h4.center Farine de chanvre
                    for recettes, slug in public.recettes._data
                        if _.includes(recettes.category, 'farine')
                            include _recette
                .col-12.space 
                    h4.center Graines de chanvre
                    for recettes, slug in public.recettes._data
                        if _.includes(recettes.category, 'graines')
                            include _recette
