//#alert
    p.center Notre boutique en ligne est lancée. Commandez dès maintenant et recevez sur tout achat 50% de réduction sur la trousse Découverte!<strong> Livraison gratuite à l'achat de 50$ et +.</strong>
#recettes
    header
    #blogheader
        - var current= new Date()
        - var day_night= current.getHours()
        - var m= current.getMinutes()
        if (day_night<6)
            include ../includes/_photodeux
        else if (day_night<11)
            include ../includes/_photoun
        else
            include ../includes/_phototrois

        .container
                .row
                    .col-12
                          a.goback(href='/index')
                            i.fa.fa-home.i-header(aria-hidden='true')
                          a.goback(href='/recettes')
                            i.fa.fa-book.i-header(aria-hidden='true')
    include ../includes/_description
        .container    
            .row
                .col-12 
                    h2 bonjour
                    h2 #{day_night}h #{m}minutes
                .col-12
                    h4.center Prêt en 10 minutes
                    for recettes, slug in public.recettes._data
                        if _.includes(recettes.category, 'rapide')
                            include _recette
                .col-12
                    h4.center Farine de chanvre
                    for recettes, slug in public.recettes._data
                        if _.includes(recettes.category, 'farine')
                            include _recette
                .col-12
                    h4.center Graines de chanvre
                    for recettes, slug in public.recettes._data
                        if _.includes(recettes.category, 'graines')
                            include _recette
