//#alert
    p.center Notre boutique en ligne est lancée. Commandez dès maintenant et recevez sur tout achat 50% de réduction sur la trousse Découverte!<strong> Livraison gratuite à l'achat de 50$ et +.</strong>
#recettes
    header
    #blogheader
        - var current= new Date()
        - var day_night= current.getHours()
        if (day_night<12)
            include ../includes/_photoun
        else if (day_night<15)
            include ../includes/_photodeux
        else
            include ../includes/_phototrois
        .container
                .row
                    .col-12
                          a.goback(href='/index')
                            i.fa.fa-home.i-header(aria-hidden='true')
                          a.goback(href='/recettes')
                            i.fa.fa-book.i-header(aria-hidden='true')
    include ../includes/_description
            .row.center
                h2 Santé
                for recettes, slug in public.recettes._data
                    if _.includes(recettes.category, 'santé')
                        include _recette
