include ../includes/_recetteheader
include ../includes/_blogpost
    .col-12
            blockquote "C'est simple, ça goûte vraiment bon et ça me procure une méchante bonne dose de protéines et d'oméga-3 !"
            p.right -Jérémie Aubut, Shefford
    .col-12
        .col-6
            h3 Ingrédient
                ul
                    li 250 ml d'eau
                    li 250 ml de jus d'orange
                    li 1 banane
                    li 40g de graine de chanvre Superaliment
                    li Sirop d'érable au goût 
                    li Canelle au goût
                    li Vanille au goût 
                    
        .col-6
            h3 Préparatif
                ul
                    li Peller la banane et mettre les tous les ingrédients dans le mélangeur
                    li Portion: 2 personnes
                    

    .col-12
        h2.round-text.center 1.
        p.center Mettre tous les ingrédients dans un mélangeur haute vitesse
    .col-12
        h2.round-text.center 2.
        p.center Laisser tourner jusqu'à ce que le smoothie donne une texture omogène
    .col-12
        h2.center Savourez!
        a(href="#img1")
            img.blog(src="https://c1.staticflickr.com/1/312/31940533014_59907d33c9_o.jpg")
        a(href="#_" class="lightbox" id="img1")
            img(src="https://c1.staticflickr.com/1/312/31940533014_59907d33c9_o.jpg")
            figcaption Une des deux portions !
            
           