include ../includes/_recetteheader
include ../includes/_blogpost
    .col-12
        .col-6
            h3 Ingrédient
                li 3 oeufs
                li 2 courges râpés
                li 500ml farine de blé entier
                li 250ml pépites de chocolat
                li 185ml de compote de pommes non sucrée
                li 185ml sucre brun
                li 165ml de noix hachées
                li 150ml farine de chanvre
                li 30ml de graines de chanvre
                li 30ml de graines de lin
                li 30ml de graines de chia
                li 7,5ml essence de vanille
                li 5ml sel
                li 5ml bicarbonate de soude
                li 2,5ml poudre à pâte
        .col-6
            h3 Préparatif
                ul
                    li Préparation 30 min.
                    li Cuisson 20 min.
                    li 4 portions
    .col-12
        h2.round-text.center 1.
        p Battre les oeufs.
    .col-12
        h2.round-text.center 2.
        p Ajouter le sucre, l’huile et l’essence de vanille.
    .col-12
        h2.round-text.center 3.
        p Dans un autre bol, mélanger la farine, le sel, le bicarbonate de soude et la poudre à pâte.
    .col-12
        h2.round-text.center 4.
        p Incorporer les ingrédients secs aux ingrédients humides et mélanger.
    .col-12
        h2.round-text.center 5.
        p Ajouter les zucchinis râpés.
    .col-12
        h2.round-text.center 6.
        p Ajouter les noix et au choix, une tasse de pépites de chocolat au lait ou de chocolat blanc.
    .col-12
        h2.round-text.center 7.
        p Cuire au four à 350 °F pendant 25 minutes pour 12 muffins.
        a(href="#img1")
            img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/muffin_chanvre_1.jpeg")
        a(href="#_" class="lightbox" id="img1")
            img(src="https://storage.googleapis.com/chanvrequebecphoto/muffin_chanvre_1.jpeg")
            figcaption Avec la graine et la farine de chanvre on a d’excellente d’ose de protéine, de fibre, d’oméga 6&3 et de vitamine et minéraux.
