include ../includes/_recetteheader
include ../includes/_blogpost
    .col-12
            blockquote "J’ai de la difficulté à digèrer les déjeuners. Heureusement, je peux simplement déguster mon muffin au chanvre et mon café pour me soutenir jusqu’au diné"
            p.right - Milena Kukricar, Granby
    .col-12
            h2 Ingrédients
        .col-6
            h3 Secs
                ul
                    li 125 ml (1/2 tasse) de préparation ChanvreSuperaliments
                    li 250 ml (1 tasse) de farine tout usage non blanchie
                    li 125 ml (1/2 tasse) de flocons d’avoine à cuisson rapide
                    li 90 ml (6 c. à soupe) de cassonade tassée
                    li 2,5 ml (1/2 c. à thé) de poudre à pâte
                    li 2,5 ml (1/2 c. à thé) de bicarbonate de soude

            
        .col-6
            h3 Liquide
                ul
                    li 2 oeufs
                    li 125 ml (1/2 tasse) de yogourt grec naturel
                    li 60 ml (1/4 tasse) d’huile de canola
                    li 1 orange, le zeste râpé seulement
                    li 1 citron, le zeste râpé
                    li 15 ml (1 c. à soupe) de jus de citron
                    li 180 ml (3/4 tasse) de framboises fraîches
                    li 180 ml (3/4 tasse) de bleuets
             

    .col-12
        h2.round-text.center 1.
        p.center Placer la grille au centre du four. Préchauffer le four à 180°C (350°F). Préparer 12 moules à muffins.
    .col-12
        h2.round-text.center 2.
        p.center Dans un bol, mélanger la formule SuperAliment, la farine non blanchie, les flocons d’avoine, la cassonade, la poudre à pâte et le bicarbonate. Réserver.
    .col-12
        h2.round-text.center 3.
        p.center Dans un grand bol, mélanger à l’aide d’un fouet les oeufs, le yogourt, l’huile, les zestes d’agrumes et le jus de citron. Incorporer les ingrédients secs à la cuillère de bois. Ajouter les petits fruits et mélanger délicatement.
    .col-12
        h2.round-text.center 4.
        p.center Répartir la préparation dans les caissettes. Saupoudrer le dessus des muffins de pistaches. Cuire au four de 20à 22minutes ou jusqu’à ce qu’un cure-dent inséré au centre d’un muffin en ressorte propre. Laisser refroidir. 
    .col-12
        h2.center Savourez!
        a(href="#img1")
            img.blog(src="https://c1.staticflickr.com/4/3734/32458601640_66b92a22c7_z.jpg")
        a(href="#_" class="lightbox" id="img1")
            img(src="https://c1.staticflickr.com/4/3734/32458601640_66b92a22c7_z.jpg")
            
  