include ../includes/_blogheader
include ../includes/_blogpost
    .col-12
        .col-6
            h3 Ingrédient
                li Eau
                li Sel
                li Chanvre
        .col-6 
            h3 Préparatif
                li Préparation 30 min.
                li Cuisson 20 min.
                li 4 portions
    .col-12
        h2.round-text.center 1.
