include ../includes/_recetteheader
include ../includes/_blogpost
    .col-12
        .col-6
            h3 Ingrédient
                ul
                    li 3 carottes
                    li 1 courgette
                    li 1 brocoloe
                    li 1/4 oignon rouge
                    li 150ml huile canola
                    li 250ml graine de chanvre
                    li échalote au goût
                    li poivre et sel
        .col-6
            h3 Préparatif
                ul
                    li Préparation 30 min.
                    li Cuisson 20 min.
                    li 4 portions
                    

    .col-12
        h2.round-text.center 1.
        p Cuire les carottes, la courgette, le broco et le quart d'oignon dans un peu d'huile de canola.
    .col-12
        h2.round-text.center 2.
        p Rajouter une quantité de chanvre (250 ml), poivre et échalotes.
    .col-12
        h2.round-text.center 3.
        p Savourez!
        a(href="#img1")
            img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/salade_chanvre_1.jpeg")
        a(href="#_" class="lightbox" id="img1")
            img(src="https://storage.googleapis.com/chanvrequebecphoto/salade_chanvre_1.jpeg")
            figcaption Sur cette photo, des avocats on été rajoutés !