Redirect 301 / http://mt-example.com/
Redirect 301 / https://chanvreduquebec.org/ 
Redirect 301 /mission  https://chanvreduquebec.org/lechanvre/ 
Redirect 301 /alimentation https://chanvreduquebec.org/alimentation/ 
Redirect 301 /habitation https://chanvreduquebec.org/construction/ 
Redirect 301 /soinscorporels https://chanvreduquebec.org/alimentation 
Redirect 301 /textile https://chanvreduquebec.org/textile 
Redirect 301 /equipe/ https://chanvreduquebec.org/lechanvre/ 
Redirect 301 /blog/huile-de-chanvre-cosmetique https://chanvreduquebec.org/blog/soins-corporel/huile-de-chanvre-cosmetique 
Redirect 301 /blog/8-facons-de-chanvrer-le-monde https://chanvreduquebec.org/blog/construction/8-facons-de-chanvrer-le-monde 
Redirect 301 /blog/chanvre-cest-quoi https://chanvreduquebec.org/blog/%C3%A0%20propos/chanvre-cest-quoi 
Redirect 301 /blog/le-chanvre-le-super-aliment https://chanvreduquebec.org/blog/alimentation/le-chanvre-le-super-aliment 
Redirect 301 /blog/hygrothermie-le-mot-qui-change-tout https://chanvreduquebec.org/blog/beton/hygrothermie-le-mot-qui-change-tout 
Redirect 301 /blog/industrie-du-textile-detruit-notre-monde https://chanvreduquebec.org/blog/vetement/industrie-du-textile-detruit-notre-monde 
Redirect 301 /blog/pourquoi-se-vetir-en-chanvre https://chanvreduquebec.org/blog/textile/pourquoi-se-vetir-en-chanvre 
Redirect 301 /blog/entrevue-jeremie-parent https://chanvreduquebec.org/blog/entrevue/entrevue-jeremie-parent 
Redirect 301 /blog/pourquoi-chanvrequebec https://chanvreduquebec.org/blog/information/pourquoi-chanvrequebec 
Redirect 301 /blog/pourquoi-la-farine-de-chanvre https://chanvreduquebec.org/blog/alimentation/pourquoi-la-farine-de-chanvre 
Redirect 301 /blog/graine-de-chanvre-faq https://chanvreduquebec.org/blog/alimentation/graine-de-chanvre-faq 
Redirect 301 /blog/huile-de-chanvre-faq https://chanvreduquebec.org/blog/soins%20corporels/entrevue-manon-letarte 
Redirect 301 /blog/comment-construire-en-chanvre https://chanvreduquebec.org/blog/construction/comment-construire-en-chanvre 
Redirect 301 /blog/pourquoi-la-farine-de-chanvre https://chanvreduquebec.org/blog/alimentation/pourquoi-la-farine-de-chanvre 
Redirect 301 /blog/dossier-huiledechanvre https://chanvreduquebec.org/blog/general/dossier-huiledechanvre 
Redirect 301 /blog/huile-de-chanvre-cosmetique https://chanvreduquebec.org/blog/soins-corporel/huile-de-chanvre-cosmetique 
Redirect 301 /artistes/lafeuilleverte https://chanvreduquebec.org/lesmarques/chanv 
