doctype html
html(lang="fr")
  head
    
    title=(headline)

    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="referrer" content="always")
    meta(name="description" content=(metadescription))
    meta(name="theme-color", content="#75C050")
    
    link(rel="stylesheet" href="/assets/css/main.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css")
    link(href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css")
    link(rel="manifest", href="/manifest.json")
    
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#ffffff")
    
    script(src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async)
    script.
      var OneSignal = window.OneSignal || [];
      OneSignal.push(["init", {
      appId: "8e6e6913-3fc1-4f84-82ce-60634b21255f",
      safari_web_id: 'web.onesignal.auto.56640081-e0ac-44c5-9d26-db4b2624f604',
      autoRegister: true,
      notifyButton: {
      enable: true /* Set to false to hide */
      }
      }]);

  body
    != yield
    include ../public/includes/_script