include ../public/includes/_header
#description
     .container
            .row
                .col-12
                    a(href='')
                    h2=(titre)
                    p Les scientifiques ont répertorié plus de <strong>2 millions</strong> de protéines dans le monde. Animal et végétal confondue. Cette biodiversité se compose de seulement <strong>22 acides aminés</strong>! Et de ces 22 là, le corps n'a besoin que des <strong>9</strong> dits essentiels.
#proteine
    .container
        .row.center   
            .col-12
                h2 Le chanvre contient les 9 essentiels.
            .col-4
                h4 Leucine
                p Description
            .col-4
                h4 Isoleucine
                p Description
            .col-4
                h4 Valine
                p Description
            .col-4
                h4 Thréonine
                p Description
            .col-4
                h4 Phénilalanine
                p Description
            .col-4
                h4 Méthionine
                p Description
            .col-4
                h4 Lysine
                p Description
            .col-4
                h4 Tryptophane
                p Description
            .col-4
                h4 Histidine
                p Description
#omega
    .container
        .row
            .col-12
                h2 Les bon et les mauvais gras
                p Notre corps gère mieux le gras que le sucre. Le sucre il le transforme en gras et le stock. Quant au gras, il l'élimine plus facilement. Toutefois, nous n'avons pas besoin des gras trans. Le chanvre offre des <strong>Oméga 3, 6 & 9</strong>.
    .container
        .row
            .col-12.right
                h2 Un ratio parfait <strong>(1/3)</strong>
                p C'est bien d'avoir des acides gras essentiels mais il les faut en bonne proportion pour que notre corp puisse bien les utilisé et ne pas souffrir de carrance.
            .col-4.center
                h3 Oméga 3
                p Description
            .col-4.center
                h3 Oméga 6
                p Description
            .col-4.center
                h3 Oméga 9
                p Description
#fibre
    .container
        .row
            .col-12
                h2 Les fibres, plus utilent qu'on pense
                p Les fibres sont un essentiel de notre bonne santé! 
#vitamine
    .container
        .row   
            .col-12.center
                h2 Des vitamines et minéraux en grande quantité
        .row
            .col-6
                .col-12
                    h4 salut
                    p description
                .col-12
                    h4 salut
                    p description
                .col-12
                    h4 salut
                    p description
            .col-6.chanvre_two
include ../public/includes/_footer