include ../public/includes/_header

#description
     .container
            .row
                .col-12
                    a(href='')
                    h3=(titre)
                    p Difficile de trouver un aliment avec un apport nutritif aussi équilibré et efficace que la graine de chanvre. Avant tout, c’est la source de<strong> protéine végétale </strong> par excellence. C’est l’ingrédient idéal pour tout ceux qui aspirent à des habitudes de vie saine. 
                .col-8.line

#description
     .container
            .row
                .col-12.right
                    a(href='')
                    h2 Mais les protéines c'est quoi ?
                    p Les scientifiques ont répertorié plus de <strong>2 millions</strong> de protéines dans le monde. Cette biodiversité se compose de seulement <strong>22 acides aminés</strong>! Et de ces 22, il y en a 9 que le corps ne peut synthétiser par lui même, on les surnomme les <strong>acides aminés essentiels</strong>.
#proteine
    .container
        .row.center   
            .col-12
                h2 Le chanvre contient les 9 essentiels.
            .col-4
                h4 Leucine
            .col-4
                h4 Isoleucine
            .col-4
                h4 Valine
            .col-4
                h4 Thréonine
            .col-4
                h4 Phénilalanine
            .col-4
                h4 Méthionine
            .col-4
                h4 Lysine
            .col-4
                h4 Tryptophane
            .col-4
                h4 Histidine

#omega
    .container
        .row
            .col-12
                h2 Les bons et les mauvais gras
                p <strong>Ça tombe drôlement bien.</strong> Le chanvre est l'une des meilleurs sources de bons gras (les <strong>Omégas-3, 6 & 9</strong>) et ne contient aucun gras trans. Cette combinaison est riche en bénéfices pour votre santé. Voici ce que les acides gras essentiels, que l’on retrouve dans les Omégas-3 & 6, ont à vous offrir:
        .row.center
            .col-4
                p Contribuent à la santé du coeur
            .col-4
                p Favorisent la perte de poids
            .col-4
                p Stimulent le système immunitaire
            .col-4
                p Contribuent au développement normal du cerveau
            .col-4
                p Agissent dans la prévention de plusieurs maladies
            .col-4
                p Jouent un rôle anti-inflammatoire
                
    .container
        .row
            .col-12.center
                h3 Un ratio parfait <strong>(1/3)</strong>
                p <strong> Attention </strong> ! Les études ont démontré que la proportion d’Oméga-3 par rapport aux Oméga-6 que l’on consomme doit être balancée pour réduire les maladies inflammatoires et contribuer à la santé du coeur. Ce fameux ratio optimal, d’environ 1g d'Oméga-3 par 3g d’Oméga-6, est respecté avec brio par les dérivés de la graine de chanvre… À notre plus grand bonheur!


 
#vitamine
    .container
        .row   
            .col-12.center
                h2 Des vitamines et minéraux en grande quantité
        .row
            .col-12.center
                .col-6
                    h4 Vitamine E
                .col-6
                    h4 Fer
                .col-6
                    h4 Phosphore
                .col-6
                    h4 Magnésium
                .col-6
                    h4 Zinc
                .col-6
                    h4 Potassium
#fibre
    .container
        .row
            .col-12
                h2 Des fibres à la tonne!
                p Les fibres sont essentielles à notre bonne santé! 1/4 de tasse de farine Chanvre Superaliment représente plus de la moitié de votre apport quotidien en fibres suggéré par Santé Canada.
            //.col-6.chanvre_two
include ../public/includes/_footer
