#produits
    include ../public/includes/_header
    include ../public/includes/_description
    //.container
        .row.center
            for feuille, slug in public.lafeuille._data
                include ../public/lafeuille/_lafeuille
    //.container
        .row.center
            for numero, slug in public.seqoia._data
                include ../public/seqoia/_seqoia
    .container
        .row.center
            for produit, slug in public.produits._data
                    include ../public/produits/_produit
    include ../public/includes/_footer