include ../public/includes/_header
//include ../public/includes/_mission
#vision
     .container
            .row
                .col-12
                    a(href='')
                    h2 Qui sommes-nous ?
                    p Un organisme à but non-lucratif, fondée par de jeunes visionnaires, qui a pour objectif d'offrir des solutions saines et durables aux defis d’aujourd’hui. Par-dessus tout, nous sommes passionnées par notre mission de promouvoir une plante qui nous permet de reconnecter avec notre environnement. Notre vision est axée sur le développement durable, le vrai. Voici les trois axes qui composent notre philosophie. Dans le but premier que, tous ensemble, on chanvre le monde.
 #calltoaction
 .container
        .row
          .col-12.right
                    a(href='')
                    h2 Faire briller le Québec
                    p Ensemble, nous avons le pouvoir d’évoluer sur le plan collectif et de transformer pour le mieux nos habitudes de vies grâce au chanvre.  Heureusement pour nous, le chanvre se cultive déjà abondamment au Québec et nous avons des artisans hors pair. C'est avec leur aide que nous souhaitons vous offrir des produits mieux adaptés à vos besoins réels
                p
                a(href="artisans")
                    button.btn-secondary Découvrez les artisans
#environnement
     .container
            .row
                .col-12
                    a(href='')
                    h2 Conscience environnementale
                    p Nos actions et nos façons de procéder sont en harmonie avec notre amour pour damne nature. C’est un privilège d’habiter sur cette Terre. Notre rêve, c’est que tous les produits nocifs qui nous entourent soit remplacés par le pouvoir d’une plante. L’éco-conception et <strong> l'innovation </strong>sont au coeur de notre stratégie pour y parvenir. Tous les produits qui se retrouvent dans notre site sont conçus avec un souci pour l’environnement. Nous avons choisis des boîtes durable en carton biodégradable en guise d'emballage pour nos produits alimentaires, les vêtements sur le site seront toujours composés de coton biologique et les produits de soins corporels sont entièrement naturels et écologiques.
        
#economique
     .container
            .row
                .col-12.right
                    a(href='')
                    h2 Prosperité
                    p Pour avoir un impact significatif dans la vie des gens et de créer des richesses économiques  dans notre environnement, il nous est impérial d’être rentable. Sans avoir pour objectif la profitabilité, la rentabilité demeure une contrainte primordiale à notre prospérité. La prospérité nous permet de mettre au point des innovations et de proposer des solutions <strong> saines</strong> et <strong> durables </strong>grâce au chanvre.
                p
                a(href="artisans")
                    button.btn-secondary Faire un don
include ../public/includes/_footer