include ../public/includes/_header
#contact-form
    .container    
        .row
            .col.12.center
                form
                    input(type='text', required='')
                    label(for='name') Name
                    input(type='email', required='')
                    label(for='email') E-mail
                    input(type='text', required='')
                    labe(for='message') Message
                    input(type='submit', value='Submit')


include ../public/includes/_footer