include ../public/includes/_header
//include ../public/includes/_mission
#vision
     .container
            .row
                .col-12
                    a(href='')
                    h2 Qui sommes-nous ?
                    p Un organisme à but non-lucratif, fondée par de jeunes visionnaires, qui a pour objectif d'offrir des solutions saines et durables aux problèmes d’aujourd’hui. Par-dessus tout, nous sommes passionnées par notre mission de promouvoir une plante qui nous permet de reconnecter avec notre environnement.
#nous
     .container
            .row.right
                .col-12
                    a(href='')
                    h2 Faire briller les artisans Québecois
                    p Ensemble, nous avons le pouvoir d’évoluer sur le plan collectif et de transformer pour le mieux nos habitudes de vies grâce au chanvre. 
                    p Pour parvenir à populariser notre plante emblématique, nous allons oeuvrer en symbiose avec des compagnies d’ici qui se battent corps et âme pour le chanvre. Nous allons les aider à se démarquer!
include ../public/includes/_footer