include ../public/includes/_header
#soinscorpo
     .container
            .row
                .col-12
                    a(href='')
                    h2=(titre)
                    p Nos maisons représentent l’investissement d’une vie. Idéalement, elles devraient représenter un havre de paix où on y élève une famille dans un environnement sain. La réalité est que les maisons actuelles ne sont pas adaptées à nos besoins et à notre climat québécois. On dépense des fortunes en argent et en énergie pour les entretenir et les rendre confortables. Il est temps de découvrir une habitation qui est réellement en harmonie avec son environnement. Des murs qui respirent et qui s’ajustent aux fluctuations de température extérieures. Des matériaux naturels qui vous offrent une meilleure qualité d’air. Une structure naturellement à l’épreuve du feu et des attaques de rongeurs. Découvrez une maison écologique et confortable qui nous correspond réellement.
#soinscorpo
     .container
            .row.center
                .col-12.right
                    a(href='')
                    h3 Efficacité energetique
                    p Ce qui rend le chanvre si exceptionnel et distinct de tous les autres matériaux d’isolation est son caractère vivant. Le béton de chanvre, enduit avec un fini naturel, a l’avantage d’agir comme une masse thermique très efficace. Par conséquent, les murs ont la capacité d’emmagasiner les surplus de chaleur et de les restituer dans l’air lorsque c’est nécessaire. Un mur ordinaire va se comporter comme une barrière, alors que le mur en chanvre va régulariser la température et gérer l’humidité. Résultat: fortes économies sur vos factures d’énergie. 
#soinscorpo
     .container
            .row
                .col-12
                    a(href='')
                    h3 Confort hygrotermique 
                    p Pour diminuer les efforts en énergie et maximiser le confort, vous en conviendrez qu’une maison doit s’adapter à son climat et aux changements de température. Le mur en chanvre respire, ce qui lui permet de contrôler intuitivement l’humidité relative dans la demeure. Les maisons en chanvre sont ainsi tempérées, on profite d’une température ambiante de 21 degrés durant toute l’année sans être énergivore. On choisit une maison en chanvre avant tout pour le confort qu’elle procure.
#soinscorpo
     .container
            .row
                .col-12.right
                    a(href='')
                    h3 Respect de l'environnement
                    p La production de maison en chanvre peut être un outil important dans la lutte au changement climatique. Tous les matériaux qui sont utilisés dans le béton de chanvre sont naturels. L’isolant en chanvre est issu de matières renouvelables et non de la pétrochimie. C’est son empreinte écologique carbonégative qui en épate plus d’un. Vous avez bien compris: carbonégative. Des études ont démontré qu’une maison en chanvre de taille moyenne est en mesure de récupérer jusqu’à 20 tonnes de CO2 à l’intérieur même de ses murs. Cette propriété qu’a le chanvre lui permet par la même occasion de nettoyer les particules organiques volatiles présentes dans l’air de la demeure. Sans oublier que la culture de chanvre enrichit les sols agricoles et ne requière aucun pesticide et peu d’irrigation.
#soinscorpo
     .container
            .row
                .col-12
                    a(href='')
                    h3 Durabilité legendaire
                    p Avec le temps, le béton de chanvre va se pétrifier, tout comme la pierre, afin de se solidifier d’année en année. C’est un mur ininflammable, la France nous l’a prouvé. Et c’est en raison de cette composition de pierre calcaire que les rongeurs et insectes n’attaquent pas la demeure. Les murs en chanvre aident par ailleurs à prévenir les infiltrations d’eau et intervenir plus rapidement en cas de sinistre. Avec la maison en chanvre, on réduit le temps d’entretien et on se met à l’abri des incendies et des infestations de rongeurs.
#soinscorpo(style="background-color: ##F9F9F9;")
            .row.center
                .col-12
                    h3 Demandez un estimé !
                .col-6
                    h4 ArtCan
                    p Le pionner de la construction de chanvre au Québec !
                    a(href="http://maisonenchanvre.com/")
                        button Visitez-le 
                .col-6
                    h4 Art du Chanvre
                    p Littéralement des oeuvres d'art !
                    a(href="http://artduchanvre.com/")
                        button Visitez-le 
include ../public/includes/_footer