include ../public/includes/_header
include ../public/includes/_mission
include ../public/includes/_modal-a
include ../public/includes/_chanvre
//include ../public/includes/_artistesliste
#soinscorpo.center
    .container
        .row
            .col-12.center
                h2 Découvrez des produits d'ici
                p Des artisans consacrés et passionnés!
                a(href="/produits")
                    button.btn-secondary Découvrez nos produits
#produits
    .container
            .row.center
                    //- var feuille = public.lafeuille._data[public.lafeuille._contents[0].toString().replace('.html', '')]  
                          include ../public/lafeuille/_lafeuille
                    //.col-4.hidden
                    //- var numero = public.seqoia._data[public.seqoia._contents[0].toString().replace('.html','')] 
                          include ../public/seqoia/_seqoia
                    for produit, slug in public.produits._data
                        if _.includes(produit.id, '3')
                            include ../public/produits/_produit
                    for produit, slug in public.produits._data
                        if _.includes(produit.id, '1')
                            include ../public/produits/_produit 
                    for produit, slug in public.produits._data
                        if _.includes(produit.id, '8')
                            include ../public/produits/_produit
#indexblog(style="background-color: #F9F9F9")
    .container
        .row
            .col-12
                a(href="/blog")
                    h2 Nos articles de blogue
                br
                for post, slug in public.blog._data
                    if _.includes(post.tags, 'article vedette')
                        include ../public/blog/_post
include ../public/includes/_newsletter
#instagram(style="background-color: #F9F9F9")
    .container
        .row
            .col-12
                .center
                    h2 Facebook et Instagram
                    .fb-like(data-href='https://www.facebook.com/chanvrequebec/', data-layout='button_count', data-action='like', data-size='large', data-show-faces='true', data-share='false')
#photo(style="background-color: #F9F9F9")
    .row
        #instafeed
.container
    .row
        .col-12
            svg(width='48px', height='48px', viewbox='0 0 48 48', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
              // Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch
              desc Created with Sketch.
              defs
                filter#filter-1(x='-13.8%', y='-11.2%', width='132.5%', height='132.5%', filterunits='objectBoundingBox')
                  feoffset(dx='1', dy='2', in='SourceAlpha', result='shadowOffsetOuter1')
                  fegaussianblur(stddeviation='1.5', in='shadowOffsetOuter1', result='shadowBlurOuter1')
                  fecolormatrix(values='0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.231148098 0', type='matrix', in='shadowBlurOuter1', result='shadowMatrixOuter1')
                  femerge
                    femergenode(in='shadowMatrixOuter1')
                    femergenode(in='SourceGraphic')
              g#Welcome(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                g#content_blog_post(transform='translate(-262.000000, -264.000000)')
                  g#btn-star(filter='url(#filter-1)', transform='translate(265.000000, 266.000000)')
                    circle#Oval-2(stroke='#979797', fill='#D8D8D8', cx='20', cy='20', r='20')
                    polygon#Star(fill='#FF6666', points='20 27 11.7710065 31.3262379 13.3426044 22.163119 6.68520877 15.6737621 15.8855032 14.336881 20 6 24.1144968 14.336881 33.3147912 15.6737621 26.6573956 22.163119 28.2289935 31.3262379')


include ../public/includes/_footer