include ../public/includes/_header-index
#casquette
  .container
      .row
          .col-12
              .center
                  h2 On fait peau neuve! 
                  p Nous avons un nouveau site en préparation et nous voulons votre avis!
                  a(href="https://chanvreduquebec.org")
                    img(src="https://farm5.staticflickr.com/4677/26214204458_d66acedf1d_b.jpg" max-height="500px" width="100%")
              .center
                  a(href="https://chanvreduquebec.org")
                      button.btn-secondary Voir le nouveau site
include ../public/includes/_mission
include ../public/includes/_modal-a
include ../public/includes/_chanvre
//include ../public/includes/_artistesliste
#indexblog(style="background-color: #F9F9F9")
    .container
        .row
            .col-12
                a(href="/blog")
                    h2 Nos articles de blogue
                br
                for post, slug in public.blog._data
                    if _.includes(post.tags, 'article vedette')
                        include ../public/blog/_post
include ../public/includes/_footer
