include ../public/includes/_header-index
include ../public/includes/_mission
include ../public/includes/_modal-a
include ../public/includes/_chanvre
.jumbotron.fete-mere-container
    .container
        .row
            .col-12
                h2(style="color: black;") Pour la fête des mères, on vous offre ces 3 produits à petit prix ! <span class="price">$69</span>
            for produit, slug in public.produits._data
                if _.includes(produit.tag, 'fetemere')
                    include ../public/produits/_produit-fetemere
            .col-12
                .center
                    a(href="produits/fete-mere")
                        button.btn-fetemere Voir l'offre
//include ../public/includes/_artistesliste
#soinscorpo.center
    .container
        .row
            .col-12.center
                h2 Découvrez des produits d'ici
                p Des artisans consacrés et passionnés!
                a(href="/produits")
                    button.btn-secondary Découvrez nos produits
                    
            for produit, slug in public.produits._data
                if _.includes(produit.tags, 'index-feed')
                    include ../public/produits/_produit
#indexblog(style="background-color: #F9F9F9")
    .container
        .row
            .col-12
                a(href="/blog")
                    h2 Nos articles de blogue
                br
                for post, slug in public.blog._data
                    if _.includes(post.tags, 'article vedette')
                        include ../public/blog/_post
include ../public/includes/_newsletter
#instagram(style="background-color: #F9F9F9")
    .container
        .row
            .col-12
                .center
                    h2 Facebook et Instagram
                    .fb-like(data-href='https://www.facebook.com/chanvrequebec/', data-layout='button_count', data-action='like', data-size='large', data-show-faces='true', data-share='false')
#photo(style="background-color: #F9F9F9")
    .row
        #instafeed
include ../public/includes/_footer
