include ../public/includes/_header
.container
    .row
        .col-12
            h3 Partenaires
            p 
                | Pour commencer, notre plate-forme d'achat est fournis par Snipcart, une entreprise situé à Québec qui offre une belle solution pour intégrer des fonctions e-commerce sur un site web. 
                br
                | Nos livraisons sont effectué par Poste Canada à travers le Québec. 
        .col-12
            h3 Tarifs de livraison
            p 
                | La livraison est gratuite partout au Québec pour toutes les commandes de plus de 50$ avant taxes. Si votre commande ne dépasse pas 50$ avant taxes, des frais de 9$ seront applicables. 
        .col-12
            h3 Délai de livraison
            p 
                | Le délai de livraison varie entre 2 et 7 jours ouvrables à partir de la date d’expédition. En général, les colis sont expédiés dans un délai de 24h suivant votre achat, à moins de situations exceptionnelles. Des conditions météorologiques difficiles ou une situation exceptionnelle pourraient retarder le délai de livraison. Dans une telle situation, nous prenons la responsabilité de communiquer avec vous.
        .col-12
            h3 Conditions générales de retour
            p 
                | Les commandes peuvent être retournées, pour quelque raison que ce soit, dans un délai de 30 jours à compter de la date de livraison. Les frais de livraison de retour seront à votre charge. Le remboursement est effectué dans un délai de cinq jours ouvrable à partir du moment que nous avons reçu votre commande. Les produits ne doivent pas avoir été ouverts et les sceaux de sécurité devront être intacts afin que nous puissions procéder à votre remboursement. 
        .col-12
            h3 Erreur & produits endommagés
            p 
                | Si vous n’avez pas reçu le bon produit ou si vous avez reçu un produit endommagé, veuillez communiquer avec nous par courriel (info@chanvrequebec.com) dans les plus brefs délais pour que nous puissions corriger la situation.       
        .col-12
            h3 Procédure de retour
            p 
                | Vous devez tout d’abord communiquer avec nous par courriel (info@chanvrequebec.com) et nous vous fournirons les détails pour la procédure de retour.
include ../public/includes/_footer