include ../public/includes/_header
.container
    .row
        .col-12
            h2 Snipcart
            p 
                | Pour commencer, notre plate-forme d'achat est fournis par Snipcart, une entreprise situé à Québec qui offre une belle solution pour intégrer des fonctions e-commerce sur un site web. 
                br
                | Nos livraisons sont effectué par Poste Canada à travers tout le Canada. 
        
include ../public/includes/_footer