include ../public/includes/_header-produits
.container
    .row
        .col-12 
            .center
                .fb-like(data-href='https://chanvrequebec.com/map-chanvre', data-layout='button_count' data-action="like" data-size="large" data-show-faces="true" data-share="true")
            h3 L'idée derrière la map
            p La Route du Chanvre identifie tous les producteurs, artisans, entrepreneurs et distributeurs des produits du chanvre au Québec. Il ne s'agit que d'un début, nous comptons sur vous pour nous aider à remplir cette carte et nous faire découvrir tout ce qui se fait au Québec.
.container
    .row
        .col-12
            .center
                iframe(src="https://www.google.com/maps/d/embed?mid=1vFX3W8s9LprAGc7E_xIbGyH9wWs" width="100%" height="480") 
#majouter
.container
    .row   
        .col-12
            .center
                h4 Envoyer mes infos d'entreprise
                p C'est simple, clicquer sur le boutton "Envoyer" pour ouvrir une page email.
                a(href="mailto:map@chanvrequebec.com")
                    button.btn-secondary Envoyer
include ../public/includes/_footer