include ../public/includes/_header
.container
    .row
        .col-12 
            h3 L'idée derrière la map
            
.center
    iframe(src="https://www.google.com/maps/d/embed?mid=1vFX3W8s9LprAGc7E_xIbGyH9wWs" width="100%" height="480") 
#majouter
.container
    .row   
        .col-12
            .center
                h4 Envoyer mes infos d'entreprise
                p C'est simple, clicquer sur le boutton "Envoyer" pour ouvrir une page email.
                a(href="mailto:map@chanvrequebec.com")
                    button.btn-secondary Envoyer
include ../public/includes/_footer