include ../public/includes/_header
include ../public/includes/_description

#soinscorpo.center(style="background-color: #F9F9F9")
    .container
        .row
            .col-12
                h3 La feuille verte
                p Une entreprise bromontoise qui fait des produits fantastiques et naturels à base de chanvre :).
                a(href='/artistes/lafeuilleverte')
                    button.btn-secondary Découvrez la
include ../public/includes/_footer