include ../public/includes/_header
#soinscorpo
     .container
            .row
                .col-12
                    a(href='')
                    h2=(titre)
                    p Selon les recherches scientifiques, l'huile de chanvre est la plus complète et la plus efficace des huiles naturelles utilisées en cosmétiques. On l’utilise généralement en harmonie avec d’autres ingrédients naturels pour produire des crèmes, des lotions, des baumes et des shampooings aux vertus phénoménales.
#soinscorpo
     .container           
           .row.center
                .col-12.right
                    a(href='')
                    h3 Propriété ultra-hydratante
                    p Elle est la seule huile végétale ayant un ratio idéal d'Oméga-3 et d’Oméga-6. Ce profil est proche des lipides naturels de la peau. Ainsi, l’huile de chanvre est en mesure de pénétrer et hydrater la peau rapidement, ce qui en fait une huile de choix pour tous les soins de la peau.
#soinscorpo
     .container  
            .row
                .col-12
                    a(href='')
                    h3 Nourrit la peau
                    p On oublie trop souvent que notre peau est une membrane de notre corps qui exige également d’être bien alimentée. L’huile de chanvre, c’est littéralement de la nourriture pour la peau. Grâce à ses AGE (acides gras essentiels), l'huile de chanvre apporte à la peau ses composantes essentiels.
#soinscorpo
     .container  
            .row
                .col-12.right
                    a(href='')
                    h3 Action anti-âge
                    p Les recherches scientifiques de l’université des sciences et technologies pharmaceutiques de Turin démontrent en 2005 que les propriétés antioxydantes et anti-inflammatoires de l’huile de chanvre agissent contre le processus de vieillissement tout en apaisant la peau. Les AGE (Acides gras essentiels) présents en forte quantité dans l’huile de chanvre restructurent la membrane cellulaire pour contrer les agressions des radicaux libres.  
#soinscorpo
     .container 
            .row
                .col-12
                    a(href='')
                    h3 Anti-inflammatoire
                    p L’huile de chanvre agit comme un anti-inflammatoire naturel. Les A.G.E. jouent un rôle important pour réduire les symptômes de nombreuses maladies de la peau, tels que l’eczéma, le psoriasis et l’acné. C'est une huile particulièrement efficace pour soulager les peaux irrités.
#soinscorpo
     .container 
            .row
                .col-12.right
                    a(href='')
                    h3 Soigne les rougeurs
                    p L’huile de chanvre renforce les parois veineuses et améliore la circulation sanguine, atténuant ainsi la visibilité des veines superficielles. Elle active la microcirculation et réduit la rougeur. L’huile de chanvre est donc particulièrement adaptée contre la couperose et la rotacée. 
#soinscorpo.center(style="background-color: #F9F9F9")
    .container  
         .row
            .col-12
                h2 La Feuille Verte
                p Une entreprise bromontoise qui fait des produits de cosmémtiques écologiques et entièrement naturels à base de chanvre. L’huile de chanvre employée dans leurs recettes est cultivée et transformée ici même au Québec.
                a(href='/artistes/lafeuilleverte')
                    button.btn-secondary Découvrez la
            for produit, slug in public.produits._data
                        if _.includes(produit.id, '3')
                            include ../public/produits/_produit 
            for produit, slug in public.produits._data
                        if _.includes(produit.id, '4')
                            include ../public/produits/_produit 
            for produit, slug in public.produits._data
                        if _.includes(produit.id, '5')
                            include ../public/produits/_produit 
include ../public/includes/_footer