include ../public/includes/_header
include ../public/includes/_description

#soinscorpo.center(style="background-color: #F9F9F9")
    .container
        .row
            .col-12
                h3 Seqoia
                p Une entreprise de Granby qui fait des designs fantastiques et naturels à base de chanvre :).
                a(href='/artistes/seqoia')
                    button.btn-secondary Découvrez la
                    
include ../public/includes/_footer