include ../public/includes/_header
#description
     .container
            .row.center
                .col-12
                    a(href='')
                    h2=(titre)
                    p Ce qui est beau avec le vêtement de chanvre, c’est qu’il nous permet de répondre à un besoin essentiel grâce à un tissu sain, autant pour nous que pour la planète.
#description
     .container
            .row
                .col-12
                    a(href='')
                    h3 L'histoire
                    p Le textile de chanvre est connu comme le plus vieux textile à avoir été utilisé par l’Homme (par les moines chinois). La famille impériale et les prêtres japonais étaient traditionnellement vêtus de chanvre. Aux États-Unis, les premiers présidents américains le cultivaient. Un centenaire plus tard, des designers de renom comme Calvin Klein et Levi’s l’ont employé dans leurs créations. C’était la période de gloire du chanvre. Tout cela était bien réel avant que des individus, avides de richesse et avec des intérêts dans les industries pétrochimiques et forestières, commirent le plus grand drame écologique de l’histoire moderne: criminaliser la culture du chanvre industriel. 
                    p Plus de 60 ans ont passé et l’industrie du textile de chanvre renaît désormais de ses cendres. Pourquoi George Washington préférait ce textile à tous les autres pour fabriquer des voiles dans les navires de la Guerre d’indépendance? Qu’est-ce qui a pu justifier que les détracteurs du chanvre aient levé l’interdiction qui pesait sur la culture du chanvre pendant la Deuxième Guerre Mondiale? Comment peut-on expliquer que les Japonais considèrent encore aujourd’hui le textile de chanvre comme un tissu divin, symbole suprême de la pureté? On peut finalement découvrir ce précieux tissu à notre tour.
#description
     .container
            .row.right
                .col-12
                    a(href='')
                    h3 Confortable
                    p Les fibres de chanvre sont poreuses formant un tissu qui respire et qui possède une belle isolation thermique vous gardant au chaud en hiver et au frais en été. Il n’y a qu’un secret à retenir: il s’adoucit avec les lavages.
#description
     .container
            .row
                .col-12
                    a(href='')
                    h3 Rigide et durable
                    p Le textile de chanvre est votre choix de prédilection si vous souhaitez des vêtements qui vont vous durer longtemps. C’est pourquoi les meilleures cordes sont en chanvre.

#description
     .container
            .row.right
                .col-12
                    a(href='')
                    h3 Protège la peau
                    p Non seulement il n’est pas issu de procédés chimiques pour sa production, mais le textile de chanvre a également pour propriété de nous protéger des menaces externes. Antibactérien et presque 100% résistant aux rayons UV. 
#description
     .container
            .row
                .col-12
                    a(href='')
                    h3 Bon pour l’environnement
                    p Le chanvre est un tissu naturel qui n’implique pas de matières ou de procédés chimiques comme pour les tissus synthétiques (le polyester, par exemple). Ensuite, pour produire la même quantité de textile, le chanvre consomme quatre fois moins d’eau que le coton. On pulvérise des pesticides et on pollue l’environnement avec la culture de coton alors qu’on capture les CO2 dans l’air avec un champ de chanvre. 
#soinscorpo.center(style="background-color: #F9F9F9")
    .container
        .row
            .col-12
                h3 Seqoia
                p Une entreprise de Granby qui fait des designs fantastiques et naturels à base de chanvre.
                a(href='/artistes/seqoia')
                    button.btn-secondary Découvrez
                    
include ../public/includes/_footer