#modaldarko.modal.green(role='dialog', aria-labelledby='modalA-title', aria-describedby='modalA-description')
    for equipe, slug in public.equipe._data
        if _.includes(equipe.id, '1')
            include _equipeheader
    #modalequipe
            a.modal-a(href='#', title='close') ×
            .container
                .row
                    .col-12
                        h1 Darko Popovic
                        h6 co-fondateur
                    .col-12
                        p 
                        | Je me suis donner pour mission de vie d’avoir un impact positif sur mon  environnement.  Venir en aide à la Terre et contribuer aux bien-être des gens, c’est ce qui donne un sens à ma vie. Jechanvre, parce que c’est une plante qui correspond à mes convictions et à mes valeurs. À ma vision d’un monde meilleur.
                    .col-12.center
                        button.btn-secondary Visite mon blog!
                    .col-12
                        h2 Les articles que j'ai écrit ici !
                        for post, slug in public.blog._data
                            if _.includes(post.auteur, 'Darko Popovic')
                                include ../blog/_post
