for equipe, slug in public.equipe._data
    if _.includes(equipe.id, '1')
        include _equipeheader
#modalequipe
        a.modal-a(href="/equipe") ×
        .container
            .row
                .col-12
                    h1 Darko Popovic
                    h6 co-fondateur
                    .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')

                .col-12
                    p 
                    | Ma mission est d’avoir un impact positif dans mon  environnement. Je rêve de remplacer tous ce qui nous entoure par des solutions végétales. Je chanvre, parce que c’est une plante qui correspond à ma vision d’un monde meilleur.
                .col-12.center
                    button.btn-secondary Visite mon blog!
                .col-12
                    h2 Les articles que j'ai écrit ici !
                    for post, slug in public.blog._data
                        if _.includes(post.auteur, 'Darko Popovic')
                            include ../blog/_post
