include ../includes/_header
include _modaldarko
include _modalje
.container
    .row
        .col-12
            h2 Notre passion et notre solidarité font de nous une l'équipe que nous sommes !
    .container
        .row    
            .col-12
                for equipe, slug in public.equipe._data
                    if _.includes(equipe.tag, 'chef')
                        include _membre
include ../includes/_footer