include ../includes/_header
include _modaldarko
include _modalje
.container
    .row
        .col-12
            h2 Nous sommes passionné par l'idée du changement à travers le respect de soi-même et de l'environnement!
    .container
        .row    
            .col-12
                for equipe, slug in public.equipe._data
                    if _.includes(equipe.tag, 'chef')
                        include _membre
include ../includes/_footer