include ../includes/_header
include _modaldarko
include _modalje
include _modalgab
.container
    .row
        .col-12
            h2 Nous avons fait le serment de servir les intérêts du chanvre.
            blockquote “Seuls ceux qui sont assez fous pour penser qu'ils peuvent changer le monde y parviennent” - Steve Jobs.
    .container
        .row    
            .col-12
                for equipe, slug in public.equipe._data
                    if _.includes(equipe.tag, 'chef')
                        include _membre
    .container
        .row
            .col-12 
                a(href="gabriel_marcoux")
                    button.btn-secondary Gab
include ../includes/_footer