for equipe, slug in public.equipe._data
    if _.includes(equipe.id, '4')
        include _equipeheader
#modalequipe
        a.modal-a(href="/equipe") ×
        .container
            .row
                .col-12
                    h1=nom
                    h6=titre
                    .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
                .col-12
                    p  Le chanvre. Le changement. Le mot changement a une connotation assez controversée. D’un point de vue on peut le percevoir comme une amélioration, bonification, évolution, élévation, etc. D’un autre, des mots comme instabilité, bouleversement, dérangement,  inconnu peuvent venir à l’esprit. 
                    
                    p Je veux en venir au point où le chanvre est pour moi plus qu’un produit, mais bien un changement de mode de vie qui n’a que du bon comme répercussion pour soi et l’environnement qui nous entoure. Selon moi, chaque petit changement est le moteur de grand mouvement et le chanvre est l’un d’eux. J’ai toujours voulu avoir un impact positif sur mon environnement (probablement comme tous les membres de ce projet) et faire la promotion de cette plante aux mille attributs me semble être une juste cause. #JeChanvre 
                    
                    p Peu être suis-je idéaliste, mais comme le dit Alexander Ruperti:
                    blockquote "La résistance au changement n’est que le refus de la croissance." 
                    .right
                        span.writer - Alexander Ruperti