for equipe, slug in public.equipe._data
    if _.includes(equipe.id, '6')
        include _equipeheader
#modalequipe
        a.modal-a(href="/equipe") ×
        .container
            .row
                .col-12
                    img(src='http://chanvrexpert.com/images/logo.png', width='20%')
                    h1=nom
                    h6=titre
                    h6 1 418 234-5780
                    a(href="mailto:marcbeaulieuagr@outlook.com")
                      h6 marcbeaulieuagr@outlook.com
                    a(href="https://www.google.ca/maps/place/36+Route+Gaspard,+Sainte-Louise,+QC+G0R+3K0/@47.2732083,-70.1137572,17z/data=!3m1!4b1!4m5!3m4!1s0x4cbedd71669ca5a3:0x39069ae3d90e5a34!8m2!3d47.2732047!4d-70.1115685", target="_blank")
                      h6 36, route Gaspard, Sainte-Louise (QC) Canada G0R 3K0
                    .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
            .row-box
              .col-12.center
                h3  Documents
              .col-box.docu.center
                a(href='http://chanvrexpert.com/pdf/Guide%20production%20graine%20chanvre%20bio.pdf', target='_blank')
                  i.fa.fa-file-pdf-o(aria-hidden='true')
                  p Guide de production
              .col-box.docu.center
                a(href='http://chanvrexpert.com/pdf/Fiche%20culture%20graine%20chanvre%20bio%202013.pdf', target='_blank')
                  i.fa.fa-file-pdf-o(aria-hidden='true')
                  p Fiche de culture
              .col-box.docu.center
                a(href='http://chanvrexpert.com/pdf/ChanvreExpert-Depliant.pdf', target='_blank')
                  i.fa.fa-file-pdf-o(aria-hidden='true')
                  p Dépliant Chanvre Expert
            .row
                .col-12
                    h3 Chanvre Expert
                    p Un service d'agronome spécialisé pour le chanvre industrielle québécois.
            .row-box
              .col-box.docu.center
                h5 PRINTEMPS
                p Choix des champs
                p Évaluation des sols
                p Calibration des semoirs
                p Évaluation des semis
              .col-box.docu.center
                h5 ÉTÉ
                p Dépistage des mauvaises herbes, insectes et maladies
                p Recommandations phytosanitaires
                p Visite aux champs, diagnostique, consultation
                p Régie de culture
                p Transfert technologique
              .col-box.docu.center
                h5 AUTOMNE
                p Suivi post-récolte
                p Gestion de la qualité
                p Calibration de la moissoneuse-batteuse
                p Séchage et conditionnement (grain et paille)
              .col-box.docu.center
                h5 HIVER
                p Transition vers l’agriculture biologique
                p Rotation des cultures
                p Fertilisation (PAEF)
                p Demande de licence (Santé Canada)
                p Projets et essais
            .row
                .col-12
                    h3.center Services Conseilles
                    li Production de grain et de paille
                    li Biologique et conventionnel
                    li Conférences et formations
                    li Projets et essais
                    li Transition biologique
                    .right
                        span.writer - Marc Beaulieu agr.
