for equipe, slug in public.equipe._data
    if _.includes(equipe.id, '5')
        include _equipeheader
#modalequipe
        a.modal-a(href="/equipe") ×
        .container
            .row
                .col-12
                    h1 Paul Renon
                    h6 Gestion des systèmes d'opérations
                    .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
                .col-12
                    p 
                    | Bien plus qu’un simple produit, le chanvre est une solution qui s’aligne parfaitement avec les enjeux de demain : comment subvenir à nos besoins en étant éco-responsable ? Selon moi, cette plante a trop souvent été mise de côté par nos industriels durant ces dernières décennies alors que nos ancêtres l’ont toujours utilisé à des fins médicales, pour la construction, pour l’alimentation en utilisant chaque composante de la plante. J’ai ainsi la chance de faire partie de l’équipe Chanvre Québec dans le cadre de mon stage universitaire dans le but d’améliorer les processus logistiques et de les aider à monter leur nouveau projet, que rêver de mieux ? 
