#main-carousel
    .flickity-page-dots
        .dot
            background none
    .flickity-prev-next-button
        background none
    img 
        width auto
        height 300px
        margin-top -50px
        border-radius 10px
        @media only screen and (max-width: 33.75em)
            opacity 0
        @media only screen and (min-width: 33.75em)
            opacity 0
        @media only screen and (min-width: 45em)
            opacity 1
        @media only screen and (min-width: 60em)
            opacity 1
    
    .pub
        padding-top 10%
        height 300px
    .one
        background white 
        background-size cover
        background-position center center
        background-repeat no-repeat  
        h3
            color white
            margin-top -70px
        p 
            color #4D4D4D
            margin-top -10px
    .two
        background white 
        background-size cover
        background-position center center
        background-repeat no-repeat       
    .three
        background white 
        background-size cover
        background-position center center
        background-repeat no-repeat   

    .btn-offre
        border 1px solid white
        color white
        margin-top 0px
        &:hover
            background white
            color #8B6733

.modal
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    display none
    opacity 0
    overflow scroll
    &:target
        display block
        z-index 200
        opacity 1
.green
    background-image linear-gradient(white, #F3F3F3)
    h3
        color black
    h2
        color black
    p
        color black

.modal-a
    position absolute
    right 0
    top 0
    padding-right 30px
    padding-top 30px