.pub
    height 200px
.one
    background-size cover
    background-position center center
    background-repeat no-repeat  
    h3
        color white
        margin-top -70px
    p 
        color black
        margin-top -10px
.two
    background-size cover
    background-position center center
    background-repeat no-repeat       
.three
    background #fee
    
.btn-offre
    border 1px solid #F9B42D
    color #F9B42D
    &:hover
        background #F9B42D
        color white
        
.btn-offre
    border 1px solid white
    color white
    &:hover
        background white
        color #75C050

.modal
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    display none
    opacity 0
    overflow scroll
    &:target
        display block
        z-index 999
        opacity 1
.green
    background-image linear-gradient(#75C050, #B1E95C)
    h2
        color white
    p
        color white
        
.modal-a
    position absolute
    right 0
    top 0
    padding-right 30px
    padding-top 30px