.pub
    height 200px
.one
    background #B1E95C
    background-size cover
    background-position center center
    background-repeat no-repeat  
    h3
        color white
        margin-top -70px
    p 
        color #4D4D4D
        margin-top -10px
.two
    background #B1E95C
    background-size cover
    background-position center center
    background-repeat no-repeat       
.three
    background #B1E95C
     
.btn-offre
    border 1px solid white
    color white
    margin-top 0px
    &:hover
        background white
        color #B1E95C

.modal
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    display none
    opacity 0
    overflow scroll
    &:target
        display block
        z-index 999
        opacity 1
.green
    background-image linear-gradient(#75C050, #B1E95C)
    h3
        color white
    h2
        color white
    p
        color white
        
.modal-a
    position absolute
    right 0
    top 0
    padding-right 30px
    padding-top 30px