#chanvre 
    h2
        color #75C050
    .chanvre
        background-image url(https://storage.googleapis.com/chanvrequebecphoto/chanvrefeuille.png)
        background-size cover
        background-position center center
        background-repeat no-repeat
        height 300px