*
  color #636366

body
  background white
a
  text-decoration none
  color #fff
  transition all 0.3s ease

#proteine
    background-color
    
    h2
        color #75C050
#vitamine
    .chanvre_two
        background-image url(https://storage.googleapis.com/chanvrequebecphoto/chanvrefeuille.png)
        background-size auto
        background-position center center
        background-repeat no-repeat
        height 500px
#photo
       
    .photo
          width 33.333%
          height 200px
          display inline-block
          background-position center center
          background-size cover
          background-repeat no-repeat
          margin-bottom -5px
          cursor pointer
          position relative
          overflow hidden
          &:hover
            filter grayscale(10%)
        
    #instafeed
        width 100vw
        overflow hidden
#seqoia
    img
        height 500px
    .jumbosection
        background-size cover
        background-position center center
        background-repeat no-repeat
        height 400px
        width 100%
        z-index 100 !important
        display inline-block
.m-bottom
  margin-bottom 48px

.container
  padding-top 100px

.body-content
  background #fff
  padding 100px 0 120px 0
  position relative
  z-index 0 !important
  & > .container
    position relative
    top 100px
    padding-bottom 100px

.jumbotron
  background-size cover
  background-position center center
  background-repeat no-repeat
  height 760px
  width 100%
  z-index 100 !important

.jumbotron h1
    color #4D4D4D
.jumbotron h2
  color #4D4D4D
  font-size 1.5rem
  margin-top 20px

button
  height 48px
  width 180px
  text-align center
  color #fff
  font-size 1rem
  font-weight 200
  background transparent
  border 1px solid #fff
  border-radius 4px
  margin 20px 0
  cursor pointer
  transition all 0.3s ease
  outline none
  &:hover
    background #75C050
    color #fff
  &:active
    outline none

.btn-secondary
  border 1px solid #75c050
  color #75c050
  &:hover
    background #75c050
    color #fff

.line
  height 1px
  width 100%
  background #D6D6D8
  margin 80px 0

.grid-display
  margin 20px 0
  [class^="col"]
    background #FBCED1
    border 1px solid #75c050
    border-radius 4px
    box-sizing border-box
    text-align center
    p
      color #75c050
      font-size 0.8rem

pre
  margin-top 30px
  overflow auto
  background #fff
  border-radius 4px
  border 1px solid #D8DCE6
  padding 24px 0

code,
.tag,
.el,
.name,
.content,
.comment
  font-family monospace
  font-size 1.1rem
  line-height 1.2rem
  color #636366

.el
  color #75c050

.name
  color #F9B42D

.content
  color #75C050

.comment
  color #B6CAD2

footer
  background #B1E95C
  background #75C050
  background-image linear-gradient(#75C050, #B1E95C)
  padding-bottom 80px
  p
    color #fff
  img  
      height 3rem
      width auto
  a
      text-decoration none
      color #fff
      transition all 0.3s ease
      &:hover
        text-decoration line-through

.img
  background-size contain
  background-repeat no-repeat

.img-logo
  background-image url('img/navlogo.svg')
  background-size contain
  height 80px
  width 80px
  margin-bottom 60px
  -webkit-animation: title-fall 0.75s ease;
  -moz-animation: title-fall 0.75s ease;
  animation: title-fall 0.75s ease;

.img-website-mock
  position relative
  background-image url('img/jechanvreweb.svg')
  height 0
  padding-top 71.8%
  margin-top 80px
  z-index 200 !important

.img-responsive
  background-image url('img/responsive.png')
  height 96px
  width 144px

.img-lightweight
  background-image url('img/light.png')
  height 96px
  width 96px

.img-simple
  background-image url('img/simple.png')
  height 96px
  width 132px

@media only screen and (min-width: 720px)
  .jumbotron
    height 600px

