.i-header
    color #D6D6D8
    width 0.5rem
    height auto

.fa-bars
    color #D6D6D8
    width 0.5rem
    height auto
    cursor pointer
    &:hover
        .sub-nav
            display block
.sub-nav
    cursor pointer
    display none
    position absolute
    li
        color #D6D6D8
        text-align center