#header
    img 
        height 5rem
        width auto
    .home
        position fixed
        top 0
    .goback
        cursor pointer
        padding-left 20px
        
#blogheader
    .goback
        cursor pointer
        padding-left 20px
    @media (min-width: 800px)
        .side-image
            background-size cover
            background-position center center
            background-repeat no-repeat
            z-index 100 !important
            position fixed
            top 0
            right 0
            height 100%
            width 30%
            color blue
    @media (max-width: 800px)
        .side-image
            background-size cover
            background-position center center
            background-repeat no-repeat
            z-index 100 !important
            height 20rem
            width 100%
            position relative
            color blue
            