#header
    img 
        height 5rem
        width auto
    
    .home
        position fixed
        top 0
        left 0
        background-color white
        box-shadow 0px 1px 2px 0px #D6D6D8
        z-index 100 !important
        padding-top 10px
        padding-bottom 10px
        padding-left 40px
        width 100vw
        
    .goback
        cursor pointer
        padding-left 20px
        padding-right 20px
    .snipcart-total-price
        padding-left 20px
        font-size 0.75rem
        color #636366
        
    .dropdown
        position relative
        display inline-block

    .dropbtn
        color #636366
        font-size 16px
        padding-left 20px
        padding-right 20px
        border none
        cursor pointer
        &:hover
            .dropdown-content
                display block
                overflow scroll
                    
    .dropdown-content
        display none
        background white
        position absolute
        width 100%
        padding-top 40px
        left 0
        text-align center
        border-radius 25px
        
        a
            text-decoration none
        .menu-item
            font-size 1.5rem
            :hover
                text-decoration underline
                color #3E7BFE 
        @media (max-width: 800px)
            .menu-item
                font-size 1.25rem
    .gsc-search-box
        width 80%
    .gsc-search-button
        border-radius 25px
    .video
        position fixed
        top 50%
        left 50%
        z-index 1
        min-width 100%
        min-height 100%
        width auto
        height auto
        transform translate(-50%, -50%)
#alert
        background-color #F9B42D
        position absolute
        top 0
        left 0
        z-index 110 !important
        width 100%
        overflow scroll
        p
            font-size 0.75rem
            color white
        
#blogheader
    .goback
        cursor pointer
        padding-left 12px
        padding-right 12px
    img 
        height 5rem
        width auto
    .credit-photo
        position absolute
        top 0
        right 0
        margin-top 5px
        margin-right 5px
        color #636366
        text-shadow 1px 1px white
        font-size 0.75rem
    @media (min-width: 800px)
        .side-image
            background-size cover
            background-position center center
            background-repeat no-repeat
            z-index 100 !important
            position fixed
            top 0
            right 0
            height 100%
            width 30%
            color blue
    @media (max-width: 800px)
        .side-image
            background-size cover
            background-position center center
            background-repeat no-repeat
            z-index 100 !important
            height 20rem
            width 100%
            position relative
            color blue

#equipeheader
    .goback
        cursor pointer
        padding-left 20px
    img 
        height 5rem
        width auto
    .credit-photo
        position absolute
        top 0
        right 0
        margin-top 5px
        margin-right 5px
        color #636366
        text-shadow 1px 1px white
        font-size 0.75rem
    @media (min-width: 800px)
        .side-image
            background-size cover
            background-position center center
            background-repeat no-repeat
            z-index 100 !important
            position fixed
            top 0
            right 0
            height 100%
            width 40%
            color blue
    @media (max-width: 800px)
        .side-image
            background-size cover
            background-position center center
            background-repeat no-repeat
            z-index 100 !important
            height 20rem
            width 100%
            position relative
            color blue
            
    

