.membre
    background-size cover
    background-position center center
    border-radius 100%
    height 150px
    width 150px
.co
    margin-top -25px
.row-box
  display flex
  justify-content space-around
  flex-flow row wrap
.docu
  padding 2% !important
  max-width 200px
.col-box
  align-items center
  margin 15px 0
  padding 5%
  border 2px solid rgba(77, 77, 77, 0.2)
  border-radius 5px
.fa-file-pdf-o
  padding 5%
