#modalequipe
    span.writer
        font-size 0.75rem 
        color #A4A4A5 
    h6
        margin-top -30px
    @media (min-width: 800px)
        width 60%
        .modal-a
            position absolute
            left 0
            top 0
            padding-left 30px
            padding-top 30px
    @media (max-width: 800px)
        width 100%
        .container
            margin-top -90px
        .modal-a
            position relative
            left 0
            top 0
            padding-left 30px
            margin-top 30px