#mc_embed_signup_scroll
    display inline-block
    margin-top 40px
    
    .mc-field-group
        display inline-block
    label
        
    input
        width 300px
        height 40px
        background #ededed
        border none
        margin-left 4px
        margin-top 4px
        border-radius 4px
        
.green-back
    background #75C050
#news-left
    width 50%
    display inline-block
    text-align center
#news-right
    with 50% 
    display inline-block 
    text-align center