a
    text-decoration none
.home-announcement 
    font-size 14px
    font-weight 400
    margin-top 25px
    transition all 400ms ease-out 252.356ms
    padding 3px 12px 4px 10px
    transform translateY(0)
    color black
    border-radius 24px
    background-color white
    background-color rgba(255, 255, 255, 0.4)
    cursor pointer
    &:hover
        background-color white
        background-color rgba(255, 255, 255, 0.4)
        padding 3px 40px 4px 10px
        #tooltip
            opacity 1
    .circle-dot 
        float left
        width 10px
        height 10px
        margin-top 5px
        margin-right 6px
        border-radius 24px
        background-color #cd3492
    .yellow
       background-color yellow
    .blue
        background-color deepskyblue
    #tooltip
        transition: all 400ms ease-out 252.356ms
        position absolute
        display inline
        padding-left 15px
        opacity 0
        float right
        width 10px
        height auto
        color #E6D7D4 