.artiste-by
    text-align left
    margin-top -35px
.retour-b
    padding-left 60px
    font-size 0.75rem
    text-align center
#produits
    img
        background-size cover
        background-position center center
        background-repeat no-repeat
        max-height 200px
        cursor zoom-in


    .btn-secondary
          border 1px solid #3E7BFE
          background #3E7BFE
          color white
          &:hover
            border 1px solid #23b39d
            background #23b39d
            color white
#produitsfull
    img
        max-height auto
        max-width 100%
        border-radius 10px
        .cursor
            cursor zoom-in
    .big
        max-height auto
        width 70vw


    .btn-secondary
          background #23b39d
          border 1px solid #23b39d
          color white
          &:hover
            border 1px solid #3E7BFE
            background #3E7BFE
            color #fff
    .promo
        color #fe3e3e
    .old
        margin-top -25px
        font-size 0.85rem
        text-decoration line-through
        color rgb(117, 117, 117)
.produit-box
    height 15rem
    width auto
    position relative
    background-position center center
    background-size cover
    background-repeat no-repeat
    border-radius 2%
    overflow hidden
    box-shadow 0px 1px 2px 0px #D6D6D8
    .price
        position absolute
        z-index 1
        width 30px
        font-size 0.75rem
        right 0
        background #3E7BFE
        padding 5px
        margin-right 10px
        color white
        border-radius 25px
    .price-promo
        position absolute
        z-index 1
        width 30px
        font-size 0.75rem
        right 0
        background #fe3e3e
        padding 5px
        margin-right 10px
        color white
        border-radius 25px
    .price-old
        position absolute
        z-index 1
        width 30px
        font-size 0.75rem
        right 0
        padding 5px
        margin-right 10px
        padding-top 30px
        text-decoration line-through
        color rgb(117, 117, 117)
        border-radius 25px

.produitshow
    height 15rem
    width auto
    background-position center center
    background-size cover
    background-repeat no-repeat
    transition: all .2s ease-in-out
    &:hover
        transform scale(1.1)
.four
    margin-bottom 10px
    margin-left 70px
    margin-right -70px


.product__filter
    padding-top : 30px;
    padding-bottom : 130px;

    a
        text-decoration: none;

    ul
        list-style: none;
        padding-left:5px;
        li
            text-align: left;
            font-size: 0.9em;
            font-weight: 300;
            line-height: 1.6em;
            &:hover
                cursor : pointer;
            span
                padding: 5px;
                text-decoration: none;
                &:hover
                    text-decoration: underline;
                    text-decoration-color: rgb(155, 155, 155);
            sup
                font-size: 0.1em;
                line-height: 1em;
                color: rgb(155, 155, 155);
    input.product__filter-search
        font-size: 1em;
        font-weight: 300;
        display: block;
        width: 100%;
        border-top-width: initial;
        border-right-width: initial;
        border-left-width: initial;
        border-top-color: initial;
        border-right-color: initial;
        border-left-color: initial;
        padding: 10px 10px 10px 5px;
        border-style: none none solid;
        border-image: initial;
        border-bottom: 1px solid rgb(117, 117, 117);
        &:focus
            outline: none;
.produitindex
    background-color white
    height 50px
    width 100%
    border-bottom-left-radius 2%
    border-bottom-right-radius 2%
    position absolute
    bottom 0px
    z-index 80 !important

    p
        color black
        text-shadow none
        text-align center
        font-weight 400
        font-size 100%

.farine-container
    background-image url(https://c1.staticflickr.com/3/2864/34127973342_580422f51b_b.jpg)
@media only screen and (max-width: 800px)
    .four
        margin-bottom 10px
        margin-left 0px
        margin-right 0px
