#produits
    img
        background-size cover
        background-position center center
        background-repeat no-repeat
        max-height 200px
         
        
    .btn-secondary
          border 1px solid red
          color red
          &:hover
            background red
            color #fff
            
#produitsfull
    img
        max-height auto
        width 100%
    .big
        max-height auto
        width 70vw
         
        
    .btn-secondary
          border 1px solid blue
          color blue
          &:hover
            background blue
            color #fff
            

