#produits 
    img
        background-size cover
        background-position center center
        background-repeat no-repeat
        max-height 200px
         
        
    .btn-secondary
          border 1px solid red
          color red
          &:hover
            background red
            color #fff
            
#produitsfull
    img
        max-height auto
        width 100%
    .big
        max-height auto
        width 70vw
         
        
    .btn-secondary
          border 1px solid blue
          color blue
          &:hover
            background blue
            color #fff
.produitindex
    background-color white
    height 50px
    width 100%
    border-bottom-left-radius 2%
    border-bottom-right-radius 2%
    position absolute
    bottom 0px
    z-index 80 !important
    
    p
        color black
        text-shadow none
        text-align left
        font-size 100%
    .price
        top 0
        font-size 0.75rem
        right 0
        padding-right 10px
            

