#recettes
    img
        background-size cover
        background-position center center
        background-repeat no-repeat
        max-height 200px
           
    .btn-secondary
          border 1px solid white
          color white
          &:hover
            background  white
            color #F9B42D
    .btn-recette
          border 1px solid white
          background white
          color burlywood
          border-radius 25px
          &:hover
            background  white
            color black
    .btn-print
        display inline
            
    .round-text
        border 1px solid #75c050
          border-radius 100%
    @media (min-width: 800px)
        width 70%
    @media (max-width: 800px)
        width 100%
        
.recetteindex
    background-color white
    height 50px
    width 100%
    border-bottom-left-radius 2%
    border-bottom-right-radius 2%
    position absolute
    bottom 0px
    z-index 80 !important
    
    p
        margin-top -10px
        color black
        text-shadow none
        text-align left
        font-size 100%
