#sk-container #sk-wrapper .sk-msg 
    background-color burlywood

#sk-container #sk-wrapper .sk-msg::after
    border-left-color burlywood
#sk-holder #sk-messenger-button.messenger-button-shown
    background-color #3E7BFE !important
    background-size cover
    background-position center center
    background-repeat no-repeat
    //background-image url(https://c1.staticflickr.com/1/764/33398633702_840944e7dd_o.png) !important

#sk-holder #sk-container .sk-branding-color-dark #sk-header
    background-color #3E7BFE !important
