.snip-layout
    .snip-btn--highlight
        background #75C050
        &:hover
            background #B1E95C
            
    .snip-header
        background #B1E95C
        padding-top 10px
        .snip-header__title
            font-size 15px
        
    .snip-header__title
        color white
    .snip-header__total
        background white
    .snip-ico--close:before
        color white
    .snip-table
        background white
    .snip-footer
        background #B1E95C
    .snip-ico--close:before
        color black
    .snip-quantity-trigger__btn
        &:hover
            background #75C050
            color #B1E95C
    
        
  
            