include ../includes/_blogheader
include ../includes/_blogpost
  .justify
    p.font-heavy 1. La qualité de l'air  
    p Le chanvre capture plus de CO2 par acre que les arbres. 
    p.font-heavy 2. Le biodiesel
    p Le biodiesel à partir de l'huile de chanvre, un biocarburant plus efficace que l'ethanole.
    p.font-heavy 3. De meilleurs maisons
    p Une maison construit en béton de chanvre ne dégage pas de POV dans l'air et gère l'humidité donc il n'y aura pas de moisisures. 
    p.font-heavy 4. Composite pour de meilleurs
    p Propulser les projets de développement pour le composite de chanvre: les procédés de fabrication sont déjà connu, il suffit désormais d'encourager un projet de développement dans ce sens. 
    p.font-heavy 5. Alternative de cultures 
    p Remplacer des cultures alimentaires, qui requiert des pesticides, par le chanvre.
    p.font-heavy 6. Légaliser la production de CBD
    p Le cannabidiol est une molécule sans effets psychotropes qui est de plus en plus recherchée pour ses propriétés anti-inflammatoires, analgésique et anxiolytique. Un remède naturel.
    p.font-heavy 7. Nourrir le bétails 
    p Permettre aux fermiers de nourrir le bétail avec des graines de chanvre. Actuellement, nos vaches et nos boeufs sont malnouris, ce qui affecte aussi le produit offerts aux gens.
    p.font-heavy 8. Réduire la stricte législation
    p Le ministère de la santé ne devrait pas régir une culture agricolte. Le ministère de l'agriculture serait mieux indiqué.
    p.font-heavy 9. Agrémenter nos jardins 
    p Le chanvre est une belle plante ornementale aussi. On peut en faire tous genre d'arrangement florale. 
    p.font-heavy 10. Nouvelles literies pour les hôpitaux
    p Remplacer la literie des hôpitaux par des literies de chanvre. Le chanvre est anti-bactérien et anti-fongique. En plus de bien respirer!
