include ../includes/_blogheader
include ../includes/_blogpost

    h3 1. HABITATION

    p La réalité est qu’une maison est un investissement d’une vie. Le problème, c’est qu’elle n’est pas conçue pour nous simplifier la vie comme elle le devrait. On passe notre temps à l’entretenir avec des réparations, à dépenser des fortunes en énergie de chauffage et en climatisation, à faire exterminer les insectes et les rongeurs qui s’y trouvent, et à chasser l’humidité et la moisissure. En fin de compte, nous servons nos demeures plus qu’elles nous servent. Nous sommes des êtres vivants, notre habitat devrait pouvoir nous faire grandir et non nous nuire .

    p Le composé entièrement naturelle du “béton” de chanvre tel que développé et commercialisé par Art Can Construction, un partenaire de Chanvre Québec

    p Les maisons isolées en chanvre constituent enfin une solution saine et mieux adaptée à nos besoins et à notre climat. Ce sont les habitations les plus confortables, écoénergétiques, sécuritaires et durables qui soit. Contrairement aux autres matériaux d’isolation, le béton de chanvre est vivant. Lui permettant ainsi de s’ajuster aux variations de température extérieures et de réguler le climat dans la maisonnée. On jouit d’un air qui est exempt de particules organiques volatiles. Par ailleurs, le béton de chanvre est classé dans la catégorie des matériaux ininflammables. Finalement, les murs en chanvre ont pour avantage d’être à l’épreuve des rongeurs et des insectes. Il est donc enfin possible d’avoir une maison qui est synonyme de simplicité, sécurité, confort et efficacité grâce au chanvre.
    h3 2. ALIMENTATION

    p Le chanvre répond sainement et intelligemment à un autre besoin fondamental : se nourrir. Non seulement la graine de chanvre est extrêmement nutritive, mais elle change également la dynamique de son industrie. Effectivement, il faut se rendre à l’évidence, nous nous sommes abandonnées collectivement à l’alimentation rapide et nuisible à notre santé. Un grand nombre des produits que l’on consomme contiennent des organismes génétiquement modifiés (OGM) où sont cultivés à l’aide d’herbicides et de pesticides. Notre surconsommation de viandes est devenue également un véritable fléau pour nous et pour l’environnement. Celle-ci étant la toute première cause de cancers chez l’humain et de pollution sur terre (par incidence à l’élevage du bétail).

    p Noix de chanvre entière, gracieuseté de CHANVRE SUPERALIMENT, partenaire Chanvre Québec

    p Heureusement, grâce à la plante de chanvre, nous pouvons récolter un superaliment : la noix de chanvre entière (ou graine de chanvre). Un aliment riche en protéines complètes digestes, en acides gras essentiels (oméga 3 et 6), en fibres digestives, en vitamines et minéraux. À partir de cette noix, on peut produire de la farine de chanvre, des noix décortiquées, de la protéine de chanvre concentré, de l’huile, du beurre et même du lait. Chacun a ses avantages pour détrôner n’importe quelle denrée dans sa catégorie. Elles sont idéales tout autant pour les athlètes, les végétariens, les enfants, les personnes âgées et même les femmes enceintes (les AGE aident au développement du foetus) !

    p Quelle est la beauté de la culture de chanvre? Elle est cultivée sans herbicides, pesticides ou fongicides. Il n’y a donc rien à craindre en ce qui a trait aux organismes génétiquement modifiés et aux produits de culture néfaste pour notre santé. Par conséquent, les producteurs de chanvre peuvent cultiver celle-ci sans devoir attribuer la mention biologique et ainsi refiler une facture salée aux consommateurs. De façon générale, les produits alimentaires issus du chanvre nous permettent de rajouter de la saveur à nos aliments tout en adoptant des habitudes de consommations saines pour nous et pour l’environnement.

    h3 3. TEXTILE

    p Le chanvre a le potentiel de remplacer les produits d’une industrie néfaste pour nous et notre environnement grâce à son textile. Non seulement les tissus synthétiques tels que le polyester ou le nylon ont un impact négatif majeur sur notre environnement, mais ils sont également nuisibles pour notre santé personnelle. Les fibres synthétiques ne permettant pas à la peau de respirer convenablement ni de libérer les odeurs. Ils peuvent par ailleurs poser des problèmes à notre santé en raison des composantes toxiques qu’on y retrouve. Le coton, quant à lui, représente 1% des cultures globalement mais requiert un peu plus de 16% des pesticides mondiaux ! Il est également très dur pour les sols agricoles et nécessite largement plus d’eau à produire que le chanvre.

    p Une pièce de vêtement en chanvre signée SEQOIA, partenaire Chanvre Québec
    p Le fil de chanvre, pour sa part, est un des premiers textiles à avoir été utilisé en Amérique. Principalement utilisé en raison de sa durabilité et de sa rigidité. C’est un tissu qui possède plusieurs avantages considérables. Il est confortable, antibactérien, antiallergique et offre une protection quasi totale contre les rayons UV. Par dessus tout, sa fibre creuse et perméable à l’air lui permet de respirer. Ainsi, les textiles de chanvre s’ajustent bien aux variations de température pour accommoder le bien être de l’usager. Le chanvre est donc excellent pour faire toute sorte de vêtements, tapis, literies, chaussures, serviettes ou autres.

    h3 4. Industrie des cosmétiques

    p L’huile de chanvre, récolté directement à partir de la plante, possède des propriétés phénoménales pour les soins corporels. Cette huile naturelle au pouvoir ultra hydratant et anti-inflammatoire est bénéfique en raison de sa proportion (80%) en acides gras essentiels (AGE). On l’utilise généralement en harmonie avec d’autres ingrédients naturels pour produire des savons, des crèmes, des lotions, des baumes et des shampooings aux vertus phénoménales. Concrètement, les AGE nourrissent les cellules et les tissus de la peau. Permettant de soulager l’acné et les démangeaisons et de restaurer la santé générale de la peau. C’est une solution géniale pour substituer les produits de soins corporels entachés d’ingrédients issus de l’industrie pétrochimique.

    h3 5. Composite ou plastique de chanvre

    p Avec les percées dans le monde de l’impression 3D, les opportunités d’avenir se sont multipliées pour obtenir un plastique de chanvre plus facilement que jamais. Celui-ci est très performant et peut remplacer une tonne de matériaux désastreux pour l’environnement. Le polymère renforcé en fibre de chanvre ou communément appelé le composite de chanvre est plus solide et léger que la fibre de verre et la fibre de carbone en plus d’être moins dispendieux à produire. Toutefois, ce qu’il faut retenir, c’est que le composite de chanvre est recyclable en plus d’être carboneutre! La fibre de chanvre est par ailleurs une des fibres les plus versatiles sur la planète.

    p Un prototype d’avion composé d’au moins 75% de chanvre. Via Hempearth

    p À grande échelle, les possibilités sont époustouflantes. La compagnie Hempearth a récemment fait la conception d’un avion en chanvre. Cette petite merveille légère et résistante est encore en phase de développement et de financement (kickstarter). Une fois terminé, le bolide sera composé d’au moins 75% de chanvre. La plante miracle est utilisée pour produire la coque extérieure, les ailes, les sièges, les coussins et bien plus encore. L’avion aura une vitesse de croisière d’environ 320 km/h et sera propulsé par deux moteurs diesel carburant à l’huile de chanvre, bien évidemment. Le projet a pour but de remplacer les matériaux polluants ainsi que les anciennes méthodes de fabrication dans l’industrie de l’aviation.

    p La Lotus Eco Élise, présenté au salon de l’automobile “British Motor Show”, en 2008

    p Dans le même ordre d’idée, Lotus a fait un grand coup d’éclat en 2008 avec son prototype la « Eco Elise ». La voiture écologique utilise un amalgame de matériaux durables dont le chanvre pour produire les panneaux de carrosseries en composites, les colonnes, les dossiers de sièges et les garnitures.

    h3 6. Biodiesel

    p En effet, l’huile de chanvre détient également le potentiel d’être utilisé comme carburant. Une étude datant de 2009, réalisée par le consortium en biocarburant de l’Université du Connecticut, a démontré que l’huile de chanvre pourrait s’avérer être une alternative viable et attrayante pour produire du biodiesel. En effet, 97% de l’huile de chanvre a été converti en biodiesel. C’est une autre innovation qui s’additionne à la liste des produits du chanvre qui peuvent détrôner une matière de l’industrie pétrolière (textile, plastique et soins corporels).

    h3 7. Pâtes et papiers

    p L’industrie de la pâte et papier est la troisième plus polluante industrie sur terre avec 100 000 tonnes de polluants toxiques rejetés dans l’air et dans l’eau. La déforestation est un problème extrêmement grave. La majorité des forêts américaines et européennes ont été détruites à travers le temps alors que les arbres constituent l’infrastructure même du bien-être de notre environnement. Pourtant, déjà en 1916, le département d’agriculture des États-Unis (USDA) avait démontré qu’une acre de chanvre pouvait produire jusqu’à quatre fois plus de papier qu’une acre d’arbres. Néanmoins, 70% des forêts américaines ont malgré tout été rasées complètement depuis cette époque.
    
    a(href="#img1")
        img.imgblog(src="https://storage.googleapis.com/chanvrequebecphoto/0-CkNzdilrXDODs3iK.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/0-CkNzdilrXDODs3iK.jpg")
    figcaption voila une belle phrase

    p En raison du peu d’innovations industrielles écologique qui ont eu lieu dans ce secteur, la transformation du chanvre en papier est encore nettement plus dispendieuse que celle de la pâte à papier conventionnelle. Grâce à la recherche et au développement, la pâte de chanvre pourrait éventuellement être la ressource de choix, produisant un papier plus durable, écologique et recyclable. En effet, sa couleur claire naturelle et sa faible teneur en lignine font en sorte qu’aucun produit chimique toxique est nécessaire pour blanchir un papier de chanvre contrairement aux papiers provenant des arbres. Le papier de chanvre constituerait donc une merveilleuse solution pour diminuer la déforestation et l’empoisonnement de nos cours d’eau en raison des produits chimiques. Par ricochet, le chanvre pourrait par conséquent freiner l’extinction massive d’une grande variété d’espèces animales. Comment renier le potentiel d’une plante qui a le pouvoir de répondre à cette crise environnementale liée à la foresterie ?

    p Voilà ce qui complète notre résumé sur l’étendue du potentiel de cette vivace. Nous espérons vous avoir convaincus. Il ne faut toutefois pas négliger le travail qui doit être accompli et les innovations à mettre sur pied. C’est la mission de Chanvre Québec d’y parvenir. N’oubliez pas, le changement n’aura pas lieu si l’on ne se mobilise pas. Si vous avez apprécié cet article et que vous croyez au potentiel de cette merveilleuse plante, partagez-le avec vos proches, la nature vous en sera reconnaissante un beau jour !

    ul 
        li Recherche et rédaction: Darko Popovic
        li Sources:
        li(href="http://hempearth.net/") http://hempearth.net/
        li https://www.cga.ct.gov/
        li https://www.couleur-chanvre.com/le_...
        li http://www.hemp-technologies.com/
        li http://www.hemphasis.net/Paper
        li Dewey, Lyster H. & Merrill, Jason L.; Hemp Hurds as Paper-Making Material, USDA Bulletin 404. US Govt Printing Office (1916)

    include ../includes/_blogfooter