include ../includes/_blogheader
include ../includes/_blogpost

    h2 1. L'habitation

    p Une maison c’est l’investissement d’une vie.  Le problème, c’est qu’elles ne sont pas conçues pour nous simplifier la vie comme elles le devraient. On passe notre temps à les entretenir de réparations, à dépenser des fortunes en énergie de chauffage et en climatisations, à exterminer les insectes et les rongeurs qui s’y trouvent ou à chasser l’humidité et la moisissure.  En fin de compte, nous servons nos demeures plus qu’elles nous servent. Nous sommes des êtres vivants, notre habitat devrait nous faire grandir dans un <strong> environnement sain</strong>.
    
    a(href="#img1")
        img.imgblog(src="https://c1.staticflickr.com/3/2863/32820356723_7c6c7be5a0_z.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://c1.staticflickr.com/3/2863/32820356723_7c6c7be5a0_z.jpg")


    p Au Québec, les maisons en chanvre gagnent en popularité. On combine une structure de bois avec un mur plein en chanvre (l’isolation et le revêtement de chanvre). Le résultat est impressionnant, on obtient une solution saine mieux adaptée à nos besoins et à notre climat.  Ce sont des habitations <strong>confortables, écoénergétiques, sécuritaires et durables</strong>. Contrairement aux autres matériaux d’isolations, le béton de chanvre est un isolant vivant. Permettant au mur de chanvre de s’ajuster aux variations de températures extérieures et de réguler le climat dans la maisonnée (<a href="https://www.chanvrequebec.com/blog/hygrothermie-le-mot-qui-change-tout", target="_blank"> ce qu’on appelle l’hygrothermie.</a>). On jouit d’un air sain qui est exempt de POV (particules organiques volatiles). Pour couronner le tout, le mur de béton de chanvre est ininflammable en plus d’être à l’épreuve des rongeurs et des insectes. (<a href="https://www.chanvrequebec.com/blog/pourquoi-choisir-une-maison-en-chanvre", target="_blank"> Notre article complet ici.</a>)

    blockquote "Le confort se ressent au délà des degrés celsius." 
        p.right - Gabriel Gauthier
    
    p Bâtir une maison en chanvre, ce n’est pas une décision à prendre à la légère. On peut toutefois se permettre de rêver. Au Québec, Anthony Néron (ArtDuChanvre) et Gabriel Gauthier (ArtCan) ont déjà plus d’une centaine de projets de construction ou de rénovation en chanvre à leur actif. Il est donc possible d’avoir une maison qui est synonyme de simplicité, sécurité, confort et efficacité grâce au chanvre.

    a(href="#img1")
        img.imgblog(src="https://c1.staticflickr.com/1/326/32556607432_4a5a47384b_z.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://c1.staticflickr.com/1/326/32556607432_4a5a47384b_z.jpg")
        figcaption Le composé entièrement naturelle du “béton” de chanvre tel que développé et commercialisé par Art Can Construction, un partenaire de Chanvre Québec
        
    h2 2. Textile
    p Le textile de chanvre est vraissemblablement un des plus vieux textile à avoir été utilisé par l’Homme (par les moines chinois). Historiquement, la famille impériale et les prêtres japonais étaient traditionnellement vêtus de chanvre. C’est un textile qui revient au goût du jour, heureusement pour la planète!

    blockquote L'industrie du textile est la deuxième industrie la plus polluante sur terre -The True Cost Documentary
    p Le monde du textile est devenu, à l’ère du <a href="http://truecostmovie.com", target="_blank">Fast Fashion</a>, une industrie particulièrement néfaste pour nous et notre environnement. La culture de coton représente 1% des cultures mondiales, mais requiert plus de 16% des pesticides mondiaux, fragilisant l’environnement écologique et social des communautés qui en font la culture. C’est également une culture particulièrement demandante en eau. Les tissus synthétique (polyester, nylon, latex, etc..), pour leur part, sont issus de la production de l’industries pétrochimique. (<a href="https://www.chanvrequebec.com/blog/industrie-du-textile-detruit-notre-monde", target="_blank"> Notre article sur l'industrie du textile, ici.</a>)

    a(href="#img1")
        img.imgblog(src="https://c1.staticflickr.com/1/456/32668737696_9491340fbe_z.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://c1.staticflickr.com/1/456/32668737696_9491340fbe_z.jpg")
    
    p De l’autre côté du spectre, nous avons une alternative <strong>confortable et durable</strong>: le chanvre. C’est un textile qui se distingue par sa rigidité et sa fibre poreuse. La respirabilité du tissu en chanvre permet un confort thermique ainsi qu’une <a href="https://www.couleur-chanvre.com/le_chanvre", target="_blank"> résistance aux odeurs et à la moisissure.</a>  Au Québec, certains projets sont en développement, mais il n’y a aucun transformateur local de fibre de chanvre en fil (textile). Pour cette raison, le textile provient majoritairement de pays étrangers. C’est un secteur en demande qui nous interpelle particulièrement chez Chanvre Québec et nous avons espoir de le voir évoluer dans les prochaines années. (<a href="https://www.chanvrequebec.com/blog/pourquoi-se-vetir-en-chanvre", target="_blank"> Notre article sur le textile de chanvre ici.</a>)

    h2 3. Propriétés thérapeutiques (CBD)
    
    p Dans le monde du cannabis, ce sont les cannabinoïdes qui confèrent des propriétés thérapeutiques aux utilisateurs. Voyez-vous, ces molécules interagissent avec les récepteurs cannabinoïdes présents dans le corps humain. Le cannabinoïde le plus notoire étant le T.H.C (substance psychoactive), il y en existe toutefois une grande panoplie.

    blockquote "Le cannabis est le remède naturel le plus versatile qui soit."
        p.right - Dr. Ethan Russo | Institut de Recherche sur les Cannabinoïdes
    
    p Le chanvre ne contient pas de THC. On extrait plutôt de sa tige une molécule dénommée CBD. Le CBD ne confère aucun effet psychoactif et ce composé est de plus en plus recherché pour ses propriétés <strong>anti-inflammatoires, analgésique et anxiolytique</strong>. Au Canada, la vente libre de CBD en concentré n’est toujours pas légale. Aux États-Unis, plusieurs États ont légalisé la vente libre de CBD provenant du chanvre.

    h2 4. Composite ou plastique de chanvre

    p Avec les percées dans le monde de l’impression 3D et des composites biosourcés, les opportunités d’avenir se sont multipliées pour obtenir un plastique ou composite de chanvre plus facilement que jamais. C’est un composite très performant qui peut remplacer une tonne de matériaux nuisible pour l’environnement. 


    p D'une part, il y a le polymère renforcé en fibre de chanvre, ou communément appelé le composite de chanvre. Il est <strong>plus solide et léger</strong> que la fibre de verre et la fibre de  carbone. On obtient donc un matériaux très performant qui pourrait être utilisé par exemple pour les panneaux de voiture, pour la structure d'une bicycle ou même dans les avions!  

    a(href="#img1")
        img.imgblog(src="https://c1.staticflickr.com/4/3843/32879414624_75c700a411_z.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://c1.staticflickr.com/4/3843/32879414624_75c700a411_z.jpg")
        figcaption Lotus a fait un grand coup d’éclat en 2008 avec son prototype la « Eco Elise ». La voiture écologique utilise un amalgame de matériaux durables dont le chanvre pour produire les panneaux de carrosseries en composites, les colonnes, les dossiers de sièges et les garnitures. 
        
    p Dautre part, il est possible de faire du plastique complètement biosourcés à partir d’eau et de fibres de chanvre.  <a href="https://www.chanvrequebec.com/blog/zeo-form-plastique", target="_blank"> Nous avons fait un bref article sur le sujet.</a> Avec une performance mécanique et des coûts moins important que pour le composite, cette solution permet de s'atttaquer au vaste monde du plastique!
    
    blockquote 78 millions de tonnes de plastiques sont produits chaque année, dont  seulement 14% sont collectés pour être recyclés.

    p Au Québec, il n’y a pas de projet connu sur le plastique de chanvre. C’est toutefois une innovation qui voit le jour à l’extérieur de nos frontières! Ce qu’il faut retenir, c’est que le chanvre constitue une alternative écologique aux plastiques conventionnels. C'est une belle opportunité de donner un gros coup à l’industrie pétrochimique! 
    
    h2 5. Soins corporels

    p L’huile de chanvre utilisée dans les soins corporels est récoltée directement à partir de la graine de chanvre entière. Plusieurs recherches scientifiques ont démontré que c’est une des huiles naturelles les plus complètes et efficaces utilisées en cosmétiques. C’est principalement sa composition riche (environ 80%) en acides gras essentiels (AGE) et dans un ratio idéal qui génère un engouement particulier. Son profil est proche des lipides naturels de la peau, ce qui en fait une huile sèche à pénétration rapide. 
    
    a(href="#img1")
        img.imgblog(src="https://c1.staticflickr.com/1/450/32556605492_4071a6b099_z.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://c1.staticflickr.com/1/450/32556605492_4071a6b099_z.jpg")

    p On l’utilise généralement en harmonie avec d’autres ingrédients naturels pour produire des savons, des crèmes, des lotions, des baumes et des shampooings aux vertus phénoménales. Concrètement, les AGE nourrissent les cellules et les tissus de la peau. Permettant de <strong>soulager l’acné, les démangeaisons et de restaurer la santé générale de la peau.</strong>. C’est une solution géniale pour substituer les produits de soins corporels entachés d’ingrédients issus de l’industrie pétrochimique.

    p Au Québec, deux entreprises se dévouent aux produits de soins corporels à partir d’huile de chanvre. La feuille verte a pour mandat d’offrir des solutions 100% végétales, pour une peau saine et en santé!
    
    h2 6. Alimentation

    p Le secteur alimentaire est la filiale la plus exploitée dans le monde du chanvre. Pour le commun des mortels, c'est le moyen le plus facile d'améliorer concrètement ses habitudes de consommations grâce au chanvre. Au cours des dernières années, nous nous sommes abandonnées collectivement à l’alimentation rapide et nuisible à notre santé. Un grand nombre des produits que l’on consomme sont issus d’organismes génétiquement modifiés (OGM) ou sont cultivés à l’aide d’herbicides et ou pesticides. La consommation de viandes transformée (hot-dogs, jambon, saucisses, sauces à base de viandes) a été<a href="http://www.who.int/features/qa/cancer-red-meat/fr/", target="_blank"> classé comme cancérogène pour l'homme</a> par l'Organisation Mondiale de la Santé. Pour en rajouter, en plus d'avoir des effet nefaste sur notre santé, la surconsommation de viandes est devenue un véritable fléau pour notre environnement. Celle-ci étant liée à la toute première cause <a href="http://www.cowspiracy.com/infographic", target="_blank"> de destruction de l'environnement</a>.
    
    blockquote Le bétail et leurs sous-produits représentent au moins 32 000 millions de tonnes de dioxyde de carbone (CO2) par an, soit 51% de l'ensemble des émissions mondiales de gaz à effet de serre. - <a href="http://www.worldwatch.org/node/6294", target="_blank"> Worldwatch Institute</a>

    p Le fruit de la plante de chanvre est un super aliment: la graine de chanvre entière. C'est l’aliment le plus riche en nutritiment qui soit <a href="<a href="https://www.chanvrequebec.com/blog/le-chanvre-le-super-aliment", target="_blank"> (notre article ici)</a> . On en fait de la graine de chanvre écalée, de la farine protéinée , de la poudre de protéine, du lait, du beurre et de l’huile. On profite de ses <strong>acides gras essentiels</strong> (oméga 3 et 6), de ses <strong>protéines digestes</strong> et efficaces (grâce aux 9 acides aminés essentiels que l’on y retrouve),  de ses fibres et d’ une panoplie de <strong>vitamines et minéraux</strong> (notamment le magnésium, le fer, la vitamine B). Les produits alimentaires issus du chanvre contribuent à des habitudes de consommations saines pour nous et pour l’environnement.
    
    a(href="#img1")
        img.imgblog(src="https://c1.staticflickr.com/1/372/32556609892_2b795c22e9_z.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://c1.staticflickr.com/1/372/32556609892_2b795c22e9_z.jpg")
    
    p On en cultive déjà abondamment au Québec. Et ce, sans herbicides ni pesticides. Les agriculteurs d'ici et d'ailleurs ont donc l’opportunité de se sortir de l’emprise des OGM (organisme génétiquement modifiés) et des pesticides présents dans la culture de maïs, en alternant pour la culture de chanvre. 
    
    h2 7. Biodiesel

    p En effet, l’huile de chanvre récolté à partir des graines de chanvre détient également le potentiel d’être utilisé comme carburant. <a href="http://hig.diva-portal.org/smash/get/diva2:842842/ATTACHMENT01.pdf", target="_blank"> Une étude réalisée en 2015</a>, par la faculté d’ingénierie et de développement durable de l’Université de Gävle, a démontré que l’huile de chanvre pourrait s’avérer être <strong>une alternative viable et attrayante pour produire du biodiesel</strong>. De façon globale, l’huile de chanvre présente une qualité de carburant supérieur aux biocarburants actuellement sur le marché (comme l’éthanol). Toujours selon cette étude, le principal obstacle à l’implantation du chanvre comme biodiesel serait de nature économique. La production actuelle de chanvre ne permettrait pas de profiter d’une économie d’échelle et de considérer cette culture comme une alternative sérieuse. 
    
    blockquote 97% de l’huile de chanvre a été converti en biodiesel
    
    p Toutefois, il est possible de croire qu’avec l’augmentation des cultures de chanvre pour la production de fibres et d'aliments, le volume d’huile de chanvre deviendra de plus en plus intéressant pour finalement justifier la commercialisation de ce biocarburant écologique. C’est une autre innovation qui s’additionne à la liste des produits du chanvre qui peuvent détrôner une matière de l’industrie pétrolière (textile, plastique et soins corporels). Une raison de plus de croire que cette industrie ne voulait définitivement pas voir la culture de chanvre se développer à l'époque de la criminalisation... 


    h2 8. Pâtes et papiers

    p L’industrie de la pâte et papier est la troisième plus polluante industrie sur terre avec 100 000 tonnes de polluants toxiques rejetés dans l’air et dans l’eau. La déforestation est un problème extrêmement grave. La majorité des forêts américaines et européennes ont été détruites à travers le temps alors que les arbres constituent l’infrastructure même du bien-être de notre environnement. Pourtant, déjà en 1916, le département d’agriculture des États-Unis (USDA) avait démontré qu’une acre de chanvre pouvait produire jusqu’à quatre fois plus de papier qu’une acre d’arbres. Néanmoins, 70% des forêts américaines ont malgré tout été rasées complètement depuis cette époque.

    a(href="#img1")
        img.imgblog(src="https://storage.googleapis.com/chanvrequebecphoto/0-CkNzdilrXDODs3iK.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/0-CkNzdilrXDODs3iK.jpg")

    p En raison du peu d’innovations industrielles écologique qui ont eu lieu dans ce secteur, la transformation du chanvre en papier est encore nettement plus dispendieuse que celle de la pâte à papier conventionnelle. Grâce à la recherche et au développement, la pâte de chanvre pourrait éventuellement être la ressource de choix, produisant un papier plus durable, écologique et recyclable. En effet, sa couleur claire naturelle et <a href="http://www.hemphasis.net/Paper/paper.htm", target="_blank"> sa faible teneur en lignine</a> font en sorte qu’aucun produit chimique toxique est nécessaire pour blanchir un papier de chanvre contrairement aux papiers provenant des arbres. Le papier de chanvre constituerait donc une merveilleuse solution pour diminuer la déforestation et l’empoisonnement de nos cours d’eau en raison des produits chimiques. Comment renier le potentiel d’une plante qui a le pouvoir de répondre à cette crise environnementale liée à la foresterie ?
    
    h2 Mot de la fin
    
    p Voilà ce qui complète notre résumé sur l’étendue du potentiel de cette vivace. Nous espérons vous avoir convaincus. À travers nos habitudes de consommations et nos choix personnels, nous avons un <strong> pouvoir politique auprès des gouvernements et des entreprises</strong>. Il est impératif d'encourager cette industrie par de petits gestes pour voir naître les grandes innovations de demain. Le changement n'est possible si l'on se mobilise collectivement dans ce sens.  Si vous avez apprécié cet article et que vous croyez au potentiel de cette merveilleuse plante, <strong>partagez-le</strong> avec vos proches, la nature vous en sera reconnaissante un beau jour! 
    

    a(href="#img1")
        img.imgblog(src="https://c1.staticflickr.com/3/2843/32818491003_33b80b56f7_z.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://c1.staticflickr.com/3/2843/32818491003_33b80b56f7_z.jpg")
        
    
    h3 Sources
    
    ul 
        li Recherche et rédaction: Darko Popovic
        li ALCHEIKH, Ahmad (2015), Advantages and Challenges of Hemp Biodiesel Production, University Of Gälve, Faculty of engeneering and sustainable developpment.
        li Dewey, Lyster H. & Merrill, Jason L.; Hemp Hurds as Paper-Making Material, USDA Bulletin 404. US Govt Printing Office (1916)
        li Ministère de l’Agriculture et de l’Agroalimentaire du Canada
        li The True Cost Documentary: http://truecostmovie.com  (Consultée le 11 novembre 2016)
        li Cowspiracy. The facts. http://www.cowspiracy.com/infographic (Page consultée le 26 mars 2016)
