include ../includes/_blogheader
include ../includes/_blogpost
    h3.center.green-color *** Précisions ***
    
    p Puisque nous avons un statut d’organisme à but non lucratif qui fait la promotion du chanvre, nous devons respecter des contraintes légales nous obligeant à éviter l’usage de terme faisant référence à des drogues illicites. C’est pour cette raison qu’on utilise la terminologie cannab!s tout au long de cet article pour remplacer le terme que vous connaissez bien.
    
    p Ensuite, pour des raisons de clarté, nous avons choisi d’utiliser le terme cannab!s pour ce qui fait référence au cannab!s récréatif et le terme « chanvre » pour désigner le cannab!s utilisé pour des fins industriels (chanvre industriel).
    h3.center.green-color *** Précisions ***
    br
    h3 Introduction 
    h4.green-color Qu’est ce que le chanvre, pourquoi est-ce légal ?
    p Pour mieux comprendre la réalité actuelle, nous allons aborder l’historique de la plante ainsi que trois différences fondamentales qui distinguent le chanvre et le cannab!s : son environnement de culture, sa biologie et ses utilisations. Voici le premier de nos deux articles qui se consacrer à démystifier la plante!
    br
    h3 L'histoire 
 
    p L’usage de la plante de cannab!s remonte à longtemps, à très longtemps. Les pionniers idolâtrés du Québec et du Canada en sont la preuve.
 
    p Jacques Cartier, rapporte, dans son journal de voyage, avoir vu du chanvre cultivé par les Amérindiens à son arrivée en Amérique. Le chanvre fut d’ailleurs une des premières cultures à avoir été semé sous la direction du désormais célèbre Samuel de Champlain. D’abord au Port Royal, puis dans la ville de Québec.
 
    p Dans les années 1800, le chanvre était la principale source de papier. Toutefois, pour des raisons politiques et économiques, le chanvre et le cannab!s furent criminalisés une première fois dès 1923 au Canada suite aux nombreuses campagnes de propagandes de l’époque. c’est avec l’appui du Premier ministre William Mackensie King (sur nos billets de 50$), que la plante fut prohibée. Sans aucun débat parlementaire ni étude scientifique.
    a(href="#img3")
        img.blog(src="https://c1.staticflickr.com/1/571/33184763691_dda425eab3_o.png")
    a(href="#_" class="lightbox" id="img3")
        img(src="https://c1.staticflickr.com/1/571/33184763691_dda425eab3_o.png")
    br
    h3 1. Environnement de culture
    
    p Une des plus importantes distinctions qu’il faut faire entre le cannab!s et le chanvre c’est l’environnement de culture. Essentiellement, c’est la même plante. En effet, c’est la <span class="highlight">façon</span> dont nous allons <span class="highlight">la cultiver</span> qui aura une <span class="highlight">incidence</span> sans précédent sur <span class="highlight">ses utilisations</span>.  
 
    p Pour vous expliquer ce phénomène, nous allons vous présenter l’histoire de <strong>Lucien Latulipe</strong> et <strong>Jean-Guy</strong>. <strong>Lucien</strong>, lui, est un agriculteur. Il n’haïs pas les fleurs, mais sa passion à lui ce sont les grandes cultures. Il a besoin de plantes mâle et femelle. <strong>Jean-Guy</strong> a le pouce vert, c’est un horticulteur. Forcément, lui adore les fleurs et n’a besoin que de plantes femelles.
 
    p En fonction de ses intérêts, <strong>Jean-Guy</strong> décide de cultiver le cannab!s pour sa fleur. Il prend donc soin de choisir des graines femelles. Idéalement, il va cultiver ses plantes à l’intérieur, dans un climat adéquat qui va favoriser la formation de fleurs. Avec une grande minutie, il va contrôler la température, le taux d’humidité et les cycles de lumières pour favoriser un environnement optimal pour ses précieuses plantes.  Finalement, il va les distancer afin de leur permettre de prendre de l'expansion et de fleurir abondamment. C’est d’ailleurs pour cette raison que les plants de cannab!s sont plus larges et qu’ils vont emprunter une morphologie comparable à de petits buissons.
    a(href="#img2")
        img.blog(src="https://c1.staticflickr.com/3/2873/32469816744_6d5ef31629_o.jpg")
    a(href="#_" class="lightbox" id="img2")
        img(src="https://c1.staticflickr.com/3/2873/32469816744_6d5ef31629_o.jpg")
    p <strong>Lucien</strong>, lui, cultive le cannab!s pour produire le plus grand nombre de graines, de fibres et de tiges possibles (ce qu’on appelle le chanvre). Il rêve que les gens s’abritent, se vêtissent et se nourrissent de sa récolte. Il n’accorde pas d’importance à la beauté de ses plantes, il veut du volume de qualité. Pour s’y prendre, <strong>Lucien</strong> cultive à l’extérieur, dans un immense champ où les plantes seront très rapprochées les unes des autres (environ 4 po. de proximité). C’est pour cette raison que les plants de chanvre vont prendre une forme mince et allongée.
    a(href="#img4")
        img.blog(src="https://c1.staticflickr.com/1/734/32498239293_6870a5315d_o.jpg")
    a(href="#_" class="lightbox" id="img4")
        img(src="https://c1.staticflickr.com/1/734/32498239293_6870a5315d_o.jpg")
    p Il va espérer que dame nature soit clémente envers sa récolte. Néanmoins, il sait que le chanvre n’est pas une plante capricieuse. Un sol adéquat, du soleil, un peu d’eau et le tour est joué. Finalement, <strong>Lucien</strong> va récolter le fruit de sa culture à l’aide d’une moissonneuse-batteuse, un peu comme le ferait un agriculteur pour du maïs.
 
    p En résumé, vous comprendrez que <strong>Lucien</strong> et <strong>Jean-Guy</strong> n’aborde pas du tout leur récolte de la même façon!
    
    a(href="#img1")
        img.blog(src="https://c2.staticflickr.com/4/3777/33186958271_03136d0e95_o.png")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://c2.staticflickr.com/4/3777/33186958271_03136d0e95_o.png")
    br
    h3 2. Différence biologique (composition chimique)
    
    p Face aux différents environnements de culture que <strong>Lucien</strong> et <strong>Jean-Guy</strong> ont adoptée, ils se retrouvent avec deux plantes qui commencent à accumuler des différences. Notamment au niveau de leur composition biologique. Grossièrement, le chanvre a un caractère à saveur de <span class="highlight">CBD</span>. Tandis que le cannab!s a un caractère à saveur de <span class="highlight">THC</span>.
 
    p Du côté chanvre, c’est toute la plante qui nous intéresse. Notre ami <strong>Lucien</strong> va récolter la graine pour les filiales de l’alimentation et des soins corporels (la graine est riche en protéines et en acides gras essentiels, entre autres). Ensuite, la tige, quant à elle, est décomposée en deux parties: la fibre (qui recouvre la tige) et son centre (coeur). La fibre, particulièrement résistante, peut être utilisé pour faire du textile. Le centre ou le cœur de la tige, qui est très poreux, possède une haute teneur en silice. Cette tige sera utilisée comme isolant dans nos maisons.
    a(href="#img5")
        img.blog(src="https://c1.staticflickr.com/1/739/32469816654_ed59ee4c79_o.jpg")
    a(href="#_" class="lightbox" id="img5")
        img(src="https://c1.staticflickr.com/1/739/32469816654_ed59ee4c79_o.jpg")
        figcaption Ici c'est très intéressant de voir le pollen être répendu par le plan mâle!
    p Pour le cannab!s, nous allons principalement concentrer notre attention sur la fleur (comme nous l’avons mentionné précédemment) et sa composition en cannabinoïdes. Il existe plus de <span class="highlight">113 cannabinoïdes</span> répertoriés, dont le plus notoire est le THC (Tétrahydrocannabinol), la principale substance psychotrope active. Le cannab!s peut en contenir jusqu’à 30%.  Le chanvre, n’en contient pas ou très peu (régulé par Santé Canada à 0.3%)


    p Le chanvre, pour sa part, contient un cannabinoïde dénommé CBD (cannabidiol) en bonne proportion. Le CBD ne confère aucun effet psychotrope. Ce composé est de plus en plus recherché pour ses bénéfices sur le système endocannabinoïde qui agit comme intermédiaire avec les réactions immunes de notre corps pour nous maintenir en équilibre. Par ailleurs, une haute teneur en CBD se résulte par une chute de la teneur de THC dans une plante (comme l’on peut l’observer pour le chanvre). Le pollen du chanvre ira jusqu’à ruiner des plants de cannab!s qui se trouvent à proximité en diminuant la teneur en THC des plantes. Toutefois, le cannab!s peut également contenir une teneur de 20% à 24% de CBD dans les plus hauts taux.

    p De façon générale, le THC se lie à des <span class="highlight">récepteurs reliés au cerveau</span> alors que le CBD préfère agir sur les <span class="highlight">récepteurs du corps</span>.
    br
    h3 3. Utilisation (thérapeutique/terpen pour canna et industrielle pour chanvre (graines/fibre/huile)
    
    p Peu importe de quel côté nous la regardons, la plante de cannab!s est tout simplement incroyable. Pour nous, il est évident que c’est la plante la plus utile à l’homme. Nous allons tout de même dissocier les différentes utilisations qu’on fait du cannab!s et du chanvre pour vous éclairer à ce sujet.
 
    p <strong>Médicinale</strong>
    p Comme nous l’avons mentionné précédemment, le cannab!s et le chanvre possèdent de nombreuses vertus médicinales. Un sujet crucial à ne pas manquer la semaine prochaine dans la deuxième partie de notre collaboration !


    p Pour ce qui est du chanvre, l’usage est bien plus varié puisqu’il est cultivé de façon industrielle comme nous l’avons mentionné plutôt. Voici les principales utilisations qu’on en fait de nos jours:

    p <a href="/alimentation"><strong>Alimentation</strong></a>
    p C’est la filiale du chanvre la plus exploité au Canada. La graine de chanvre que l’on récolte est un aliment complet en nutriments. Particulièrement <span class="highlight">riche en protéines et en acides gras essentiels</span>. À partir de cette noix, on peut produire de la farine de chanvre, des noix décortiquées, de la protéine de chanvre concentré, de l’huile, du beurre et même du lait.

    p <a href="/soinscorpo"><strong>Soins corporels</strong></a>
    p L’huile de chanvre qui recouvre la coquille de la graine de chanvre est une des huiles naturelles les plus <span class="highlight">complètes et efficaces utilisées en cosmétiques</span>. On l’utilise généralement en harmonie avec d’autres ingrédients naturels pour produire des savons, des crèmes, des lotions, des baumes et des shampooings aux vertus phénoménales.

    p <a href="/textile"><strong>Textile</strong></a>
    p Produit à partir de la fibre qui recouvre la tige, le textile de chanvre <span class="highlight">respire et est anti-microbiens</span>. Il est excellent pour faire toute sorte de vêtements, tapis, literies, chaussures, serviettes ou autres.

    p <strong>Plastique</strong>
    p Encore une fois, c’est la fibre qui est utilisée pour produire un composite de chanvre. C’est une utilisation encore peu commune, mais plusieurs entreprises se sont donné pour mandat de développer le plastique de chanvre. Vous l’auriez compris, les possibilités de produits sont nombreuses (panneaux de carrosseries, lunettes, bicycle, skateboard, lunettes, etc). C'est complètement <span class="highlight">bio-dégradable et renouvelable</span>. 

    p <a href="/habitation"><strong>Habitation</strong></a>
    p Ici, c’est littéralement la tige de la plante de chanvre que l’on va utiliser, sans la fibre. Cette tige va être décortiquée en copeaux et jumelée avec d’autres matériaux naturels. Avec une structure en bois, on en fait des murs pleins aux propriétés phénoménales. <strong>Une maison saine, confortable, écoénergétique, sécuritaire et durable.</strong>  
    br
    h3 4. L’avenir du chanvre : qu’arrivera-t-il après à la <span class="highlight">légalisation du cannab!s?</span>
    
    p C’est dommage que le chanvre ne soit pas cultivé librement dans les municipalités et les jardins communautaires. On devrait pouvoir cultiver du chanvre comme on cultive des tomates. Chez Chanvre Québec, nous croyons que le sujet de la légalisation n’est pas clos, et qu’il y a place à amélioration. La réglementation très stricte face à cette culture pose une contrainte importante à son épanouissement. Une plante aux mille et une vertus, qui constitue une solution extrêmement renouvelable qui répond aux contraintes environnementales et économiques d’aujourd’hui.
 
    p Pour y arriver, nous devons <span class="highlight">partager l’information</span>. Cette plante <span class="highlight">correspond à nos intérêts</span> et à ceux de la <span class="highlight">planète</span>. Nous ne devrions jamais négliger le potentiel industriel de cette plante parce qu’il est possible de la cultiver pour d’autres raisons.
    
    .center
        h2 Pour lire la suite suite c'est par ici chez: <a href="http://www.maitrileaf.ca">maitrileaf</a> :) 
