include ../includes/_blogheader
include ../includes/_blogpost
    
    p Ces deux plantes sont bien distinctes. Toutefois, s’il faut admettre une chose, c’est qu’elles proviennent essentiellement de la même famille de plante: cannabis sativa. La dénomination marijuana (que nous allons tout de même utiliser tout au long de cet article à des fins de clarté) est en réalité un terme qui a été inventé aux alentours des années 1930. Le fait que les deux plantes soient issues de la même famille est à l’origine de la méconnaissance et du taboo entourant le chanvre et constitue probablement le seul point en commun significatif des deux plantes. Voici donc un petit résumé qui vous aidera à comprendre les différences fondamentales entre le chanvre et la marijuana à travers leur composition chimique, leur environnement de culture et leur apparence.

    h3 1. La composition chimique: THC vs CBD

    p Le THC (Tétrahydrocannabinol) est une substance psychotrope active qui engendre des effets secondaires à son utilisateur (agit sur le cerveau, créant un effet d’euphorie en plus de générer des symptômes physiologiques). La marijuana peut contenir parfois jusqu’à 30% de THC dans sa composition. À l’opposé, la culture du chanvre contient tout au plus 0.3% de THC, un nombre qui est d’ailleurs régularisé par Santé Canada. C’est pour cette raison que la culture et la consommation de chanvre sont légales au Canada, car il n’y a pas d’agents psychotropes actifs (en portion significative). Le chanvre, pour sa part, contient une molécule dénommée CBD (cannabidiol) en bonne proportion. Les vertus de la molécule de cannabidiol (CBD) sont nombreuses. Elle a des propriétés calmantes, réduit le taux de sucre dans le sang, agit naturellement comme un anti-inflammatoire et anti-depresseur et a été prouvée scientifiquement pour soulager la douleur, l’insomnie et l’épilepsie, entre autres. Par ailleurs, le CBD ne confère aucun effet psychotrope et agit de plus comme un antagoniste au THC. En effet, une haute teneur en CBD se résulte automatiquement en chute de la teneur de THC dans une plante (comme l’on peut l’observer pour le chanvre). Le pollen de chanvre ira jusqu’à ruiner des plants de marijuana qui se trouvent à proximité en diluant la teneur en THC des plantes. De façon général, le THC se lie à des récepteurs reliés au cerveau alors que le CBD préfère les récepteurs du corps. La différence de composition chimique de ses deux plantes est à la base de leurs différentes utilisations respectives.

    h3 2. Environnement de culture
    a(href="#img1")
        img.imgblog(src="https://storage.googleapis.com/chanvrequebecphoto/weed_2.jpeg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/weed_2.jpeg")

    p L’environnement pour la culture de chanvre et de marijuana est complètement différent. D’abord, le chanvre peut pousser dans une très grande variété de climats et c’est ce qui rend sa culture aussi accommodante pour les agriculteurs. Ensuite, les plants de chanvre sont généralement cultivés très près les uns des autres (environ 4po de proximité). et le cycle de pousse est d’environ 80 à 100 jours. À l’opposé, la culture de marijuana requiert beaucoup de soins et une atmosphère contrôlée (chaleur et humidité parfaite) afin d’avoir une pousse adéquate. Son cycle de pousse est d’environ 108 à 120 jours et les plants doivent généralement être très espacés (6 pieds) pour permettre le développement des cocottes.

    h3 3. L’apparence physique

    p Finalement, d’un point de vue purement esthétique, les deux plantes sont distinctes. Le chanvre est une plante avec une forme beaucoup plus allongée. Elle est mince et peut atteindre une hauteur allant jusqu’à 20 pieds dans certains climats comme la Chine! Les branches et les feuilles sont généralement assez espacées. La plante de chanvre ressemble un peu à une longue mauvaise herbe (en plus de pousser facilement comme cette dernière). La marijuana, pour sa part, a d’avantage une forme trapue. Lorsque l’on observe à distance, on pourrait penser que les plants de marijuana sont en fait des petits buissons. Les feuilles sont donc plus larges et rapprochées les unes des autres. La marijuana se rapproche donc de la forme physique d’une fleur.

    h3 4. Utilisation

    p Essentiellement, la marijuana est une drogue utilisée à des fins principalement récréative et médicinale alors que le chanvre est utilisé pour fabriquer plus de 50 000 produits différents. Notre prochain article sera une capsule historique pour bien comprendre la longue épopée du chanvre en Amérique et tout ce qui englobe son interdiction.
    p N’hésitez pas à partager cet article à vos amis, le changement commence grâce à vous !
    p Recherche et rédaction: Darko Popovic
    ul 
        li Source: Ministry of Hemp, Ministère de l’Agriculture et de l’Agroalimentaire du Canada
    include ../includes/_blogfooter