h3 Un peu d'histoire

p Henry Ford : Le père de la production à la chaine d'automobile avait, avant la 2e guerre, inventé une recette d'un composé mélangeant chanvre et autres matières pour donné une voiture in-pockable. 

h3 Le plastic aujourd'hui... 

p Le plastic est littérallement partout. Il me pollue la vie, littérallement. On a tous entendu parlé des îles de plastic dans les océans et ça c'est too much. Le plastic, à cause de sa composition essentiellement à base de pétrole, ne se décompose pas. À moins, de le jetter au coeur d'un volcan, ce qui est compliqué pour les éboueurs. 

h3 Le plastic végétale à base de chanvre. 

p Je vous offre aujourd'hui la solution avec un plastic végétal à base de chanvre. Il n'est pas nocif à sa production, est bio-dégradable, très rapidement. Et n'est pas secret pour personne. 

h3 L'avion de Derek Kessek

iframe(width='560', height='315', src='https://www.youtube.com/embed/BZGBLh1a3FE', frameborder='0', allowfullscreen='')

h3 L'avantage du plastic de chanvre

p 5x plus rigide et 2.5x plus fort que le polypropilène. voila
