include ../includes/_blogheader
include ../includes/_blogpost

    p Durant la dernière année, il y a eu des évènements marquants dans l’univers de la construction en chanvre au Québec. Pour vous démontrer les différentes façons d’ajouter du chanvre dans vos maisons, nous avons décidé de vous présenter trois acteurs qui ont marqué les derniers mois par leurs avancés respectives. <strong>Art du Chanvre</strong> avec leurs blocs, <strong>Gabriel Gauthier</strong> et la technique du chanvre coffré puis <strong>Nature Fibres</strong> et la laine de chanvre. 
    
    blockquote «Construire en chanvre va bien au-delà du besoin vital de se loger et élève la construction vers une vision globale de l'architecture et du design durable»
        p.right - Anthony Néron, Art du Chanvre
        
    p  Une petit <strong>rappel</strong>: pourquoi une maison en chanvre déjà? Parce que c’est la définition même d’une habitation saine et confortable. Pour vous résumer <a href="https://www.chanvrequebec.com/blog/pourquoi-choisir-une-maison-en-chanvre", target="_blank"> cet article</a>, lorsqu’on choisit des murs en chanvre, on profite d’une excellente isolation thermique et acoustique, d’une grande durabilité et d’une résistance au feu et aux rongeurs. Sans oublier qu’on profite d’un confort hygrothermique, comme on l’explique <a href="https://www.chanvrequebec.com/blog/hygrothermie-le-mot-qui-change-tout", target="_blank"> par ici</a>!

    h2 Qu’est-ce que le béton de chanvre?
    p Lorsqu’on fait référence au béton de chanvre (ou hempcrete), on parle de murs pleins. Inspiré du béton romain et de sa durabilité légendaire, le mur est composé des matériaux naturels suivants : la chènevotte (l’intérieur de la tige de chanvre en copeaux), la chaux aérienne (le liant naturel) et la terre cuite broyée (catalyseur). Le tout est mélangé à de l’eau… et voilà!

    a(href="#img1")
        img.blog(src="https://farm1.staticflickr.com/326/32556607432_4a5a47384b_b.jpg", alt="beton de chanvre")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://farm1.staticflickr.com/326/32556607432_4a5a47384b_b.jpg", alt="beton de chanvre")
    figcaption La composition du béton de chanvre
    
    p Il y a deux façons de procéder pour faire des murs à partir du béton de chanvre; le chanvre coffré et les blocs de chanvre. Dans les deux cas, puisque le béton de chanvre a pour principal avantage d’être un matériau qui respire, il est crucial de couvrir le tout <strong>d’une finition naturelle qui respire également</strong> (mélange chaux/sable). On y gagne un look et un design unique! 

    
    h2 1. La méthode du chanvre coffré

    p Le principe fondamental de cette méthode consiste à couler la maison en une seule pièce monolithique et vivante. Il n’y a donc pas de joints dans ce type de construction. Une fois l’ossature en bois installé, on étale et on compacte manuellement le béton de chanvre. C’est une méthode qui exige une rigueur et un travail continu, sans négliger les recoins. Une fois le temps de séchage terminé (environ deux mois), on termine le travail avec la finition à la chaux. Gabriel Gauthier est le pionnier de cette technique, qu’il a appris en France avant de l’adapter ici au Québec. 

    blockquote « Le confort se ressent au-delà des degrés Celsius »
        p.right - Gabriel Gauthier

    p C’est la méthode la plus performante étant donné qu’il n’y a pas de fuites (de joints) et donc de pertes énergétiques ni de ponts thermiques. <strong>Un mur sans faiblesse</strong>. Toutefois, c’est la méthode la plus exigeante pour le commun des mortels et comporte quelques défis techniques. D’abord, il est crucial d’avoir continuellement l’espace suffisant pour coffrer le chanvre dans les murs. Par conséquent, la toiture doit être effectuée après avoir terminé le coffrage. Finalement il faut prendre en considération la déshumidification après le coffrage, pour permettre aux murs de sécher avant la finition. Quoi qu’il en soit, il faut admettre que le résultat obtenu est impeccable. 
    
    iframe(width='100%', height='315', src='https://www.youtube.com/embed/VWPCzkRjJwQ', frameborder='0', allowfullscreen='')

    p Cette année, Gabriel Gauthier d’ArtCan a eu l’opportunité de restaurer un bâtiment patrimonial pour la ville de Saint-Jean-sur-le-Richelieu. Nous avons été sur les lieux pour immortaliser le moment et avons réalisé un reportage exclusif (<strong>lancement le 17 mai</strong>). C’est donc dire qu’il y aura un bâtiment public ouvert à tous, entièrement restaurer par la méthode du chanvre coffré!

    h2 2. Blocs de chanvre 
    
    a(href="#img1")
        img.blog(src="https://c1.staticflickr.com/5/4187/34458040196_4591430e48_z.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://c1.staticflickr.com/5/4187/34458040196_4591430e48_z.jpg")
        figcaption Des blocs de chanvre de différente dimensions, par Art du Chanvre. 
    
    p Simplement dit, le bloc de chanvre découle du désir de réduire la main-d’œuvre et le temps de séchage requis sur les chantiers, les deux principaux inconvénients du chanvre coffré. Ainsi, on reproduit le concept du béton de chanvre sous la forme de blocs moulés et préséchés. Évidemment, cette méthode perd l’avantage ultime du chanvre coffré puisqu’il faut apposer des joints (mortier de chaux). Les blocs sont réputés pour être légers et particulièrement faciles à poser. Cette méthode existe dans plusieurs pays, mais devrait conquérir notre marché grâce au projet d’Art du Chanvre.
    
    blockquote «Nous allons permettre au béton de chanvre d'être une technique à la portée de tous. Nous voulons être un accélérateur de développement durable.»
        p.right - <strong>Art du Chanvre</strong>

    p En effet, Art du Chanvre a marqué l’imaginaire avec leur campagne de socio financement réussi à l’automne passé. Non seulement ils ont atteint l’objectif financier, mais ils ont permis à la construction en chanvre de gagner considérablement en popularité. Leur objectif : produire une presse à bloc afin de rendre la maison en chanvre plus accessible à tous.

    h2 3. Isolation en laine de chanvre 
    p Cette alternative sera vraisemblablement commercialisée par Nature Fibre dans l’avenir. Comme le nom l’indique, il s’agit ici d’utiliser une laine de chanvre <span class="highlight">pour remplacer la laine synthétique</span> (la laine rose) dans les maisons traditionnelles. Évidemment, c’est la méthode la plus simple et la moins risquée. Toutefois, les performances énergétiques et les résultats finaux sont totalement distincts des deux méthodes précédentes. Principalement, parce qu’on ne profite pas de la respirabilité des matériaux et donc du confort hygrothermique. Il demeure difficile d’affirmer que cette méthode est adaptée au climat québécois/canadien. Quoi qu’il en soit, elle demeure une belle alternative à la laine synthétique qui pollue l’air ambiant dans nos maisons et qui n’est pas adaptée au climat non plus. 
    
    a(href="#img2")
        img.blog(src="https://c1.staticflickr.com/5/4170/33657536744_d7f50512fa_z.jpg")
    a(href="#_" class="lightbox" id="img2")
        img(src="https://c1.staticflickr.com/5/4170/33657536744_d7f50512fa_z.jpg")
    
    p Dans les derniers mois, l’entreprise Nature Fibre, située à Asbestos, a reçu plus de 1 160 000$ en aide financière pour entamer la fabrication industrielle d’éco matériaux à base de chanvre. Une première en Amérique de Nord! Ils prévoient notamment commercialiser la laine de chanvre, la rendant accessible pour tous!

    h2 4. Enduit chanvre 

    p C’est ce qu’on appelle le « hemp plaster » en anglais. C’est un enduit hyper polyvalent composé de chanvre et de chaux (avec une plus haute concentration en chaux). Il sert à la fois<span class="highlight"> d’isolant, d’insonorisant et d’élément de finition décoratif.</span> On l’applique à la truelle sur une fondation déjà existante. C’est littéralement le meilleur matériau pour rénover un bâtiment ancestral. 
    
    a(href="#img1")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/mur.png")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/mur.png")

    h2 Les prix?

    p Évidemment, c’est la question qui demeure sur toutes les lèvres. Malheureusement, c’est une question à laquelle nous ne pouvons répondre, car elle dépend d’un grand nombre de facteurs. Toutefois, n’hésitez pas à contacter un de nos artisans locaux pour en savoir plus :
    
    h2 Mots de la fin

    p Une maison c’est l’investissement d’une vie. On souhaite y élever une famille dans un environnement sain, confortable et sécuritaire. Comme dans toutes choses, chaque méthode possède ses avantages et ses inconvénients. La maison bâtie de murs en chanvre (coffré ou en bloc) demeure, à notre avis, la plus belle solution d’habitation qui soit. Évidemment, nous n’avons pas nécessairement tous le temps ni l’argent pour s’investir dans de tels projets d’envergure, et c’est à ce moment que la laine de chanvre peut devenir le meilleur choix.
    
    .center
        h4 ArtCan
        p Le pionner de la construction de chanvre au Québec !
        a(href="http://maisonenchanvre.com/")
            button.btn-secondary Visitez-le 

        h4 Art du Chanvre
        p Littéralement des oeuvres d'art !
        a(href="http://artduchanvre.com/")
            button.btn-secondary Visitez-le 

    h3 Sources:
        li 1. <a href="http://artduchanvre.com/isolation", target="_blank"> Art du Chanvre</a> (consulté le 20 avril 2017)
        li 2. <a href="http://maisonenchanvre.com", target="_blank"> ArtCan Construction</a> (consulté le 20 avril 2017)
        li 3. <a href="https://maisonsaine.ca/wp-content/uploads/2010/01/Chanvre.pdf", target="_blank"> La maison saine (edition printemps 2008)/a>
        li 4. AUBUT, Jérémie. 2015. Hampblok
        li 5. <a href="https://www.biofib.com/gamme-biofib-isolation.php", target="_blank"> Biofib</a>