include ../includes/_blogheader
include ../includes/_blogpost

    p Lorsqu’on parle de chanvre, ce qui impressionne les gens c’est presque toujours l’étendue de son potentiel. Vous avez surement déjà entendu qu’à partir de l’huile de chanvre, il était possible de produire des médicaments, des soins de beauté,  de l’huile alimentaire, de l’huile à peinture, du bio carburant, de l’huile essentielle, du lubrifiant et plus encore.
    p Tout ça est bien vrai, mais ce n’est pas la même huile qui est utilisée pour tous ces usages. En réalité, on récolte de l’huile à partir des graines (évidemment), des feuilles et même des tiges. L’huile est ensuite traitée différemment pour les nombreux usages que l’on connaît aujourd’hui. Pour démêler ce casse-tête, nous avons regroupé pour vous les différents types d’huiles de chanvre. 
    h2 Huile de graines de chanvre

    p La graine de chanvre entière est recouverte d’une grande quantité d’huile, c’est ce qu’on appelle l’huile de chanvre. Cette huile NE CONTIENT PAS de canabidoil(CBD). Toujours pressé à froid, on la retrouve sous deux formes: raffinée et non raffinée. 
    br 
    
    h3 1. Huile de chanvre, pressé à froid, non raffiné:
    p L’huile de chanvre non raffiné est pressée à froid. Elle est de couleur verdâtre, ce qui signifie qu’elle n’a pas été blanchie ou désodorisée. Par le fait même, c’est une huile avec une durée de conservation moindre qui doit être réfrigérée dès l’ouverture (car elle risque de s’oxyder). Ce qui la distingue des autres huiles, c’est son apport nutritif exceptionnel, c’est pourquoi elle est principalement employée en alimentation. Idéalement dans les salades, les smoothies et même pour l’alimentation canine (on la rajoute comme supplément nutritif). Son ratio optimal entre Oméga-3 et Oméga-6 en fait l’huile naturelle la mieux balancée qui soit! Finalement, elle est excellente pour vernir le bois afin de le traiter contre les intempéries. 

    
    a(href="#img1")
        img.blog(src="https://c1.staticflickr.com/1/658/32709144955_e8e3b8febe_b.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://c1.staticflickr.com/1/658/32709144955_e8e3b8febe_b.jpg")
    figcaption L'huile de chanvre végétale est un excellent substitue à l'huile de poisson. 
    

    h3 2. Huile de chanvre raffiné:
    p L’huile de chanvre raffiné est transparente et inodore, car elle a été blanchie et désodorisée. C’est pour cette raison que l’huile raffinée peut être entreposée longtemps. Ce type d’huile est utilisé entre autres pour faire la confection de soins corporels. Les acides gras essentiels sont conservés, permettant de nourrir les cellules et de soulager les tissus de la peau. C’est une des huiles naturelles les plus complètes et efficaces utilisées en cosmétique. Plus récemment, il a été démontrer qu’il s’agissait d’une alternative fort attrayante pour produire du biocarburant. Bref, les opportunités sont nombreuses!
    
    br
    h2 3) Huile de CBD:
    p L'huile de chanvre CBD (canabidoil) est extraite de la tige de cultivars de chanvre spécifiquement sélectionnés, offrant des pourcentages plus élevés de CBD. C’est une molécule qui ne confère aucun effet psychotrope et qui est de plus en plus recherchée pour ses propriétés anti-inflammatoires, analgésique et anxiolytique. 
    a(href="#img3")
        img.blog(src="https://c1.staticflickr.com/5/4210/34590718954_cd4fba2de7_c.jpg")  
    a(href="#_" class="lightbox" id="img3")
        img(src="https://c1.staticflickr.com/5/4210/34590718954_cd4fba2de7_c.jpg")
    figcaption L’onguant de chanvre, une pommade efficace pour tous les troubles cutanés et les dermatites. Arrête les démangeaisons, réduit l’inflammation et favorise la réparation des tissus.
    
    p  Malheureusement pour nous tous, la vente libre de CBD, même à partir de plants de chanvre, est toujours prohibée au Canada. Nous espérons un changement d’ici le printemps 2018 pour qu’il soit possible de profiter librement de ce remède naturel. 

    br
    h2 4) Huile essentielle de chanvre: 

    p L’huile essentielle de chanvre est récoltée à partir de la feuille et la fleur de chanvre, distillée pour récolter l’essence pure de la plante. Elle est reconnue pour ses arômes et ses vertus thérapeutiques, qui aident à libérer le stress et détendre le corps. Son parfum est aisément assimilable à d’autres afin de profiter de tous les bienfaits de l’aromathérapie. 
    a(href="#img1")
        img.blog(src="https://c1.staticflickr.com/5/4235/35080724860_44134f677e_b.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://c1.staticflickr.com/5/4235/35080724860_44134f677e_b.jpg")
    p C’est une huile essentielle hyper rare compte tenu de son procédé de fabrication et des complications légales (malgré qu’elle ne contient aucun THC ni CBD). 
    
    h2 Pourquoi c’est important?
    
    p Puisque l’huile de chanvre gagne en popularité et que la légalisation du cannabis pourrait signifier l’avènement de l’huile de CBD et des huiles essentiels, il est important de bien distinguer les bienfaits de chacun pour comprendre quels produits sont adaptés à nos besoins.

    p Pour résumer, les solutions d’huiles à partir du chanvre sont nombreuses. Et en attendant que la culture de chanvre gagne en popularité, nous pouvons déjà profiter des bienfaits dans les soins corporels et l’alimentation (canine et animal). 
    br
    h3 Sources:
        li 1. <a href="https://ministryofhemp.com/blog/understanding-different-types-hemp-oil/", target="_blank"> Ministry Of Hemp</a> (consulté le 20 juin 2017)
        li 2. <a href="https://www.projectcbd.org/guidance/cbd-misconceptions", target="_blank"> Project CBD</a> (consulté le 20 juin 2017)
    br
    .center   
      h3 Découvrez des produits québecois

      p Une entreprise bromontoise qui fait des produits de cosmémtiques écologiques et entièrement naturels à base de chanvre. L’huile de chanvre employée dans leurs recettes est cultivée et transformée ici même au Québec.
      a(href='/artistes/lafeuilleverte')
              button.btn-secondary La Feuille Verte  
    .col-12.img-produit(style="background-image: url(https://chanvrevert.ca/wp-content/uploads/2017/05/twenty20_cf037db0-2f26-45f2-a06f-c7595a9ca33c.jpg);")
        p(style='color: black;') Huile de chanvre pour animaux
        a.home-announcement.fade-in(href="https://chanvrevert.ca/ref/chanvrequebec/?campaign=article-huile-chanvre", target="_blank")
            span Voir le produit
            
