include ../includes/_blogheader
include ../includes/_blogpost

    h4 Bonjour Jérémie

    p Bonjour Darko

    h4 Pour les gens qui ne te connaissent pas, pourrais-tu t’introduire? Raconte-nous un peu ton parcours.

    p J’ai commencé mes études en technologie de l’architecture puis en design de l’environnement, qui comprend le design objet et le design urbain. Je suis présentement à la maîtrise en architecture. Depuis, tout jeune, j’ai toujours su que je deviendrais architecte un jour. C’est crucial d’être motivé dans ce domaine, le parcours est assez demandant, en termes de stages et de formation. Bref, il faut aimer ça en masse!

    h4 J’ai pu constater que tu as eu du succès dans plusieurs projets et concours par le passé. Pour aimer l’architecture comme tu le fais, j'imagine que tu dois avoir une vision d’avenir pour le métier. Quels sont tes rêves en architecture?

    p Personnellement, j’ai une vision assez particulière de ce que j’aimerais voir en architecture. En termes de nouvelles technologies, ce qui m’intéresse présentement c’est tout ce qui a trait à l’intégration du numérique dans le bâtiment. Le problème, c’est qu’à force de plonger là-dedans on se dit :
    blockquote« Ok c’est ben le fun l’architecture, il y a du progrès et des nouveautés chaque année…. Mais à quel prix ? ». 
    p Le hic dans tout ça, c’est qu’on produit sans cesse et qu’on consomme énormément. Les villes, les architectes et leurs projets se challengent entre elles. Bref, c’est assez fou! Pour moi, le défi d’avenir pour l’architecture c’est de combiner à la fois l’innovation et le respect de l’environnement.

    h4 De quelles façons penses-tu qu’on peut y parvenir? 

    p D’abord, il y a le bois. C’est un matériau vieux comme la terre qu’on a laissé de côté à travers les années au profit de l’acier et du béton. Pourtant, le bois c’est excellent. C’est un matériau renouvelable en plus d’être un puits de CO2. Le côté négatif, c’est qu’on le combine avec des isolants et des revêtements qui ne sont pas toujours très écofriendly. C’est pour cette raison-là que j’ai commencé à m’intéresser au chanvre. À mon avis, la combinaison chanvre-bois peut réellement représenter l’avenir de la construction écologique. On obtient un résultat particulièrement efficace et écoresponsable. 

    h4 Suite à tes recherches sur la maison en chanvre, quelle est la beauté de la chose selon toi?

    p Il y une excellente isolation, on dépasse les normes de novo climat avec un mur de 12po (r25>r24). Encore plus important, c’est le confort incroyable dans les maisons en chanvre grâce à l’hygrothermie. C’est un matériau qui travaille très bien avec l’humidité, c’est pourquoi on n’a pas besoin d’un pare-vapeur ou d’une composition de mur assez complexe. On a aussi une excellente insonorisation. Le béton de chanvre en synergie avec le bois c’est une combinaison gagnante à l’abri du feu. Le summum dans tout ça, c’est que le chanvre c’est un matériau ultra-renouvelable qui requiert peu d’intrants. 

    p Grosso modo, comme dans toute chose, il y a des forces et des faiblesses ou des contraintes à utiliser le béton de chanvre

    h4 Quelles sont ces fameuses contraintes ?
    p Il y a le temps de séchage. Évidemment, ça prend du temps avant que le béton se fortifie si j’peux m’exprimer ainsi. 

    p Ensuite, c’est très artisanal, particulièrement dans le cas du chanvre coffré. Puisqu’on compacte l’isolant dans les murs, c’est compliqué (voir impossible) de mettre le toit en premier. D’un autre côté, on ne peut pas se permettre non plus qu’il pleuve durant le coffrage. Par conséquent, on se doit d’installer une immense bâche par-dessus la construction. 

    p Ce qui est intéressant quand on regarde ces contraintes, c’est que plus on va s’investir dans la recherche et dans l’innovation dans la fabrication du béton de chanvre, plus on va être en mesure de contourner ou du moins diminuer l’effet de ces contraintes. 

    h4 Ce que j’ai toujours trouvé impressionnant dans tes travaux, c’est l’approche du design. Alors je me demandais de quelle façon tu voyais cet aspect de la construction en chanvre? Est-ce qu’on est en mesure de vraiment jouer avec des formes artisanales et d’arriver avec un design contemporain? 

    p Je suis persuadé qu’on peut arriver à faire ce qu’on veut en termes de design. Ça demande des études et des tests plus poussés avec une recette optimisée, mais j’y crois définitivement. Peut-être que dans l’avenir on va voir le chanvre combiné avec les possibilités du numérique pour arriver à des formes surprenantes. 

    h4 Ok, on est d’accord que la maison en chanvre c’est merveilleux. Mais, pour le commun des mortels, est-ce que c’est possible de se construire en chanvre?

    p C’est déjà accessible, il s’en fait des maisons en chanvre au Québec. La contrainte, à ma connaissance, c’est qu’il faut encore toujours bien être présent sur le chantier, en raison du coût de la main-d’œuvre et du nombre d’heures que ça exige.

    p Également, un autre point important ce sont les ressources. Même si c’est quelque chose de relativement facile à produire, la chènevotte est actuellement importée d’ailleurs, probablement parce que la demande n’est pas encore assez forte, mais il n’en demeure pas moins que c’est une ressource qu’on fait importé d’Europe à ma connaissance.

    p Moi j’y vois vraiment un potentiel incroyable pour l’avenir. C’est sûr que présentement si tu veux te construire en chanvre tu vas devoir payé un peu plus et t’investir dans le projet. Mais c’est des efforts qui vont te permettre d’avoir un environnement sain et confortable pour une famille.  Pas de produits chimiques, c’est quelque chose de gros. On l’ignore souvent, mais il y a beaucoup de composés chimiques dans l’air d’une maison neuve.

    h4 Qu’est-ce qu’il faut faire pour y parvenir? 

    p J’pense que le défi c’est surtout de changer les mentalités, d’informer les gens, comme vous le faites. C’est du progrès qui doit être fait par les industries aussi. Il doit y avoir une volonté de progrès, j’y vois une comparaison avec l’évolution qu’il y a eu dans les méthodes de production des maisons en bois. Maintenant, on produit des édifices de 17 étages avec une structure en bois et je ne pense pas que c’est quelque chose qu’on envisageait il y a de ça des décennies. J’pense qu’on peut parvenir à faire la même chose avec le béton de chanvre. C’est normal d’apprendre et d’évoluer dans les techniques.  On doit passer par les maisons résidentielles. À long terme, je suis persuadé qu’il y aurait même un avenir pour les grands édifices en chanvre en le combinant avec d’autres matériaux structurels. 

    h4 Pour conclure cette entrevue, quel message voudrais-tu passer concernant la maison en chanvre?

    p Si une personne pense vouloir se construire en chanvre, qu’elle a des connaissances dans l’auto construction et qu’elle veut avoir un impact environnemental positif, c’est quelque chose de bien possible. Personnellement je le conseillerais si vous être prêt à vous investir.  C’est réellement quelque chose d’optimal. On a un bon dosage entre design, confort et apport écologique. Ce n’est pas une décision facile, surtout pas. C’est une grande décision à prendre, mais à voir les précédents, une fois que la maison est construite, ce n’est que du positif. Le résultat est impeccable.
