include ../includes/_blogheader
include ../includes/_blogpost
    h3 1. Est-ce que je peux ressentir des effets d’euphorie ou de relaxation en consommant du chanvre alimentaire?
    
    p Non, c’est impossible. Comme il l’est mentionné à plusieurs endroits dans ce site, la présence de THC (substance psychotrope active que l’on retrouve dans le canabis) est réduite à pratiquement zéro dans les plants de chanvre au Canada. La présence de THC à l’intérieur même des graines de chanvre est improbable. Toutefois, il ne faut pas négliger la sensation de bien-être mentale et physique que procure une bonne alimentation! 
    
    h3 2. D’où provient la nourriture de chanvre? Quelles sont les différentes formes sous lesquelles on peut en consommer?
    
    p La nourriture de chanvre provient exclusivement de la graine de chanvre entière (avec coquille). Celle-ci est recouverte de l’huile de chanvre, qu’on récolte dès le début.  Il y a ensuite trois déclinaisons qui résultent de cette graine entière.
    a(href="#img2")
        img.blog(src="https://farm5.staticflickr.com/4328/35839004052_43a8c1cc21_b.jpg")
    a(href="#_" class="lightbox" id="img2")
        img(src="https://farm5.staticflickr.com/4328/35839004052_43a8c1cc21_b.jpg")
    figcaption La graine de chanvre entière
    
    p Elle peut être consommée directement avec sa coque (l’entreprise Gaïaska au Québec produit des graines de chanvre entières assaisonnées) .  Elle peut être broyée et moulue comme d’autres grains pour obtenir<a href="https://www.chanvrequebec.com/produits/farineproteine", target="_blank"> la farine de chanvre</a>. Et finalement, sous sa forme la plus populaire, la coquille est simplement enlevée pour obtenir la graine de chanvre écalée/décortiquée . 
    p À partir de là, il existe d’innombrables possibilités. On retrouve du lait de chanvre (à partir de la graine), de la protéine en poudre (à partir de la farine), du thé, du beurre, <a href="http://maisonlegrand.com/fr/products/hemp", target="_blank"> de l’hummus </a> et plus encore!
    
    h2 3. Peut-on être allergique aux aliments de chanvre?
        
    p C’est peu probable. Il n’existe encore <strong>aucun cas clinique connu</strong> d’allergie à la graine de chanvre. Le chanvre est naturellement sans gluten. C’est un aliment particulièrement compatible et facilement assimilable par le corps humain. C’est surement un signe que nous sommes nés pour en consommer! 
    
    h2 4. Pourquoi consommer du chanvre plutôt qu’un autre aliment? 
    
    p La graine de chanvre est probablement l’aliment le plus riche qui soit. La particularité du chanvre, c’est la symbiose idéale entre la diversité d’éléments nutritifs, leur quantité et l’efficacité avec laquelle le corps les utilise. En effet, le chanvre contient des protéines, des Oméga-3 et 6, des fibres et des vitamines en amont. L’avantage, c’est que ces éléments nutritifs s’y retrouvent dans des proportions (ratio d’Oméga-3 et 6) et sous des formes (AAE) particulièrement faciles à absorber et à utiliser par le métabolisme humain. 
    
    ul Voici quelques faits épatants: 
        li La graine de chanvre est la seule source végétale à contenir l’ensemble des acides aminés essentiels (AAE), permettant de digérer, d’absorber et d’exploiter les protéines efficacement. Cette combinaison contribue à la contraction, la récupération et la régénération musculaire.
        li Le chanvre est une des très rares sources alimentaires à offrir des Oméga-3 et 6 dans un ratio optimal. Le ministère de l’Agriculture et de l’Agroalimentaire  du Canada a d’ailleurs cité le chanvre à de nombreuses reprises dans <a href="http://www5.agr.gc.ca/resources/prod/doc/misb/fb-ba/nutra/pdf/aug_31_06_gla_fr.pdf", target="_blank">son rapport sur le sujet</a>.  
    
    a(href="#img3")
        img.blog(src="https://farm5.staticflickr.com/4327/35190450964_2e9af26174_b.jpg")
    a(href="#_" class="lightbox" id="img3")
        img(src="https://farm5.staticflickr.com/4327/35190450964_2e9af26174_b.jpg")
    figcaption ¼ tasse de farine de chanvre fournit: plus de 50% de l'apport en fibre recommendé en une journée, 11g. de protéines de haute qualité et un apport de 6 vitamines et minéraux essentiels.

    h2 5. Comment faire pour en incorporer dans mes recettes de tous les jours?
   
    p On utilise la <strong><a href="https://www.chanvrequebec.com/produits/farineproteine", target="_blank">farine de chanvre</a></strong> pour remplacer une portion de la farine ordinaire dans les recettes de gâteaux,  pains, crêpes et autres pour y ajouter une réelle valeur nutritive. Elle peut également être employée pour épaissir les soupes ou directement dans les smoothies.
    a(href="#img3")
        img.blog(src="https://c1.staticflickr.com/1/656/31924248433_0a6ecc692a_z.jpg")
    a(href="#_" class="lightbox" id="img3")
        img(src="https://c1.staticflickr.com/1/656/31924248433_0a6ecc692a_z.jpg")
    figcaption Une crêpe savoureuse à base de farine de chanvre
    p <strong>La graine de chanvre</strong> possède un goût très léger qui peut être incorporée dans tous les repas ( sur les “toasts” le matin, sur une banane, dans les pâtes, les salades, etc.) On peut également en faire du lait de chanvre.
    p <strong>L’huile de chanvre</strong> est ajoutée directement dans les smoothies ou dans les salades. Par contre, elle a un goût relativement âcre qui peut ne pas convenir à tous les palais. Il est donc conseillé d’y aller modérément pour s’y habituer. Elle ne peut pas être employée comme huile de cuisson. Récemment, on découvre ses bienfaits dans l'alimentation canine <a href="https://chanvrevert.ca/ref/chanvrequebec/?campaign=affiliation-general", target="_blank"> avec Chanvre Vert</a>.
    
    h2 6. Est-ce biologique?
    p Il n’existe aucun OGM, herbicide ou pesticide développé pour la culture de chanvre. C’est une plante naturellement anti-fongique, donc qui résiste aux champignons. Pour ce qui est de la mention biologique dans le chanvre, cela dépend donc principalement des engrais utilisés et du sol. Par ailleurs, le chanvre nettoie les sols. Cette culture représente donc une opportunité en or pour les agriculteurs qui veulent sortir de l’emprise du maïs OGM et des pesticides et faire une transition vers les cultures biologiques.  
    
    a(href="#img3")
        img.blog(src="https://farm3.staticflickr.com/2843/32818491003_33b80b56f7_b.jpg")
    a(href="#_" class="lightbox" id="img3")
        img(src="https://farm3.staticflickr.com/2843/32818491003_33b80b56f7_b.jpg")
    
    h2 7. Y a-t-il a des entreprises locales qui en produisent?
    
    p Oui, absolument. La chaine de production en entier est présente au Québec. Voici une liste de ces gens qui font une différence dans leur communauté:
    
    ul  
        li <a href="http://www.laminoteriedesanciens.com", target="_blank">La Minoterie des Anciens</a>.
        li <a href="http://www.mekinacnature.com", target="_blank">Mékinac Nature</a>.  
        li <a href="http://www.alimentstrigone.com/fr/", target="_blank">Aliments Trigone</a>.  
        li <a href="https://www.coopducap.org", target="_blank">Coop du Cap</a>.  
        li <a href="https://chanvrevert.ca/ref/chanvrequebec/?campaign=affiliation-general", target="_blank">Chanvre Vert</a>.
        li <a href="https://www.chanvrequebec.com/artistes/chanvresa", target="_blank">Bon Vivant</a>.
        
    a(href="#img3")
        img.blog(src="https://farm3.staticflickr.com/2928/32503131483_79136d3bfd_b.jpg")
    a(href="#_" class="lightbox" id="img3")
        img(src="https://farm3.staticflickr.com/2928/32503131483_79136d3bfd_b.jpg")
    figcaption La culture de chanvre biologique de la Ferme Tournevant, au Saguenay. 
    
        
    h2 8. Quels sont les avantages des différents produits disponibles?
    
    p <strong>La graine écalée</strong> a principalement pour avantage d’être très riche en protéines, en acides gras essentiels et d’être particulièrement versatile. 
    p <strong>La farine de chanvre</strong> se distingue par son apport en protéines, en fibres et en vitamines et minéraux. Elle a un excellent temps de conservation. 
    p <strong>La graine entière</strong> possède un petit goût croquant. Encore une fois, elle est riche en protéines et en acides gras essentiels. Son temps de conservation est le meilleur. 
    p Finalement, <strong>l’huile de chanvre</strong> est composée à environ 80% d’acides gras essentiels (Oméga-3 et Oméga-6). C’est l’huile naturelle la mieux balancée qui soit. Elle est parfaite pour substituer l’huile provenant de poissons. 
    
    a(href="#img3")
        img.blog(src="https://farm5.staticflickr.com/4329/35968187676_d9d60c0c3a_b.jpg")
    a(href="#_" class="lightbox" id="img3")
        img(src="https://farm5.staticflickr.com/4329/35968187676_d9d60c0c3a_b.jpg")
    figcaption L'huile de chanvre est de couleur verdâtre.
    


    
        

