include ../includes/_blogheader
include ../includes/_blogpost

    h4 Ce profil est proche des lipides naturels de la peau, ce qui en fait une huile sèche à pénétration rapide. On l’utilise généralement en harmonie avec d’autres ingrédients naturels pour produire des savons, des crèmes, des lotions, des baumes et des shampooings aux vertus phénoménales.
    h3 1) Propriété ultra-hydratante

    p L’huile de chanvre est particulièrement impressionnante pour son efficacité à maintenir un équilibre hydrolipidique. En français, cela désigne un équilibre entre les lipides et l’eau. Notre peau agit comme une barrière pour protéger notre corps des pertes d’eau excessives et contre la pénétration de substances étrangères et pathogènes, telles que les bactéries et les virus.

    p Concrètement, l’huile de chanvre va neutraliser les problèmes qui causent la peau sèche. C’est principalement son aptitude à pénétrer et hydrater la peau rapidement qui en fait une huile de choix pour tous les soins de la peau.

    p Le sérum Coup d’éclat. Ce fluide précieux procure une peau éclatante et lumineuse ! Un concentré 100% végétal à la texture lisse et soyeuse, riche en antioxydants et en nutriments essentiels. Neutralise le vieillissement de la peau, atténue les rougeurs et redonne de de la radiance au teint tout en raffermissant les cellules fatiguées.

    h3 2) Anti-inflammatoire naturel (pour lutter contre les maladies de la peau)

    p Comme de nombreuses huiles essentielles, l’huile de chanvre agit comme un anti-inflammatoire naturel qui offre une belle alternative saine aux produits que l’on retrouve en pharmacie et qui entraînent trop souvent des effets secondaires. Elle est reconnue pour son éfficacité sur les peaux irrités ou les eruptions cutanées.

    p On ne le dira jamais assez, l’une des caractéristiques les plus importantes de l’huile de chanvre est sa teneur en acides gras polyinsaturés, dont l’acide gamma linolénique (Oméga-6) et l’acide stéaridonique (Oméga-3). Une étude finlandaise démontre que ces acides gras en particulier, jouent un rôle important pour réduire les symptômes de nombreuses maladies de la peau, tels que l’eczéma, le psoriasis et l’acné.

    p L’onguant de chanvre. C’est une pommade efficace pour tous les troubles cutanés et les dermatites. Arrête les démangeaisons, réduit l’inflammation et favorise la réparation des tissus. Particulièrement efficace pour soigner l’eczéma.

    h3 3) Nourrit la peau

    p On oublie trop souvent que notre peau est une membrane de notre corps qui exige également d’être bien alimentée. L’huile de chanvre, c’est littéralement de la nourriture pour la peau.
    a(href="#img1")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/piedbb.jpeg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/piedbb.jpeg")
    p La santé de la peau dépend largement de la rétention de l’humidité assurée par l’épiderme. L’affaiblissement ou l’insuffisance de cette barrière naturelle peuvent être provoqués par le soleil, l’air sec, les savons irritants, les lésions dues aux radicaux libres ou le ralentissement du métabolisme des cellules lié au vieillissement. Grâce à son profil supérieur en AGE (Acides gras essentiels), très proche des lipides naturels de la peau, l’huile de chanvre en application topique apporte à la peau ses composants essentiels, augmentant ainsi la rétention de l’humidité.

    p Une huile sèches à pénétration rapide. Composées de 70% d’huile de chanvre, utilisées pour le massage, pour hydrater le corps en application topique ou dans le bain.

    h3 4) Action anti-âge

    p Les radicaux libres sont responsables du vieillissement de la peau. Par leur action oxydante, ils abreuvent les cellules d’acides gras saturés. Les radicaux libres proviennent naturellement de notre organisme ou sont causés par notre alimentation, la pollution et le soleil. Ils altèrent la structure de la membrane cellulaire, provoquant rides, perte d’élasticité et fragilité du tissu cutané.

    p Les AGE (Acides gras essentiels) présents en forte quantité dans l’huile de chanvre restructurent la membrane cellulaire pour contrer les agressions des radicaux libres. En effet, des recherches scientifiques de l’université des sciences et technologies pharmaceutiques de Turin démontrent en 2005 que les propriétés antioxydantes et anti-inflammatoires de l’huile de chanvre agissent contre le processus de vieillissement tout en apaisant la peau.

    p La crème anti-rides. Ce soin ultra hydratant est un puissant allié quotidien pour la lutte au vieillissement de la peau.

    h3 5) Pour soigner les rougeurs

    p L’huile de chanvre, grâce à sa haute teneur en oméga 3 et en vitamine E, renforce les parois veineuses et améliore la circulation sanguine. Elle atténue la visibilité des petites veines superficielles en augmentant la fluidité du sang. Elle active la microcirculation et réduit les rougeurs. L’huile de chanvre est donc tout particulièrement adaptée contre la couperose et la rosacée.

    p D’après une étude publiée dans le Journal du traitement dermatologique, l’huile de graine de chanvre serait en mesure de traiter les problèmes de peau comme la dermatite — qui se traduit par une peau sèche, des plaques rouges et de fortes démangeaisons.

    h3 6) Une huile saine et écologique de provenance locale.

    p L’huile de chanvre est dépourvue d’OGM et elle convient à tous les types de peau. C’est une ressource végétale et écologique, cultivée et transformée ici même au Québec. L’entreprise familiale La Feuille Verte offre des solutions efficace 100% naturelle pour la santé de votre peau. Comme on dit, ça fait changement des produits qu’on retrouve dans nos salles bains :)

    p Caroline & Manon artisanes. Chaque conception est fabriquée avec amour par une équipe de passionnés dans un atelier inspirant à Knowlton, au Québec.

    h4 Nos sources:
    ul 
        li http://www.lafeuilleverte.ca/fr/lfv-chanvre-bienfaits.shtml
        li https://bio-transition.com/huile-de-chanvre.html
        li Efficacy of dietary hempseed oil in patients with atopic dermatitis, Callaway J, Schwab U, Harvima I, Halonen P, Mykkänen O, Hyvönen P, Järvinen T., 2005
        li Dietary supplementation of gamma-linolenic acid improves skin parameters in subjects with dry skin and mild atopic dermatitis, Kawamura A1, Ooyama K, Kojima K, Kachi H, Abe T, Amano K, Aoyama T., 2011.

    h3 Découvrez un produit québecois
    
    p Une entreprise bromontoise qui fait des produits de cosmémtiques écologiques et entièrement naturels à base de chanvre. L’huile de chanvre employée dans leurs recettes est cultivée et transformée ici même au Québec.
    a(href='/artistes/lafeuilleverte')
            button.btn-secondary La Feuille Verte
