include ../includes/_blogheader
include ../includes/_blogpost
    h3 1. Peut-elle m’aider à traiter des problèmes de peau tels que le psoriasis, l’eczéma et l’acné ?
    
    p L’huile de chanvre agit comme un anti-inflammatoire naturel.
    
    p Une étude finlandaise démontre que les acides gras Oméga-3 et Oméga-6 présents dans l’huile de chanvre jouent un rôle important pour réduire les symptômes de nombreuses maladies de la peau, tels que l’eczéma, le psoriasis et l’acné.
    
    p La Feuille Verte emploie également des huiles essentielles telles que la précieuse Hélichryse italienne pour accentuer les bienfaits contre les troubles cutanés. 
    
    a(href="#img1")
        img.blog(src="https://c1.staticflickr.com/4/3771/32469614794_34792a2e36_k.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://c1.staticflickr.com/4/3771/32469614794_34792a2e36_k.jpg")
    figcaption L'onguent de chanvre
    
    h3 2. Est-elle favorable pour soulager les démangeaisons et/ou les rougeurs ?
    
    p L’huile de chanvre, grâce à sa haute teneur en Oméga-3 et en vitamine E, renforce les parois veineuses et améliore la circulation sanguine. Elle atténue la visibilité des petites veines superficielles en augmentant la fluidité du sang. Elle hydrate la peau, soulage les démangeaisons et réduit les rougeurs. L’huile de chanvre est donc tout particulièrement adaptée contre la couperose et la rosacée.
    
    a(href="#img2")
        img.blog(src="https://farm3.staticflickr.com/2943/34108972636_78ac8ba01c.jpg")
    a(href="#_" class="lightbox" id="img2")
        img(src="https://farm3.staticflickr.com/2943/34108972636_78ac8ba01c.jpg")
    figcaption La crème hydratante Anti-Rides, un puissant anti-oxydant riche en Oméga-3 et en Vitamine E.
    
    h3 3. Est-elle sans danger d'utilisation ?
    
    p C’est l’herboriste thérapeute et cosmologue qualifiée, Manon Letarte, qui a fondé La Feuille Verte il y a plus d’une décennie. Elle y a instauré un slogan qui illustre bien les valeurs de l’entreprise: 
    
    blockquote “ Ne mettez pas sur votre corps ce que vous ne mettriez pas dans votre bouche... » 
    
    p Pour faire court, tous les produits de La Feuille Verte sont issus du règne végétal (plantes médicinales et huiles essentielles) et sont exempts d’agents de conservation ou de produits chimiques. Leurs produits sont bien plus sains et sécuritaires pour vous que ce que l'on retrouve en pharmacie.
    
    a(href="#img3")
        img.blog(src="https://c1.staticflickr.com/3/2864/32469617184_6649b791e3_k.jpg")
    a(href="#_" class="lightbox" id="img3")
        img(src="https://c1.staticflickr.com/3/2864/32469617184_6649b791e3_k.jpg")
    figcaption Le lait Maman & Bébé. Une solution parfaite pour soulager les nouvelles mamans, sans risque pour l'enfant.
    
    h3 4. Est-ce que les produits sentent le cannabis?
   
    p Ce sont des produits 100% naturels, à base de plantes médicinales. Par conséquent, ils sont évidemment empreints d’une odeur végétale. Par contre, c’est une odeur qui ne s’apparente aucunement à l’essence de cannabis.  C’est bien logique, puisque l’huile de chanvre provient des graines de chanvre et non des feuilles. L’huile de chanvre est présente dans les produits dans une proportion de 30% à 90% en synergie avec des huiles essentielles de grande qualité. Si vous éprouvez des incertitudes concernant l’odeur, on vous suggère de commencer par des produits avec une concentration moins élevée en huile de chanvre.
    
    a(href="#img4")
        img.blog(src="https://c1.staticflickr.com/1/521/32629530931_3b7ece70ec_k.jpg")
    a(href="#_" class="lightbox" id="img4")
        img(src="https://c1.staticflickr.com/1/521/32629530931_3b7ece70ec_k.jpg")
    figcaption Le Sérum Coup d'Éclat dispose d'un mélange complexe d'huiles essentielles précieuses 

    p Vous ne pouvez pas vous tromper! Si vous n'êtes pas satisfait d'un produit ou de nos conseils, vous pouvez nous retournez la marchandise dans un délais de trente jours et on vous rembourse sans faire d'histoire!
    br
    br
    h2 Découvrez La Feuille Verte
    p Des produits naturels de qualité supérieur, faits à la main, à Knowlton, au Québec.
    .center
        a(href='/artistes/lafeuilleverte')
            button.btn-secondary La Feuille Verte
    