include ../includes/_blogheader
include ../includes/_blogpost
    
    p Chaque année, dans le domaine des soins corporels, il y a des nouveaux traitements ou produits “miracles” qui connaissent une croissance fulgurante. En 2016, c’était les masques de charbon. En 2015, les lotions à base d’algues. Avec toutes ces nouvelles solutions, il devient difficile de mettre le doigt sur ce qui est véritablement bénéfique. 

    p Une chose est sûre, les consommateurs prennent désormais des décisions éclairées et comprennent les avantages d’opter pour des alternatives entièrement saines et naturelles. Il y a plusieurs raisons de croire que l’huile de chanvre sera la prochaine tendance en cosmétiques, nous les avons regroupés ici:
    
    h3 1. Produits de soins corporels vegan
    
    p Oh non, le véganisme n’est pas réservé qu’à l’alimentation! En effet, Google a annoncé dans son rapport des tendances (Beauty Trends) de 2016 que les recherches pour les produits de cosmétiques vegan <strong>augmentent de 83% année après année</strong>! 

    p Ces chiffres ne sont pas surprenants, les gens accordent de plus en plus d’importance aux conséquences éthiques et écologiques des produits qu’ils achètent.  
    
    a(href="#img1")
        img.blog(src="https://farm5.staticflickr.com/4207/35487221591_466c8d631b_b.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://farm5.staticflickr.com/4207/35487221591_466c8d631b_b.jpg")
    figcaption L'huile de chanvre est une ressource végétale et écologique qui n’a pas besoin d’être testée sur des animaux!
    
    h3 2. Anti-inflammatoire naturel (pour lutter contre les maladies de la peau)

    p Dans son rapport annuel des tendances, Google a identifié  <strong>l’acné</strong> parmi les plus importantes préoccupations des consommateurs.
    
    p Heureusement, comme d’autres huiles essentielles, l’huile de chanvre agit comme un anti-inflammatoire naturel et offre une belle alternative saine aux produits que l’on retrouve en pharmacie qui entraînent trop souvent des effets secondaires. Elle est reconnue pour son efficacité sur les peaux irritées ou les éruptions cutanées.
    .col-12.img-produit(style="background-image: url(https://farm3.staticflickr.com/2943/34108972636_78ac8ba01c.jpg);")
        p Crème Anti-ride
        a.home-announcement.fade-in(href="/produits/cremehydratante", target='_blank')
            span Voir le produit
            #tooltip.i.fa.fa-arrow-right(aria-hidden='true')
    figcaption La crème anti-ride, une pommade efficace pour tous les types de rides. Favorise la réparation des tissus, l'élasticité de la peau et redonne un tonus rajeunissant. 
    p On ne le dira jamais assez, l’une des caractéristiques les plus importantes de l’huile de chanvre est sa teneur en acides gras polyinsaturés, dont l’acide gamma linolénique (Oméga-6) et l’acide stéaridonique (Oméga-3). Une étude finlandaise démontre que ces acides gras en particulier, jouent un rôle important pour réduire les symptômes de nombreuses maladies de la peau, tels que l’eczéma, le psoriasis et l’acné.

    h3 3. De la nourriture pour la peau

    p On oublie trop souvent que notre peau est une membrane de notre corps qui exige également d’être bien alimentée. L’huile de chanvre, c’est littéralement de la nourriture pour la peau.
    .col-12.img-produit(style="background-image: url(https://c1.staticflickr.com/1/588/32292688150_9f153b5cdf_k.jpg);")
        p Huile Chanvre-Moi
        a.home-announcement.fade-in(href="/produits/chanvremoi", target='_blank')
            span Voir le produit
            #tooltip.i.fa.fa-arrow-right(aria-hidden='true')
    figcaption Chanvre-Moi. Une huile sèches à pénétration rapide. Composées de 70% d’huile de chanvre, utilisées pour le massage, pour hydrater le corps en application topique ou dans le bain. 
    p Elle est la seule huile végétale ayant un <strong>ratio idéal d’Oméga-3 et d’Oméga-6</strong>.Ce profil est proche des lipides naturels de la peau, ce qui en fait une huile sèche à pénétration rapide. On l’utilise généralement en harmonie avec d’autres ingrédients naturels pour produire des savons, des crèmes, des lotions, des baumes et des shampooings aux vertus phénoménales.
    
    h3 4. Alternative saine et naturelle qui convient à tous

    p <strong>Ingrédients</strong>: Sodium Laureth Sulfate, Tetrasodium EDTA, Methylisothiazolinone. 
    
    p Ces produits chimiques toxiques et/ou cancérigènes se retrouvent dans les produits cosmétiques les plus vendus en pharmacies. Et s’il y avait des solutions saines et naturelles pour prendre soin de son corps? L’huile de chanvre est dépourvue d’OGM et elle convient à tous les types de peau. 
    a(href="#img4")
        img.blog(src="https://c1.staticflickr.com/4/3771/32469614794_34792a2e36_k.jpg")
    a(href="#_" class="lightbox" id="img4")
        img(src="https://c1.staticflickr.com/4/3771/32469614794_34792a2e36_k.jpg")
    h3 5. Préserve l’élasticité de la peau et agit contre le vieillissement

    p Le traitement des vergetures figure également parmi les plus importantes préoccupations en matière de soins corporels, selon le rapport de Google. Encore une fois, l’huile de chanvre a le pouvoir d’être la solution à une problématique importante.
    p <strong>Explication scientifique:</strong> Les radicaux libres sont responsables du vieillissement de la peau. Par leur action oxydante, ils abreuvent les cellules d’acides gras saturés. Les radicaux libres proviennent naturellement de notre organisme ou sont causés par notre alimentation, la pollution et le soleil. Ils altèrent la structure de la membrane cellulaire, provoquant rides, perte d’élasticité et fragilité du tissu cutané.
    a(href="#img5")
        img.blog(src="https://farm5.staticflickr.com/4273/35231034630_59e4125623_b.jpg")
    a(href="#_" class="lightbox" id="img5")
        img(src="https://farm5.staticflickr.com/4273/35231034630_59e4125623_b.jpg")
    figcaption L'huile de chanvre conserve l'élasticité de la peau pour éviter l'apparition de vergetures et attenue la coloration des vergetures déjà apparente. 
    p Les AGE (Acides gras essentiels) présents en forte quantité dans l’huile de chanvre restructurent la membrane cellulaire pour contrer les agressions des radicaux libres. En effet, des recherches scientifiques de l’université des sciences et technologies pharmaceutiques de Turin démontrent en 2005 que les propriétés antioxydantes et anti-inflammatoires de l’huile de chanvre agissent contre le processus de vieillissement tout en apaisant la peau.
    
    h3 6. Une huile aux propriétés ultra-hydratante

    p L’huile de chanvre est particulièrement impressionnante pour son efficacité à maintenir un équilibre hydrolipidique. En français, ça désigne un équilibre entre les lipides et l’eau. Notre peau agit comme une barrière pour protéger notre corps des pertes d’eau excessives et contre la pénétration de substances étrangères et pathogènes, telles que les bactéries et les virus.
    .col-12.img-produit(style="background-image: url(https://c1.staticflickr.com/1/298/32629530221_61f49e9e48_k.jpg);")
        p Serum coup d'éclat
        a.home-announcement.fade-in(href="/produits/serum", target='_blank')
            span Voir le produit
            #tooltip.i.fa.fa-arrow-right(aria-hidden='true')
    figcaption Le sérum Coup d’éclat. Un concentré 100% végétal à la texture lisse et soyeuse. Neutralise le vieillissement de la peau, atténue les rougeurs et redonne de de la radiance au teint tout en raffermissant les cellules fatiguées. 
    p Concrètement, l’huile de chanvre va neutraliser les problèmes qui causent la peau sèche. C’est principalement son aptitude à pénétrer et hydrater la peau rapidement qui en fait une huile de choix pour tous les soins de la peau.


    h3 7. Attenue et soulage les rougeurs
    
    p L’huile de chanvre, grâce à sa haute teneur en oméga 3 et en vitamine E, renforce les parois veineuses et <strong>améliore la circulation sanguine</strong>. Elle atténue la visibilité des petites veines superficielles en augmentant la fluidité du sang. Elle active la microcirculation et réduit les rougeurs. L’huile de chanvre est donc tout particulièrement adaptée contre la couperose et la rosacée.

    p D’après une étude publiée dans le Journal du traitement dermatologique, l’huile de graine de chanvre serait en mesure de traiter les problèmes de peau comme la dermatite — qui se traduit par une peau sèche, des plaques rouges et de fortes démangeaisons.
    
    h3 Conclusion
    
    p L’huile de chanvre est une huile végétale qui s’harmonise merveilleusement bien avec le corps humain. Tôt ou tard, les bienfaits de cette huile seront criés sur tous les toits. Que ce soit pour traiter les maladies de la peau ou tout simplement pour entretenir une bonne hygiène corporelle, l’huile de chanvre est la solution naturelle de prédilection.
    br
    
    .center  
      h3 Découvrez un produit québecois
      
      p Une entreprise bromontoise qui fait des produits de cosmémtiques écologiques et entièrement naturels à base de chanvre. L’huile de chanvre employée dans leurs recettes est cultivée et transformée ici même au Québec.
      a(href='/artistes/lafeuilleverte')
              button.btn-secondary La Feuille Verte

    h4 Nos sources:
    ul 
        li http://www.lafeuilleverte.ca/fr/lfv-chanvre-bienfaits.shtml
        li https://bio-transition.com/huile-de-chanvre.html
        li Efficacy of dietary hempseed oil in patients with atopic dermatitis, Callaway J, Schwab U, Harvima I, Halonen P, Mykkänen O, Hyvönen P, Järvinen T., 2005
        li Dietary supplementation of gamma-linolenic acid improves skin parameters in subjects with dry skin and mild atopic dermatitis, Kawamura A1, Ooyama K, Kojima K, Kachi H, Abe T, Amano K, Aoyama T., 2011.
    br
