include ../includes/_blogheader
include ../includes/_blogpost  
    p Ainsi, pour une formulation de type « Mur », la teneur en eau massique du matériau est supérieure à 4% lorsque l'hygrométrie ambiante est de 50% HR. En conséquence, la conductivité thermique d'un béton de chanvre est grandement impactée par l'humidité relative extérieure : par exemple, pour des formulations peu denses, il a été observé une augmentation de 40% lorsque l'hygrométrie passe de 0% à 50% HR.
    a(href="#img3")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/hygrothermie_2.png")
    a(href="#_" class="lightbox" id="img3")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/hygrothermie_2.png")
    p Par ailleurs, le béton de chanvre possède une perméabilité à la vapeur d'eau élevée, voisine de celle du béton cellulaire ou de la bauge, et sa capacité à modérer sensiblement les variations d'humidité relative de l'air environnant font de lui un très bon, voire excellent, régulateur hydrique.

    p Pour finir, le béton de chanvre a un fonctionnement hygrothermique relativement différent de celui d'autres matériaux de construction tels que la brique de terre cuite ou le béton cellulaire autoclavé. Effectivement, les variations de température extérieure sont amorties au sein du matériau grâce aux phénomènes de changement de phase (condensation et vaporisation) qui s'y produisent.
    
    p Le béton de chanvre a un comportement hydrique assez singulier dans la mesure où la chènevotte qu'il contient est très sensible aux variations d'hygrométrie extérieure. En effet, ce matériau possède la faculté d’échanger une grande quantité d’humidité avec l’air environnant, ce qui impacte fortement sa conductivité thermique. En outre, cette hygroscopicité élevée confère au béton de chanvre une perméabilité à la vapeur d'eau importante et fait de lui un excellent régulateur hydrique.
    
    p Le béton de chanvre possède une porosité très élevée et essentiellement « ouverte ». Plus de 70% en volume pour une formulation de type « Mur » avec plusieurs tailles caractéristiques de pores :
     ul
        li des macropores (d’environ 1 cm de diamètre) dus à l’agencement imparfait des diverses particules de chanvre dans le mélange ;
        li des mésopores (de 0,1 mm à 1 mm) au sein des particules et du liant ;
        li les micropores interhydrates (inférieurs à 0,01 μm) dans la matrice du liant.
        
    p Du fait de sa forte porosité, le béton de chanvre présente un comportement mécanique « atypique » et ses performances thermiques et acoustiques sont particulièrement intéressantes : il constitue donc un matériau multifonctionnel relativement attrayant.
    
    p La valeur tampon hydrique caractérise la capacité d’un matériau, ou d’un composant multicouches, à modérer les variations d’hygrométrie de l’air avoisinant. La définition de la valeur tampon hydrique d’un matériau (Moisture Buffer Value : MBV), ainsi qu’un protocole d’essai associé ont été proposés à l’issue du Nordtest Project [Rode (2005)]. Ainsi, la valeur tampon hydrique est définie par :
    a(href="#img1")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/hygrothermie_1.png")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/hygrothermie_1.png")
    ul 
        li où : ∆m : Variation de masse durant la phase d’adsorption ou de désorption (g) 
        li A : Surface d’échange (m2)
        li HRhaute / HRbasse : Humidités relatives haute et basse au cours du cycle (%)
    a(href="#img2")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/hygrothermie_3.png")
    a(href="#_" class="lightbox" id="img2")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/hygrothermie_3.png")   
    p Une étude menée au Laboratoire de Génie Civil et Génie Mécanique de l'IUT Génie Civil de Rennes [Collet et al. (2012)] a permis d'établir que la valeur tampon hydrique moyenne d'une formulation de béton de chanvre de type « Mur » réalisée par moulage-compactage est comprise entre 1,99 et 2,51 g/(m2.%HR) selon la composition du liant utilisé lors du mélange. Cela place le matériau dans la catégorie des excellents régulateurs hydriques au regard de la classification du Nordtest Project (Figure 7). En outre, en comparant ces valeurs avec celles données dans le Nordtest Project, on observe que le béton de chanvre est un bien meilleur régulateur hydrique que le béton cellulaire (MBV = 1,04 g/(m2.%HR)), le plâtre (MBV = 0,64 g/(m2.%HR)) ou le béton (MBV = 0,38 g/(m2.%HR)).
    h6 
    figcaption <strong>adsorber :</strong> Phénomène par lequel des solides pulvérulents ou poreux, des solutions retiennent à leur surface des molécules, des ions en phase gazeuse ou liquide.
    
    .center
        h4 Télécharge l'article scientifique complet !
        a(href="https://storage.googleapis.com/chanvrequebecphoto/dgaln_rapport_bibliographique_proprietes_hygroscopiques_et_comportement_hygrothermique_beton_de_chanvre_-_janvier_2013.pdf")
            button.btn-secondary Télécharge