include ../includes/_blogheader
include ../includes/_blogpost
    blockquote “L’industrie de la mode est la deuxième industrie la plus polluante sur Terre, après celle du pétrole” — The True Cost Documentary
    a(href="#img1")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_2.jpeg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_2.jpeg")
    h3 1. L’INDUSTRIE DU COTON
    p Le coton est une culture dévastatrice pour notre écosystème, pour les agriculteurs, ainsi que pour les consommateurs. Le problème avec la culture de coton, c’est qu’elle représente environ 16% des pesticides utilisés globalement.
    p Pour résumer la situation, la culture du coton ravage les sols agricoles, pollue les cours d’eau, empoisonne les cultivateurs défavorisés et leur communauté, épuise les ressources d’eau douce à travers la planète et représente une menace pour la santé des consommateurs.
    a(href="#img2")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_3.png")
    a(href="#_" class="lightbox" id="img2")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_3.png")
    figcaption Un cultivateur qui arrose ces plants avec des pesticides sans prendre de mesures de sécurité. Crédit photo: The True Cost
    p Afin de vous illustrer les ravages causés par les pesticides sur les champs de coton, nous avons regroupé pour vous les faits troublants qui ont été démontrés dans le rapport sur les pesticides dans le coton, produit par le “Environmental Justice Foundation” :
    p Une seule goutte du pesticide aldicarb absorbée par la peau peut tuer un adulte. L’aldicarb est couramment utilisé dans la production du coton et en 2013, près de 100 000 tonnes ont été pulvérisées sur les champs de coton aux Etats- Unis. L’aldicarb est également utilisé pour le coton dans 25 autres pays à travers le monde.
    blockquote Note : Si des pesticides comme l’aldicarb (voir les faits présenter plus bas) sont si dangereux pour les vies humaines, tentez simplement de vous imaginer le désastre que cela représente pour les sols agricoles et pour les cours d’eau avoisinants une culture de coton.
    p Les pesticides dangereux associés à la production mondiale de coton représentent une menace importante sur les ressources mondiales d’eau douce. Ces pesticides contaminent aujourd’hui les rivières des Etats Unis, d’Inde, du Pakistan, d’Ouzbékistan, du Brésil, d’Australie, de Grèce et d’Afrique de l’Ouest
    a(href="#img3")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_4.jpeg")
    a(href="#_" class="lightbox" id="img3")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_4.jpeg")
    p En Inde, où vit plus d’un tiers des cultivateurs de coton au monde, le coton représente 54 % des pesticides utilisés chaque année bien qu’il n’occupe que 5 % des surfaces cultivées. Sur une seule période d’observation de 5 mois, 97 cultivateurs de coton ont été victimes de 323 incidents de santé.
    blockquote 99 % des cultivateurs de coton vivent et travaillent dans les pays en voie de développement où la faible sensibilisation à la sécurité, le manque d’accès au matériel de protection, l’illettrisme, le mauvais étiquetage des pesticides, les contrôles inappropriés et la pauvreté chronique aggravent les dommages causés aux communautés à faible revenu par les pesticides.
    a(href="#img4")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_5.jpeg")
    a(href="#_" class="lightbox" id="img4")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_5.jpeg")
    figcaption Un jeune indien travaillant dans le milieu du textile
    p Une étude de 2004, menée par des chercheurs de l’Université Technique de Lódz, en Pologne, a montré que les pesticides dangereux utilisés dans la culture du coton peuvent également être détectés dans les vêtements en coton.
    p Les symptômes aigus d’empoisonnement par les pesticides sont les suivants : maux de tête, vomissements, tremblements, manque de coordination, difficultés et insuffisance respiratoires, pertes de connaissance, crises cardiaques et décès. Les effets chroniques d’une exposition prolongée aux pesticides sont les suivants : pertes de mémoire et de concentration, désorientation, graves dépressions et confusion mentale.
    h3 Le Fast Fashion; le nerf de la guerre.
    p La problématique des cultures de coton pulvérisés de produits chimiques découle d’une réalité bien plus accablante communément appelée: “Le Fast Fashion” (ou mode rapide en français). La mode rapide est l’équivalent de la restauration rapide. On coupe dans les prix et dans la qualité pour en consommer davantage.
    iframe(width='100%', height='315', src='https://www.youtube.com/embed/wAzqbz7jM_o', frameborder='0', allowfullscreen='')
    
    p La tragédie de de l’industrie de Rana Plaza. L’industrie de la mode et notre indifférence sont directement responsable de ce drame.
    p Globalement, de nombreuses vies humaines dans les communautés défavorisées (Inde, Bangladesh, Cambodge, Philipines, Tunisie, etc.) sont sacrifiées pour combler notre surconsommation en coton et en textiles. En effet, ce sont les agriculteurs dans les pays en développement et leur communauté respective qui souffrent des problèmes écologiques et de santé chronique liés à l’utilisation des pesticides sur les récoltes. Cette utilisation de pesticides est le fruit d’une obsession pour la productivité afin de répondre à la demande des pays industrialisés. Au final, cette situation est explicable par notre rage de bas prix et par notre surconsommation vestimentaire.
    2. LA QUÊTE DU BAS PRIX
    a(href="#img5")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_6.png")
    a(href="#_" class="lightbox" id="img5")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_6.png")
    p Le prix des vêtements est devenu l’aspect proéminent des campagnes de publicités. Le consommateur souhaite épargner par dessus tout et c’est tout à fait comprenable. Toutefois, quel est le coût réel de cette épargne ?
    p Alors que certains doivent affronter les conséquences des pesticides sur leurs champs, les autres doivent travailler dans les manufactures avec des conditions de travail exécrables. C’est principalement la pauvreté et le manque d’éducation qui font en sorte qu’ils ne sont pas en mesure de s’opposer aux inégalités sociales et à l’obligation d’utiliser des produits chimiques. (En effet, des compagnies comme Monsanto, qui possède des monopoles sur les différentes graines dans les pays défavorisés, obligent les agriculteurs à avoir recours à des pesticides afin d’assurer la pérennité des cultures). Alors que le coût de la vie et des biens essentiels augmentent constamment, l’industrie de la mode offre des prix constamment plus bas pour les consommateurs. Puisque ce ne sont pas les consommateurs qui payent pour l’inflation sur les matières premières, ce sont les producteurs et les ouvriers, déjà assez pauvres, qui payent de leur poche. Au final, ce sont les travailleurs qui produisent toujours plus pour moins dans des manufactures insalubres et dangereuses. Les responsables de cette situation sont les grandes entreprises qui stimulent une forte concurrence entre les pays et les producteurs manufacturiers afin d’avoir une main-d’oeuvre au prix minimum. Les dirigeants d’usine à l’étranger sont obligés de se soumettre à la compétition et aux volontés des multinationales. Ils ne peuvent donc pas se permettre d’améliorer les conditions des travailleurs.
    blockquote En résumé, nous ne payons pas la réelle valeur pour nos biens de consommation. Nous n’assumons ni les coûts écologiques , ni les coûts sociaux, notamment grâce à la main-d'oeuvre enfantine.
    h3 3. SURCONSOMMATION
    a(href="#img6")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_7.jpeg")
    a(href="#_" class="lightbox" id="img6")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_7.jpeg")
    p Bien évidemment, il y a un coût associé à ce bas prix. D’abord, la marchandise que l’on achète est de moindre qualité, car elle n’est pas destinée (conçue) à être portée longtemps. Elle sera remplacée par la prochaine tendance. Ensuite, cette stratégie du bas prix incite les consommateurs à acheter toujours plus sans nécessairement en avoir de besoin. En moyenne, on porte un vêtement issu du Fast Fashion moins de cinq fois avant de le jeter, généralement à l’intérieur d’un délai de 35 jours. Chaque année, aux États-Unis seulement, on y jette plus de 11 millions de tonnes de déchets en textile. Ces déchets sont majoritairement non-biodégradables, ce qui veut dire qu’ils s’empilent sur les sites d’enfouissement pendant plusieurs centaines d’années.
    a(href="#img7")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_8.png")
    a(href="#_" class="lightbox" id="img7")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_8.png")
    figcaption Un dépotoir de textile parmis tant d’autres. Credit photo: The True Cost
    h3 4. LES TISSUS SYNTHÉTIQUES
    p Les tissus synthétiques ou fibres synthétiques les plus populaires sont le polyester, le nylon et les fibres acryliques. Il est vrai que ces tissus possèdent une variété de caractéristiques très attrayantes, mais à quel prix? Il faut savoir que ces qualités (douceur, isolation, légèreté, temps de séchage, infroissabilité, etc.) proviennent d’abord et avant tout d’additifs chimiques ajoutés lors de leur fabrication.
    a(href="#img8")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_9.png")
    a(href="#_" class="lightbox" id="img8")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_9.png")
    figcaption Déversement d’aditifs chimiques utilisé dans la fabrication de textiles.
    p Les fibres synthétiques sont obtenues par synthèse de composés chimiques qui viennent principalement d’hydrocarbure (pétrole) ou d’amidon. Par conséquent, ils représentent une source importante de gaz à effet de serre en plus d’être non-biodégradables. Pour en rajouter, les additifs et les colorants que l’on emploie habituellement sur les tissus synthétiques sont nocifs pour la nature et pour la santé de ceux qui les portent. La teinture de textiles est d’ailleurs responsable à elle seule de 20% de la pollution de l’eau globalement. Les conséquences de ces tissus peuvent donc être observées sur la qualité de l’air, de l’eau, des sols ainsi que sur la santé humaine.
    h3 SOLUTIONS:
    p Bien évidemment, il existe de nombreuses solutions accessibles à tous pour améliorer la situation. L’essentiel est de comprendre que nous avons, en tant que consommateurs, un rôle primordial pour faire changer les politiques dans les entreprises. Tout simplement parce que ces entreprises ont pour objectifs d’évoluer et de s’adapter aux besoins du consommateur final. Si, collectivement, nous choisissons de valoriser les politiques humaines et respectueuses de l’environnement, les entreprises n’auront d’autres choix que de s’adapter à cette demande de biens durables. Voici donc des pistes de solutions qui vous aideront à faire des choix sains et plus humains :
    p Valoriser les produits équitables et les produits locaux. En achetant des produits locaux et équitables, on s’assure que les travailleurs qui ont produit notre pièce de vêtement sont rémunérés raisonnablement et qu’ils bénéficient de conditions de travail adéquates. Ainsi, nous n’avons pas du “sang” sur les mains. Il est inhumain que certaines communautés doivent travailler en dessous du seuil d’extrême pauvreté pour nous fournir des vêtements. Le moins qu’on puisse faire est de s’interroger sur la provenance des produits qu’on achète. Bien évidemment ce choix mène à une augmentation du coût d’achat de nos vêtements. Sommes-nous prêts à assumer ce coût afin de cesser l’exploitation barbare des travailleurs à travers le monde, incluant celle des enfants ?
    a(href="#img9")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_10.jpeg")
    a(href="#_" class="lightbox" id="img9")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/detruit_monde_10.jpeg")
    figcaption Extrait d’une vidéo promotionnelle réalisée chez Respecterre, à Ham-Nord, au Québec.
    p Rechercher la mention coton organique ou favoriser des textiles sains pour l’environnement qui ne requiert pas de pesticides, tels que le textile de chanvre. Comme nous l’avons mentionné à de nombreuses reprises, la culture de chanvre ne requiert aucun fongicide, herbicides ou pesticides. Évidemment, il existe de nombreux textiles de qualité qui ne sont pas nuisible pour l’environnement (les nombreux types de laines, par exemple).
    a(href="#img10")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/vetir_chanvre_3.jpeg")
    a(href="#_" class="lightbox" id="img10")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/vetir_chanvre_3.jpeg")
    h3 Une corde en chanvre, le textile le plus rigide qui soit
    p Acheter des vêtements en quantité raisonnable. La première étape est de s’assurer que l’on désire réellement porter cette pièce de vêtement et que c’est un choix rationnel et non impulsif. Il est nécessaire de réduire notre consommation globale en vêtements et de choisir uniquement des items qui nous conviennent véritablement.
    p Acheter pour la qualité plutôt que pour le prix. La chasse aux aubaines nous rend aveugles. Lorsque l’on achète des vêtements de qualité, on bénéficie d’un plus grand confort et d’une durabilité accrue. Le type de tissu est crucial dans le choix d’une pièce de vêtement. Le textile de chanvre est un choix intelligent grâce à sa rigidité et sa durabilité légendaire. Sa fibre poreuse permet une excellente respirabilité et une protection contre les rayons UV et les allergènes.
    p Dans la publication de notre prochain article, nous allons partager les propriétés du textile de chanvre ainsi que les bonnes pratiques sociales et environnementales à adopter. Pour voir ce que Chanvre Québec fait pour changer cette industrie visitez notre site web: chanvrequebec.com

    ul Sources:
        li EJF, 2007, The Deadly Chemicals in Cotton, Environmental Justice Foundation en collaboration avec Pesticide Action Network UK, London, Royaume Uni.
        li ISBN №1–904523–10–2
        li The True Cost
        li La passerelle montreal
        li Eco-Age
        li Ariane Cardinal et Renaud Ladoux. (2011). Journée mondiale contre le travail des enfants — Nous sommes tous responsables. Le Devoir.