include ../includes/_blogheader
include ../includes/_blogpost
    br 
    blocquote "97% des scientifiques sont d'avis que les changements climatiques sont réels et qu'ils sont causés par activité humaine. Ignorer la science n'est plus une option."
        p.right - <strong>Bernie Sanders</strong>
    p.justify  Vous avez sûrement déjà entendu la fameuse phrase : « C’est pas ma petite personne qui va changer de quoi au problème environnemental ». Et bien, si la personne qui vous a prononcé cette phrase est nord-américaine, c’est maintenant le temps de remettre les pendules à l’heure.

    p.justify Soyons francs, le Canadien/Québécois moyen a un impact majeur sur la santé de notre planète. Vous pensez peut-être qu’on exagère? Voici quelques faits pour vous mettre en contexte:

    p.justify <strong>1.</strong> L’empreinte écologique du Canadien moyen est de 7 hectares. C'est 3.5 fois plus élevé que l’allocation mondiale moyenne.
    p.justify <strong>2.</strong> Le Canadien moyen est le plus grand consommateur d’eau douce par habitant au monde!
    p.justify <strong>3.</strong> Le Canada est le deuxième plus grand producteur de gaz à effets de serre (GES) au monde
  
    p.justify Parler du Jour de la Terre sans parler du chanvre, une des plus belles solution écologique qui soit? Impossible. C’est le temps de repenser notre façon de consommer et de trouver des alternatives écologiques, dès maintenant. 
    
    h2 En ce jour de la terre, voici pourquoi nous devrions parler de chanvre.

    h3 1. Le chanvre ne requiert pas d’irrigation ni de pesticide à sa culture
    
    p.justify Le chanvre ne requiert pas d’irrigation. C’est l’une des premières choses qui nous a frappé du chanvre. C'est une plante qui pousse littéralement partout et qui n’a pas besoin d’être irrigué pour bien pousse. Qu'est-ce que ça veut dire ? Ça signifie qu’on n’a pas besoin de déplacer de l’eau et de l’utiliser pour arroser le chanvre. Les statistiques démontrent que 70% de l’eau potable que nous consommons sert à l’agriculture. Une chance qu’une bonne proportion de cette eau retourne à la terre par les sols et l’évaporation! 
    
    .center
        img(src="https://c1.staticflickr.com/3/2859/33407848283_3013e0a850_c.jpg", width="500px")
        
    p.justify Il y a de nombreuses cultures qui demandent de grandes ressources en eau et que l’on peut remplacer ou du moins atténuer grâce au chanvre. À commencer par le coton. Pour vous donner une idée,  9 788 L d’eau sont utilisés pour produire 1 kg de coton. Le chanvre, c’est près de 4 fois moins, on parle d’environ 3 000 L par kg de fibre textile (SEI, 2005).

    p.justify En plus de ne pas avoir besoin d’irrigation, le chanvre ne requiert aucun pesticide à sa culture. Et ça c’est bon, non seulement pour notre santé, mais aussi pour les sols et la qualité de notre eau. 

    
    h3 2. Réduction des gaz à effets de serre (GES)
    
    p.justify C’est un fait établi. Les émissions de CO2 sont en constante augmentation depuis plusieurs décennies.  Les gouvernements à travers le monde tentent de s’harmoniser sur des démarches à entreprendre pour réduire les émissions de GES (dont le CO2 fait partie), notamment par des démarches comme le marché du carbone. 

    p.justify C’est bien beau tout ça, mais ce serait naïf de croire que tous les pays (qui ont tous des préoccupations principalement individuelles) vont se tenir par les mains et faire tout en leurs pouvoirs pour sauver l’avenir de la Terre.   
    
    p.justify Et c’est pourquoi, encore une fois, qu’il faut encourager l’industrie du chanvre.  Lors de sa culture, tout comme les arbres, le chanvre emprisonne du CO2 par le principe de photosynthèse. Ensuite, lorsqu’on utilise sa tige pour en faire des matériaux de construction et qu'on en fait un béton de chanvre. On vient emprisonner le Co2 dans les murs. Et ce qui est encore plus génial, c'est que ça prend seulement 3 mois à faire pousser! Donc on peut répéter le processus encore et encore et encore....


    h3 3. Pour remplacer l’industrie du pétrole:
    
    p.justify Inutile de vous convaincre des méfaits du pétrole sur la santé de la Terre, pas vrai? Quoi qu’il en soit, c’est une ressource non renouvelable qui devrait être complètement épuisée au cours des prochaines décisions. Voilà pourquoi c’est si important de trouver des solutions. Et comment détourner notre attention d’une plante qui peut s’attaquer à l’industrie pétrochimique de plein fouet ? Remplacer le carburant par du biodiesel, le plastique par des composites biosourcés, les cosmétiques par des soins végétaux et finalement les isolants et les tissus de cette industrie destructrice. C’est loin d’être un rêve inatteignable. En réalité, la principale barrière à l’implantation du biodiesel et du composite biosourcé, c’est la quantité insuffisante de chanvre qui est cultivé. Solution: cultiver plus de chanvre! Pour en savoir davantages sur ses utilisations du chanvre allez lire (<a href="https://www.chanvrequebec.com/blog/8-facons-de-chanvrer-le-monde", target="_blank"> notre article sur le sujet.</a>)

    h3 4. Pour la même quantité de protéines, la viande détruit notre environnement. 
    
    p.justify La viande, principalement le boeuf, est responsable d’une très grande partie de la dégradation de l’environnement. Voici quelques faits: 
        li Le bétail et leurs sous-produits représentent au moins 32 000 millions de tonnes de dioxyde de carbone (CO2) par an, soit 51% de l'ensemble des émissions mondiales de gaz à effet de serre. - Worldwatch Institute
        li L’élevage de bétail est responsable de 91% de la destruction de la forêt amazonienne
        li Une boulette de boeuf haché de 100g requiert une utilisation d’environ 1550 litres d’eau pour être produite!

    p.justify À partir de ce constat, il est nécessaire de se questionner sur notre consommation de viandes et sur les alternatives? On raconte souvent que les protéines végétales sont de moins bonnes qualités ou en quantité insuffisante, c’est faux! 

    .center
        img(src="https://c1.staticflickr.com/3/2832/34070479891_7a2ac8a576_c.jpg", width="500px")

    p.justify C’est une autre raison pour laquelle nous aimons bien parler du chanvre; pour son excellent apport en protéines. Pour une mince portion de 33g de graine de chanvre, ça nous donne une portion de 11g de protéines hyper digestes. En fait, on pourrait même dire que les protéines de chanvre sont de meilleure qualité que les protéines dans le boeuf, car on bénéficie de tous les acides aminés essentiels.  Donc à la fin de la journée, ça été plus facile à digérer et on a plus d’énergie! Si on fait la comparaison, la même boulette de boeuf haché de 100g (avec ses 15505 litres d’eau) contient 14g de protéines. Pour la même quantité de protéines, il nous faudra 42g de graine de chanvre qui n’aura pas consommé d’eau!
    
    h3 Mot de la fin
    p Si vous croyez vous aussi qu’on devrait inévitablement parler de chanvre le 22 avril, partagez cet article avec vos proches. Et n’oubliez pas, prendre soin de notre environnement, c’est 365 jours par année! 
    
    h3 Sources
    
    ul 
        li Recherche et rédaction: Darko Popovic et Jérémie Aubut 
        li Ministère de l’Agriculture et de l’Agroalimentaire du Canada
        li The True Cost Documentary: http://truecostmovie.com  (Consultée le 11 novembre 2016)
        li Cowspiracy. The facts. http://www.cowspiracy.com/infographic (Page consultée le 26 mars 2016)
        li Ecological Footprint And Water Analysis Of Cotton Hemp And Polyester (2005)
