include ../includes/_blogheader
include ../includes/_blogpost
    h3 Nous avons décortiquée pour vous les principaux nutriments qu'on y retrouve et leurs effets bénéfiques pour la santé.
    p On le retrouve sous différentes formes. À partir de la noix de chanvre entière (ou graine de chanvre) qu’on récolte de la plante, on en fait de la noix de chanvre écalée (cœur de chanvre), de la farine protéinée, de l’huile, du lait, du beurre et de la protéine de chanvre concentrée (farine de chanvre soustrait de fibres). Ce qui est réellement merveilleux, c’est que chacune de ces utilisations à ses propres avantages pour déloger n’importe quel autre aliment de sa catégorie. Il est donc finalement possible d’avoir une super alimentation riche et complète à base de végétaux.
    
    h2 Protéines:
    
    h4 Le chanvre contient les 9 Acides aminés essentiels (AAE)
    
    p On entend souvent dire que l’on doit absolument consommer de la viande afin d’obtenir un apport nutritif intéressant en protéines dans notre alimentation. Détrompez-vous, l’apport nutritif que l’on retrouve dans les différents produits dérivés du chanvre est bien plus intéressant! C’est un aliment très riche et efficace en protéines
    a(href="#img1")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/1*Vl56rb6rn0VESdWGrBryow.png")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/1*Vl56rb6rn0VESdWGrBryow.png")
    p La composition protéinée du chanvre en fait un aliment de choix pour tous ceux qui aspirent à être en santé. Les acides aminés sont en réalité la décomposition des protéines que l’on consomme. En une seule phrase, elles nous permettent de digérer, d’absorber et d’exploiter les protéines. Les acides aminés essentiels sont ceux qui ne peuvent pas être synthétisés par l’organisme et qui doivent par conséquent être fournis par notre alimentation. Ils sont indispensables au fonctionnement de notre métabolisme. Avec le chanvre, on se trouve aux anges, car les 9 acides aminés essentiels ont chacun leurs propres attributs qui nous permettent d’avoir une bonne santé mentale et physique. Dans le monde du sport par exemple, les BCAA sont une dénomination commune et commercialisée pour désigner trois acides aminés essentiels en particulier: la Valine, la Leucine et l’Isoleucine. Ceux-ci permettent plus spécifiquement de réparer et régénérer les tissus musculaires et d’augmenter la résistance aux efforts physiques et à la douleur. En ce qui a trait à la santé mentale, les AAE sont utiles pour lutter contre les dépendances aux drogues et à l’alcool. La Méthionine, la Phénylalanine et la Tryptophane (qui figurent parmi les AAE) agissent également naturellement comme des antidépresseurs.
    a(href="#img1")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/1*8cPSe3FD4tP2PmOodQJclw.jpeg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/1*8cPSe3FD4tP2PmOodQJclw.jpeg")
    figcaption La noix de chanvre écalée (ou coeur de chanvre) est, conjointement avec la farine de chanvre, particulièrement riche en protéines digestes et assimilables par le corps.
    
    h2 Oméga 3 & 6:
    
    h4 De la bouffe bien grasse pour perdre du poids!
    
    p À travers toutes ses formes, le chanvre contient un apport impressionnant en acides gras essentiels (AGE). C’est donc un aliment clé pour la perte de poids et pour une bonne santé en général! Les nombreuses vertus des AGE ne sont plus à prouver. Les recherches scientifiques ont démontré que des carences en AGE sont à l’origine de plusieurs troubles chroniques et maladies tels que l’obésité, les maladies cardiovasculaires, l’ostéoporose et l’eczéma. Ces acides gras essentiels proviennent des Oméga 3 et Oméga 6.
    a(href="#img1")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/1*XrJ-hSUzX2Dr_F0Cub2EFQ.png")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/1*XrJ-hSUzX2Dr_F0Cub2EFQ.png")
    figcaption En réalité, les Canadiens sont relativement près des Américains à ce chapitre (76%).
    
    p Par ailleurs, il a également été démontré qu’un ratio optimal entre notre consommation d’Oméga-3 et d’Oméga-6 aurait des impacts positifs sur la santé cardiovasculaire et réduirait les maladies inflammatoires. Ce fameux ratio optimal, il est respecté en parfaite proportion dans les dérivés de la noix de chanvre. 1g d’Oméga-3 pour 3g d’Oméga-6, pour être précis. Cet apport riche en Oméga-3 et Oméga-6 contribue également à la lutte et à la prévention contre le diabète, le cancer, le lupus, l’asthme, l’arthrite, la dépression et l’hypertension.
    a(href="#img1")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/1*-nx1g4m2ecg6Hw7PmIeLRw.jpeg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/1*-nx1g4m2ecg6Hw7PmIeLRw.jpeg")
    figcaption L’huile de chanvre est extrêmement riche en acides gras essentiels (composé d’environ 80% d’Oméga-3 et Oméga-6). La noix, la farine et le lait de chanvre se distinguent tous de la compétition dans leur secteur respectif.
    
    h2 Fibres:
    
    p Les fibres sont essentielles pour régulariser le transit intestinal, pour diminuer le taux de cholestérol dans le sang et pour réduire les risques de problèmes cardiaques et de diabète de type-2. Les fibres font l’absorption des sucres dans l’organisme afin de les utiliser de façon plus uniforme dans le système sanguin.
    a(href="#img1")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/1*dwVY_J8eFEsXF00l0hzqkw.jpeg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/1*dwVY_J8eFEsXF00l0hzqkw.jpeg")
    figcaption La farine de chanvre a pour avantage de contenir une très haute teneur en fibres digestibles. Une portion de 33g de farine (très peu) représente plus de la moitié de votre apport en fibres suggéré par le guide alimentaire Canadien.
    
    
    h2 Vitamines et minéraux:
    
    p Les aliments de chanvre contiennent un vaste éventail de vitamines et minéraux aux nombreux bienfaits pour notre santé. Ils permettent, entre autres, de prévenir les maladies telles que l’alzheimer, l’ostéoporose, l’arthrite, l’asthme, l’eczéma, le diabète de type 2, les troubles et maladies cardiaques, l’hypertension ainsi que les cancers du poumon, de la prostate et du pancréas. Voici donc un résumé des cinq vitamines et minéraux qui se retrouvent en plus grande proportions dans les aliments de chanvre et leurs propriétés respectives.
    a(href="#img1")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/chanvre_super_3.png")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/chanvre_super_3.png")
    figcaption Les acides gras essentiels, la vitamine E et le potassium qu’on retrouve dans le chanvre contribuent à réduire l’hypertension.
    
    h4 Vitamine E:
    
    p Pour la santé générale du cœur et du cerveau ainsi que pour prévenir les cancers du poumon, de la prostate et du pancréas
    
    h4 Phosphore:
    
    p Le phosphore est indispensable au bon fonctionnement du cerveau et à la transmission de certains messages aux cellules. Il aide également à la contraction musculaire et à la transmission d’énergie vers les muscles. Le phosphore est également essentiel aux tendons, aux yeux, à la peau et à toutes les parties du corps qui demande la formation de collagène.
    
    h4 Magnésium:
    
    p Le magnésium est un joueur d’exception pour le métabolisme d’un athlète. Il participe à la contraction musculaire, à la transformation de glucides en énergie et au métabolisme des lipides afin de les digérer.
    
    h4 Fer:
    
    p Le fer est un nutriment qui est trop souvent mis de côté. La carence en fer ou anémie ferriprive, touche environ 20% des femmes, 50% des femmes enceintes et 3% des hommes.
    
    h4 Zinc:
    
    p Le zinc a des vertus absolument phénoménales pour la croissance, la respiration, le système immunitaire, la reproduction et pour la santé de notre peau. Il intervient également pour combattre les problèmes d’acnés et favoriser la cicatrisation.
    
    h4 Potassium:
    
    p Agit pour réduire les risques d’hypertension artérielle, les accidents vasculaires cérébraux (AVC) et maladies cardiaques.
    
    p Finalement, le chanvre est un aliment très riche et varié en bienfaits nutritifs. Son impact sur votre santé va au delà de ces lignes. C’est l’aliment idéal pour réinventer votre façon de manger sainement sans sacrifier l’aspect le plus essentiel du repas; le goût. Grâce à ses nombreuses utilisations et ses vertues, il est facile de l’employer afin de combler les besoins nutritifs et gustatifs de chacun et chacune !

    h3 Sources:
    ul 
        li Ministère de l’agriculture et de l’agroalimentaire du Canada
        li Canadien Hemp Trade Alliance
        li Santé Canada
        li LES CARNIVORES INFIDÈLES, Catherine Boucher
        li Ministry of Hemp
        li Rue du chanvre
        li Chaudron pastel
    