include ../includes/_blogheader
include ../includes/_blogpost
    p À commencer par le fait que la Déclaration d’Indépendance des États-Unis signée le 4 juillet 1776 fut d’abord rédigée sur un papier en chanvre. La législation de l’époque est également une preuve de l’importance de la culture du chanvre au temps des treize colonies. En effet, dans le tournant des années 1700, les agriculteurs provenant de nombreuses colonies sont tenus par la loi de cultiver du chanvre pour soutenir la croissance.
    blockquote “Make the most of the Indian hemp seed, and sow it everywhere !” 
        p.right -George Washington

    p Sa popularité était à un sommet à l’époque. Le premier président des États-Unis, George Washington, déclarait fièrement qu’il poussait son propre chanvre : « Profiter de la graine de chanvre indienne et semer la partout ! » . George Washington est encore aujourd’hui considéré, par les historiens, parmi les trois meilleurs présidents de tous les temps. Ayant été le général de l’armée vainqueur des Britanniques, il est désigné comme le héros de l’indépendance. Il fut grandement reconnaissant envers le chanvre qui était utilisé abondamment par les troupes américaines pour faire du textile rigide, de la corde et des voiles pour les navires américains qui ont combattu.
    blockquote “Hemp is of first necessity to the wealth and protection of the country.”
        p.right - Thomas Jefferson

    p Thomas Jefferson, quant à lui, fut le troisième président des États-Unis (1801–1809). Il est souvent désigné comme un acteur important du siècle des Lumières. C’est également le principal rédacteur de la Déclaration d’Indépendance de 1776. Outre ses accomplissements politiques et sociaux, M. Jefferson prônait la culture du chanvre pour le développement du pays. Il a d’ailleurs admis que les moments passés dans sa véranda à pousser du chanvre et philosopher furent parmi ses plus beaux souvenirs.

    h3 Pourquoi la criminalisation ?

    p Dans les années 1900, le chanvre était toujours légal, mais son utilisation était délaissée, car la cueillette et la transformation du coton étaient devenues bien plus faciles. Il faut savoir que la fibre de chanvre est extrêmement rigide et durable, la rendant bien supérieure au coton à tous les niveaux, mais également beaucoup plus difficile à briser et à traiter. Ces complications ont donc poussé les hommes d’affaires à se diriger davantage vers le coton pour le textile et la foresterie pour les pâtes à papier.

    p En 1930, c’est l’arrivée des premières machines à moissonner, défibrer et décortiquer pour le chanvre. Ces machines transforment radicalement le procédé de traitement, le rendent plus facile et efficace que jamais. Avec des propriétés telles qu’on les connaît, le chanvre devenait une menace beaucoup trop importante pour l’industrie forestière, pétrolière et du coton.

    p La criminalisation du chanvre et de la marijuana a donc débutée avec la compagnie pétrochimique Dupont Neumours (qui avait des intérêts dans les industries mentionnées plus haut) appuyée de sir William Randolph Hearst qui détenait à l’époque un journal et une papetière (une entreprise œuvrant la transformation de pâte à papier). M. Hearst était un magnat de la presse écrite. Il comprit rapidement qu’avec les nouveaux procédés de transformation, l’utilisation abondante du chanvre en textile et en papeterie était imminente. C’était une mauvaise nouvelle pour les affaires. Par conséquent, il se servit de son emprise sur les journaux de l’époque pour faire la propagande d’une campagne ayant pour objectif de ternir et diaboliser l’image du chanvre en l’associant avec la marijuana.

    p En effet, même si elles sont bien distinctes, les journaux de l’époque ont réussi à convaincre la population et le Congrès américain de la menace que représentait la marijuana et par ricochet, le chanvre. C’est donc en 1937, avec l’appui majeur du politicien Harry J. Anslinger, que le Congrès américain fit passer une loi limitant la culture et la distribution du chanvre: “Marihuana tax act”. En résumé, le chanvre fut criminalisé et le demeure encore dans plusieurs états américains en raison des intérêts personnels d’une poignée d’individus.

    p Une représentation imagée des États-Unis qui ont besoin du chanvre pour supporter l’effort de guerre.
    p Après cette législation, qui visait toutes les plantes de cannabis confondues, les producteurs de chanvre furent hautement découragés par les taxes dispendieuses liées à la culture. Néanmoins, les États-Unis revoient leur position en 1942, réalisant qu’ils avaient besoin du chanvre pour l’effort de guerre. La USDA (département d’agriculture des États-Unis) met alors en place le programme « Hemp for victory » à l’aide d’un documentaire pour faire l’éloge des vertus du chanvre. Le programme mène a une production massive de plus de 150 000 acres de chanvre.

    h3 La fameuse voiture en chanvre d’Henry Ford (1941)

    p Lors de cette même année, Henry Ford, le célèbre pionnier de l’industrie automobile aux États-Unis, élabore un prototype de véhicules avec une carrosserie en fibre de chanvre (reconnu comme étant 10 fois plus rigide que l’acier). Sa voiture modèle carbure au biodiesel composé entièrement d’huile de chanvre. Globalement, elle était jusqu’à trois fois plus écologique que les voitures électriques de nos jours.

    img(src="https://storage.googleapis.com/chanvrequebecphoto/histoire_2.png")
    p Malheureusement, la culture du chanvre est à nouveau régulée et taxée lourdement à la suite de la guerre

    h3 La renaissance du chanvre

    p C’est en 1998, après soixante ans d’interdictions et grâce aux études réalisées par des universités et des petites entreprises canadiennes, que le Canada décide d’autoriser la culture commerciale du chanvre en la dissociant de celle de la marijuana. Ces six décennies d’interdictions constituent une réelle tragédie pour notre environnement. En ce qui concerne les États-Unis, ce n’est qu’en 2014 que le Président Barack Obama prend l’initiative de déposer un projet de loi qui permet aux institutions de recherche d’expérimenter la culture du chanvre.

    p La culture du chanvre a pris du retard à travers les années. Cependant, il n’est toujours pas trop tard pour propulser cette solution écologique de choix et jouir de son utilisation dans une panoplie de secteurs. Il faut reprendre le temps perdu, et ce, tous ensemble collectivement !

    p Nous espérons que vous avez apprécié cette brève leçon de l’histoire du chanvre !

    p N’oubliez pas de partager l’article afin de contribuer vous aussi au mouvement !

    ul 
        li Recherche et rédaction: Darko Popovic
        li Sources:
        li HERER, Jack. The Emperor Wears No Clothes
        li Le La Guardia Committee
        li Ministère de l’Agriculture et de l’Agroalimentaire du Canada
        li Ministry of Hemp
    include ../includes/_blogfooter