include ../includes/_blogheader
include ../includes/_blogpost
    .center
        img(src="https://c1.staticflickr.com/3/2820/33991815452_29b3045bf2_z.jpg")
        figcaption Ici la petite tortue confond le plastique avec une méduse (son repas préféré).
    p.font-heavy Nous avons produit plus de plastiques durant les 10 dernières années que dans le dernier siècle ! 
    p Le plastique est partout. Et il nous contamine. Le BPA est seulement l'un des "bad guys", mais il y en a beaucoup plus que ça. 
    
    blocquote "De retirer le BPA des produits plastiques et de dire que tout est beau serait de dire qu'en mettant Alcapone en prison on a enlever le crime organisé des États-Unis.."
    
    p Avec les courants marins, les océans ne forment qu'un. Et les déchets plastiques sont partout. Souvent sous forme de microplastique qui est ingéré par les petits poissons qui constituent la base de la chaîne alimentaire. Pour ensuite contaminer les plus gros poissons qui s'en nourrissent et jusqu'à nous ! 
    
    .center
        img(src="https://c1.staticflickr.com/3/2895/34018548461_f1c8240849_z.jpg")
        figcaption Un bord de plage aux Philipines, l'une des 6 régions du monde fabriquant du plastique.
    
    p Sans compter tous les animaux marins qui meurent pris dans les débris plastiques et les berges innondées de ces déchets qui ne disparaîtront.. Jamais. 
    .center 
        img(src="https://c1.staticflickr.com/3/2882/34018547101_6f8d59427e_z.jpg")
        figcaption C'est une réalité de plus en plus présente pour ses grands albatros..
    p C'est aujourd'hui qu'en t'en qu'individus, qu'entreprise et que société que nous devons choisir des alternatives aux produits de "one serving use". 
    
    .center
        blocquote "Think Reusable - Not Disposable"
        
    img(src="https://c1.staticflickr.com/3/2832/33991817402_642aed9b41_z.jpg")
    figcaption Ce canal était entièrement pollué et recouvert de plastique. Après avoir retiré le plus gros, ils ont planté des plantes marines qui ont décomposé les particules plus fines de plastique et aujourd'hui la vie y est revenue !
    p.font-heavy Les solutions :) Chanvre Québec en a une tonne ! 
    
    ul 
        li Utiliser des sacs réutilisables (un classique)
        li S'acheter une bonne gourde réutilisable (plant-based plastic de préférence)
        li Ne pas emballer ses légumes et autres à l'épicerie (Tu les laveras à la maison)
        li Favoriser les tissus de fibres naturels (pas le cotton please, le chanvre mettons)
        li Investie dans le développement des plastiques à base végétale (à base de chanvre mettons)
    
    p Sérieusement, en ce moment, c'est assez difficile d'effacer le plastique de nos vies. C'est omniprésent. Il faut tout simplement investir dans le développement de technologie à base d'autres choses que le pétrole. 

    p Voici le lien vers le documentaire intégral qui est sur Netflix. 
    
    .center
        a(href="https://www.netflix.com/watch/80164032?trackId=13464114&tctx=6%2C2%2C9519dcc0-712a-4338-91f7-98ca411c7c69-62458277" target="_blank")
            button.btn-secondary Par ici
            
    p Sur leur site web, il y a beaucoup d'infos pertinantes aussi <a href="https://www.plasticoceans.org/" target="_blank"> plasticocean.org</a>.
    
    a(href="https://www.benzinga.com/markets/emerging-markets/17/05/9405826/why-hemp-could-be-the-future-of-plastics") benzinga Leslie Bocskor
    
