include ../includes/_blogheader
include ../includes/_blogpost
    blockquote Chanvre Québec définit la qualité d’un produit ou d’un service par son aptitude à être adapté aux besoins réels de l’utilisateur final.
    iframe(width='100%', height='315', src='https://www.youtube.com/embed/iVAV3IeibbY', frameborder='0', allowfullscreen='')
    p Donc, pour répondre à notre question: non, les maisons actuelles n’ont pas connu les évolutions nécessaires afin de convenir à nos besoins et à notre climat Canadien. Elles représentent l’investissement d’une vie mais elles ne sont toujours pas conçues pour faciliter celle-ci. Le confort requiert un coût élevé et l’entretien y est exigeant. Sans oublier que nos charmantes habitations demeurent exposées à des menaces constantes telles que les rongeurs et les incendies. Grossièrement, on dépense des fortunes dans nos maisons, mais celles-ci ne sont pas suffisamment confortables, saines, écologiques, sécuritaires et durables pour réellement nous correspondre. Simplement dit, elles ne sont pas en harmonie avec notre environnement.

    p La maison en chanvre, pour sa part, représente l’idéal même d’une habitation. La paille de chanvre, qui est récoltée et transformée à partir de la fibre de chanvre, est utilisée pour produire un isolant aux propriétés hallucinantes. Cet isolant est nommé béton de chanvre ou hempcrete (en anglais). En réalité, nous sommes bien loin des “bétons” comme on l’entend généralement, mais l’expression désigne simplement un alliage d’éléments. Aux Québec, des matériaux naturel et hyper performants sont employés pour produire le béton de chanvre qui est coffré à l’intérieur de la structure de bois de la maison.

    p Voici donc les sept raisons fondamentales qui font de la maison en chanvre votre habitation rêvée.
    a(href="#img1")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/beton_chanvre_1.jpeg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/beton_chanvre_1.jpeg")
    figcaption Le béton de chanvre tel qu’employé par ArtCan Construction.
    
    h3 EFFICACITÉ ÉNERGÉTIQUE

    p Le caractère vivant du béton de chanvre lui permet de s’adapter et de réagir aux fluctuations de température extérieure.

    p Sur papier, le coefficient de conductivité thermique (facteur R) du chanvre est inférieur à d’autres matériaux d’isolation. Toutefois, ce qui rend le chanvre si performant et distinct de tous les autres matériaux d’isolation c’est son caractère vivant. C’est ce qu’on surnomme le nouveau R. Les méthodes employées pour évaluer le “facteur R” sont concus pour des matériaux synthetique alors que le chanvre est un matériau vivant qui se comporte de façon totalement opposé aux matériaux inertes. En effet, de nombreuses études instrumentées ont démontré que le béton de chanvre agit comme masse thermique. Il permet de régulariser le climat intérieur. On affirme même que les variations de température dans les murs en béton de chanvre suivent une courbe non linéaire (contrairement à tous les autres matériaux d’isolation). On explique cela au phénomène de changement de phase de l’eau qui s’effectue à l’intérieur même des murs. C’est un procédé relativement simple à comprendre. Le mur de chanvre s’adapte intuitivement si la température extérieure descend ou augmente. Il va retenir l’humidité qui se trouve dans l’air (phénomène endothermique de condensation) ou bien relâcher celle-ci et par conséquent effectuer un phénomène exothermique de vaporisation.

    blockquote “Confort en été comme en hiver et coûts de chauffage inférieurs à la moyenne. Des tests appropriés sont à faire pour comprendre et apprécier ce matériau à sa juste valeur” — Gabriel Gauthier, ArtCan Construction

    p On peut en conclure que le caractère vivant du béton de chanvre lui permet de s’adapter et de réagir aux fluctuations de température extérieure. Il en résulte donc de fortes économies sur vos factures de chauffage en hiver en plus de vous libérer de la présence d’un climatiseur en été !

    p Croquis réalisé par Chanvre Québec pour imager les effets des phénomènes endothermique et exothermique de condensation et de vaporisation observés dans le mur de chanvre sur la température ambiante.
    h3 CONFORT
    a(href="#img2")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/courbe_temperature.png")
    a(href="#_" class="lightbox" id="img2")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/courbe_temperature.png")
    figcaption Il accumule la chaleur du soleil dans le jour pour la libérer la nuit.

    p Le béton de chanvre enduit avec un fini naturel à l’avantage d’agir comme masse thermique contrairement aux murs conventionnels. Par conséquent, les murs ont la capacité d’enmagasiner les surplus de chaleur et d’humidité et de les relâcher à nouveau dans la maison au besoin. Les maisons en chanvre fournissent ainsi à leurs occupants un confort inégalé. On surnome également ce phénomène la perméabilité à la vapeur d’eau. L’humidité relative y est régulée de sorte qu’on ressent une légèreté dans l’air ambiant. Ceux qui bénéficient d’une maison en chanvre n’utilisent évidemment pas de déshumidificateur inefficace, bruyant et encombrant dans leur demeure !

    h3 UN ENVIRONNEMENT SAIN

    p On sait qu’il y peut avoir de deux à trois fois plus de polluants toxiques dans l’air ambiant d’une maison conventionnelle qu’à l’extérieur de celle-ci. Cette pollution de l’air est responsable de nombreux troubles respiratoires principalement chez les jeunes enfants. Une maison en chanvre vous procure enfin de l’air pure et sain pour y élever une famille. Le béton de chanvre ne dégage aucune toxicité ou particule organiques volatiles (POV) dans l’air.
    
    a(href="#img5")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/info_tedx.png")
    a(href="#_" class="lightbox" id="img5")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/info_tedx.png")
    figcaption Information récoltée à partir de la présentation de Jane Laine, TEDx talk

    h3 ÉCOLOGIQUE

    p La production de maison en chanvre est un outil majeur pour la lutte au changement climatique.

    p Tous les matériaux qui sont utilisés dans le béton de chanvre, tel qu’employé par ArtCan Construction, sont naturels. C’est son empreinte écologique carbonégative qui en épate plus d’un. Vous avez bien compris: carbonégative. Des études ont démontré qu’une maison en chanvre de taille moyenne est en mesure de récupérer jusqu’à 20 tonnes de CO2 à l’intérieur même de ses murs. Cette propriété du chanvre permet par la même occasion de nettoyer les particules organiques volatiles présentes dans l’air de la demeure. Finalement, la culture de chanvre en soit enrichit les sols agricoles et ne requiert aucun pesticide et peu d’irrigation.
    
    a(href="#img3")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/petit_chat_lit_dodo.jpeg")
    a(href="#_" class="lightbox" id="img3")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/petit_chat_lit_dodo.jpeg")
    figcaption Source: Carmeuse

    h3 À L’ÉPREUVE DU FEU
    
    a(href="#img4")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/test_combustion.png")
    a(href="#_" class="lightbox" id="img4")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/test_combustion.png")
    figcaption Le béton de chanvre ne prendra jamais en feu.

    p Croyez-le ou non, il n’en demeure pas moins que le mur de béton de chanvre enduit a été classé dans la catégorie française M0 qui signifie incombustible. Ayez la paix d’esprit dans votre maison, votre entreprise ou même dans votre entrepôt en chanvre !

    p Mur en compositon chaux et chanvre testé 4h sous une flamme à 650℃ par ACE habitat. La temperature interne du mur a augmenté de 2℃ de l’autre coté de la paroi et sans aucune combustion.

    h3 ANTI-RONGEUR

    p Les nombreux propriétaires en sont témoins: les maisons en chanvre sont à l’abri des attaques de rongeurs.

    p Le béton de chanvre, composé de chanvre (évidemment) et de la chaux (liant), offre une résistance bactérienne et fongique naturelle. La chaux vient cristalliser le chanvre pour former un état de pierre calcaire qui garantit par ailleurs un gage de durabilité incomparable à votre maison. C’est en raison de cette composition que rongeurs et insectes ne s’attaqueront pas à votre demeure. On peut dire adieu à l’élaboration d’une multitude de stratégies visant à attraper ces vilains rongeurs !

    h3 DURABLE

    p Avec le temps, le béton de chanvre va se pétrifier, tout comme la pierre, afin de se solidifier d’année en année. Les murs en chanvre aident par ailleurs à prévenir les infiltrations d’eau et intervenir plus rapidement en cas de sinistre. Les murs en chanvre et leur contrôle de l’humidité vous mettent à l’abri des désastres de la moisissure.
    figcaption Un mur de chanvre avant d’apposer le revêtement.

    p La maison en chanvre est une habitation qui répond intuitivement à son climat. C’est l’innovation qui nous permet finalement d’assouvir nos besoins essentiels tels que la sécurité, la paix d’esprit et le bien-être. Une maison qui représente l’havre de paix dont vous avez toujours rêvé.
    p Consulter la section #[a(href='/habitation') habitation] pour en savoir plus !
    ul Sources:
        li 1. AUBUT, Jérémie. 2015. Hampblok
        li 2. ArtCan Construction
        li 3. Maisonsaine.ca
        li 4. Maisonécologique.com