include ../includes/_blogheader
include ../includes/_blogpost
    p On utilise la farine de chanvre dans les recettes (gâteaux, pâte à biscuits, pains, crêpes, etc.) ou pour épaissir les soupes. Elle remplace une portion de la farine ordinaire afin d'apporter une forte contribution en vitamines, en gras essentiels, en protéines et en fibres pour un régal nutritif! En raison de sa texture, la farine de chanvre est également utilisée par les sportifs, les femmes enceintes et les végétariens pour concocter de savoureux smoothies facile à digérer.
    blockquote Voici les 6 raisons qui justifient pourquoi nous devrions l’ajouter partout dans nos vies.
    h3 1. Complète:
    p Le Super aliment. Vous pouvez en être certains, le chanvre mérite bel et bien une telle étiquette. Dans le monde de l’alimentation, on ne peut trouver un autre aliment offrant un apport aussi équilibré et efficace en valeurs nutritives. Équilibré, car la noix de chanvre entière contient des protéines en harmonie avec des acides aminés essentiels, des vitamines en quantité épatante, un incroyable apport en fibre et comme si ce n’était pas assez, des acides gras essentiels en proportion idéale. Efficace, car les éléments nutritifs du chanvre sont grandement exploités par le métabolisme de notre organisme ce qui en résulte par une utilisation efficiente des nutriments.
    h3 2. Versatile:
    p La farine de chanvre est facile d’emploi et facile à incorporer aux recettes. On peut l’employer dans les gâteaux, la pâte à biscuits, les pains, les crêpes et même pour épaissir les soupes. En smoothies, elle s’incorpore aisément. Toutefois, il faut choisir des fruits relativement foncés pour avoir une couleur finale intéressante (baies, bleuets, kiwis, fraises par exemple). On suggère de l’incorporer à hauteur d’environ 25% dans les recettes pour débuter afin d’apprendre à la cuisiner. Il est possible de faire des recettes composées jusqu’à 100% de farine de chanvre (biscuits). En l’incorporant à hauteur de 25%, on conserve l’authenticité de nos délicieuses recettes avec une touche super nutritive.
    a(href="#img1")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/chanvre_super_6.jpeg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/chanvre_super_6.jpeg")
    h3 3. Santé du cœur : AGE, Fibres, Potassium et Vitamine E
    p Notre mélange à recettes contient les nutriments qu’il vous faut pour avoir un cœur en santé. Les acides gras essentiels (oméga 3 et 6), les fibres, la Vitamine E et le potassium pour prévenir et guérir de nombreux troubles et maladies cardiovasculaires telles que l’hypertension artérielle, l’insuffisance cardiaque et les accidents vasculaires cérébrales (AVC).
    a(href="#img2")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/chanvre_super_5.jpeg")
    a(href="#_" class="lightbox" id="img2")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/chanvre_super_5.jpeg")
    h3 4. Améliorer vos performances physiques : Protéines et acides aminés essentiels, phosphore et magnésium
    p Non seulement la farine permet d’améliorer la santé de votre cœur, mais elle participe également à la contraction, la récupération et la regénération musculaire grâce à ses protéines digestes en amont, son phosphore et son magnésium. Les acides aminés essentiels permettent également d’augmenter l’endurance physique et la résistance à la douleur. La farine de chanvre détient tout ce qu’il faut pour vous préparer à un entraînement ou récupérer de celui-ci.
    blockquote “Les graines de chanvre constituent l’aliment le plus sain de la planète avec la teneur en protéine la plus élevée de toutes les plantes” — Joe Rogan (Chroniqueur sportif, champion en Kick Boxing et ceinture noir en Jiu Jitsu)
    a(href="#img3")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/chanvre_super_4.jpeg")
    a(href="#_" class="lightbox" id="img3")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/chanvre_super_4.jpeg")
    h3 5. Prévenir cancers et maladies:
    p La vitamine E, le fer, le potassium, les fibres et les acides gras essentiels contenus dans la farine de chanvre agissent comme des gardiens de votre forteresse corporelle. En d’autres mots, la farine de chanvre vous permet de prévenir les maladies telles que l’alzheimer, l’ostéoporose, l’arthrite, l’asthme, l’eczéma, le diabète de type 2, les troubles et maladies cardiaques ainsi que les cancers du poumon, de la prostate et du pancréas.
    a(href="#img4")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/chanvre_super_3.png")
    a(href="#_" class="lightbox" id="img4")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/chanvre_super_3.png")
    h3 6. Santé digestive: Fibre, Potassium et Magnésium
    p Il n’y a aucun doute sur ce sujet, la farine de chanvre contribuera à votre santé digestive. Une cuillère à soupe du mélange à recette Chanvre Superaliment représente plus de la moitié de la valeur quotidienne en fibres suggérée par Santé Canada. Les recettes issues de ce merveilleux mélange sont donc facile à assimiler et digérer. Non seulement les nutriments qu’elle contient contribuent à votre santé digestive, ils permettent également d’employer les sucres de façon plus efficace dans le système sanguin (transformation en énergie et uniformisaiton du taux de sucres sanguin)
    a(href="#img5")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/chanvre_super_2.png")
    a(href="#_" class="lightbox" id="img5")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/chanvre_super_2.png")
    p Finalement, la farine de chanvre satisfait les besoins de tous. Facilement assimilable et digestible, elle nous permet de faire des recettes savoureuses et nutritives qui correspondent aux différents types de diètes et aux goûts de chacun.
