include ../includes/_blogheader
include ../includes/_blogpost
    p Nous avons eu le coup de foudre pour cette belle plante en découvrant pour la première fois son potentiel de transformer notre monde.
     
    p Elle est littéralement parfaite. Elle peut à la fois nous loger, nous nourrir et nous vêtir. Elle possède même le potentiel de nous libérer des énergies fossiles.
    
    p Avec le temps, nous sommes tombés éperdument amoureux de cette plante qui nous permet de vivre sainement et de rétablir une harmonie avec notre environnement.
    
    p Comme dans chaque belle relation, nous ressentons le désir de complimenter notre dulcinée et de l’appuyer dans ses projets et son cheminement. Nous voulons l’aider autant qu’elle nous aide.
    
    p Et puisque notre amour est honnête, nous n’avons pas l’intention de capitaliser sur son exploitation. Notre mission est simplement de la voir s’épanouir.
    
    p Pour témoigner de cette sincérité, nous avons décidé de s’incorporer en tant qu’organisme à but non lucratif, afin de nous consacrer pleinement à l’épanouissement du chanvre au Québec.

    a(href="#img1")
        img.blog(src="https://storage.googleapis.com/chanvrequebecphoto/love_lockdown_1.png")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://storage.googleapis.com/chanvrequebecphoto/love_lockdown_1.png")
    
    h3 Quel est le rôle de l’entreprise dans la société au 21e siècle?
    
    p Depuis le dernier siècle, collectivement, on se questionne sur le rôle des entreprises dans notre société. Pour beaucoup, les entreprises sont tout simplement des entités à part entière (personne morale) qui génèrent des profits et créent de l’emploi. D’autres croient qu’elles devraient avoir une conscience sociale et environnementale, nous sommes de ce groupe.
    
    blockquote La réalité, c’est que les entreprises traditionnelles sont soumises à la contrainte du profit, ce qui implique de faire des compromis sur les principes moraux.

    p Les entreprises incorporées sont presque exclusivement issues du modèle industriel classique tourné vers le productivisme à outrance. Chaque décision prise par les gestionnaires doit être profitable pour les actionnaires. C’est cette idéologie qui empêche les entreprises d’avoir réellement pour mission de servir la population plutôt que l’inverse.
    
    p Il est probable que nous soyons biaisés sur ce sujet, mais c’est comprenable. Après tout, c’est cette philosophie axée sur l’enrichissement personnel qui est la cause fondamentale de la prohibition injustifiée du chanvre. Au risque de se répéter, ce sont des hommes riches et influents avec des intérêts dans la foresterie et l’industrie pétrochimique qui ont propulsé la stigmatisation de notre plante emblématique. Si ce n’était pas des intérêts personnels d’une pognée d’individus, le chanvre serait déjà exploité abondamment dans notre société. C’est pour cette raison que nous avons fondé Chanvre Québec. Afin d’avoir une instance qui est véritablement dédiée à l’éclosion du chanvre.
    
    blockquote Parce que, si l’entreprise incorporée est morale au sens juridique, elle l’est rarement au sens littéraire.  
    
    p Chanvre Québec, n’étant pas lié d’office aux lois immuables du capitalisme, est libre de bien servir sa mission et ses valeurs. Nous sommes en mesure de favoriser l’innovation à travers le développement durable, le vrai.

    h3 Pourquoi une OBNL?

    p Les temps ont changé, chez Chanvre Québec, on ne perçoit pas l’OBNL (organisme à but non lucratif) comme une société qui se finance et survit grâce aux dons de charité. On le voit plûtot comme une micro-société juste et efficace, qui milite pour l’environnement et s’assure de rester économiquement viable.
    
    p Une OBNL ne valorise pas l’enrichissement personnel, mais plutôt l’enrichissement de sa cause. Chanvre Québec, grâce à ses activités commerciales, est en mesure d’être en constante évolution et de se développer en harmonie avec son environnement.
    
    p À l’instar des entreprises traditionnelles où la rentabilité est l’objectif final, pour nous, elle constitue plutôt une contrainte vers la prospérité. La prospérité nous permet de mettre au point des innovations et de proposer de nouvelles solutions saines et durables grâce au chanvre. Pour en savoir davantage sur notre façon d’aborder les valeurs économiques, sociales et environnnementales à travers nos activités, visitez notre onglet mission.
    
    blockquote Climate change is the challenge of our time
    
    p Depuis toujours, l’homme est en harmonie avec la nature. Ses activités ne mettent pas en péril l’écosystème de la Terre. Or, ce constat n’est plus réel, l’équilibre est rompu. Les ressources s’épuisent, car nous consommons plus qu’elles ne peuvent produire. Il est temps de repenser notre évolution. Nous devons, tous ensemble, chanvrer le monde de demain.

    p Nous espérons que vous avez apprécié notre histoire, n’oubliez pas de la partager si elle vous interpelle! 
    
    p MERCI D'ÊTRE AVEC NOUS !!!
