include ../includes/_blogheader
include ../includes/_blogpost
    h3 Bref historique du textile de chanvre:
    p Avant toute chose, laissez-nous vous exposer l’importance de cette plante emblématique à travers le temps ainsi que le parcours qu’elle a dû emprunter avant de refaire sa place dans l'industrie du textile. D’abord, il faut savoir que le tissu de chanvre est un des plus vieux textiles à avoir été utilisé sur terre. On estime sa première utilisation à 10 000 av. J.-C.. par les moines chinois. Au Japon, les vêtements en chanvre étaient traditionnellement portés dans les cérémonies par la famille impériale et par les prêtres Shinto (la religion principale du Japon, au côté du Boudhisme). À l’époque, on attribuait un rôle prééminent à la culture de chanvre au Japon, <strong>c’était la culture divine</strong> . Plusieurs symboles japonais sont encore traditionnellement fabriqués à partir de chanvre.
    
    a(href="#img1")
        img.blog(src="https://farm1.staticflickr.com/312/32668737856_f18932004f_b.jpg")
    a(href="#_" class="lightbox" id="img1")
        img(src="https://farm1.staticflickr.com/312/32668737856_f18932004f_b.jpg")
    figcaption Une vielle pub qui circulait au USA dans les années 30.
    
    p Aux États-Unis, c’est dans le début des années 1930, avec le développement de la machinerie, que le chanvre connaît un moment de gloire dans l’industrie du textile. On l’utilise même dans le domaine de la haute couture, notamment par les designers de renom <strong>Calvin Klein et Levis</strong>. Malheureusement, le “Controlled substance act”, propulsé par des magnas de l’industrie du coton(entre autres), vient freiné l’engouement pour le chanvre en raison d’une prohibition injustifiée. Plus de 60 ans ont passé et l’industrie du textile de chanvre renaît désormais de ses cendres pour remplacer les tissus inconfortables et polluants qui ont envahi l'industrie au cours des dernières décennies .
    
    p Le textile de chanvre possède encore des avantages considérable façe aux autres tissus. Voici nos 4 meilleures raisons qui justifient le choix d’un vêtement en chanvre:
    
    h3 1. RIGIDE ET DURABLE
    
    p La fibre de chanvre est la plus résistante et rigide qui soit. C’est pour cette raison que l’on utilisait le chanvre pour faire des cordes dans les bateaux de guerre à l’époque de la guerre d’indépendance des États-Unis. Toutefois, c’est cette rigidité légendaire qui lui a coûté son titre de fibre textile de choix aux États-Unis. En effet, ce fut l’essor du coton, qui était bien plus facile à récolter et décortiquer manuellement par les esclaves de l’époque. De nos jours, avec le développement des technologies et de la machinerie, aucune excuse n’est valable pour négliger l’épanouissement industriel de la fibre de chanvre!
    
    a(href="#img2")
        img.blog(src="https://farm1.staticflickr.com/344/32668738126_412ea7a465_b.jpg")
    a(href="#_" class="lightbox" id="img2")
        img(src="https://farm1.staticflickr.com/344/32668738126_412ea7a465_b.jpg")   
    figcaption Voici une corde en chanvre. 
    
    h3 2. CONFORTABLE
    p Les manufactures convoitent de plus en plus le chanvre pour la confection de vêtements. Les fibres de chanvre sont poreuses formant un tissu qui respire. Tout comme les murs en chanvre, le textile de chanvre s’aclimate aux variations de température pour en faire profiter l’usager. Avec l’âge et à travers les lavages, la fibre s’adoucit continuellement pour devenir de <strong>plus en plus confortable</strong> , tout en résistant à la moisissure . Le chanvre est donc excellent pour faire toute sorte de vêtements, tapis, literies, chaussures, serviettes ou autres.
    
    a(href="#img3")
        img.blog(src="https://farm5.staticflickr.com/4405/37091016886_4d8403d2f3_b.jpg", alt= "tissu de chanvre")
    a(href="#_" class="lightbox" id="img3")
        img(src="https://farm5.staticflickr.com/4405/37091016886_4d8403d2f3_b.jpg", alt= "tissu de chanvre")
    figcaption fil de chanvre.
    
    h3 3. PROTÈGE LA PEAU
    p Inconsciemment, nous négligons quotidiennement notre peau. Par les produits que nous appliquons directement sur celle-ci, mais également par les tissus que nous portons. Entre autres, nous sommes exposés aux additifs chimiques employés dans les teintures, aux produits pétrochimiques dans la confection des vêtements en tissus synthétiques et aux pesticides pulvérisés dans les cultures de coton. Nous devrions choisir des vêtements qui nous correspondent et qui respectent notre santé. Il ne faudrait tout de même pas oublier l’essence même de porter un vêtement; nous protéger. 

    p À ce chapitre, le tissu de chanvre est réellement fantastique. Il a pour propriété d’être <strong>antibactérien</strong> et d’offrir une protection quasi totale contre <strong>les rayons UV</strong> .
    
    h3 4. VALEUR ÉCOLOGIQUE
    p Le chanvre est une plante bien plus écologique que le coton. Il faut avouer que ce n’est pas difficile à surpasser; le coton est l'une des cultures les plus polluantes sur terre. En effet, elle requiert près de 16% des pesticides mondiaux en plus d’épuiser grandement les ressources d’eau douce sur terre.
    
    a(href="#img4")
        img.blog(src="https://farm1.staticflickr.com/566/32668738966_b210f632ff_b.jpg")
    a(href="#_" class="lightbox" id="img4")
        img(src="https://farm1.staticflickr.com/566/32668738966_b210f632ff_b.jpg")
    figcaption Image sur le compte Instagram de chanvrequebec
    
    p Fondamentalement, le chanvre ne requiert aucun pesticide, fongicide ou herbicide. Il a par ailleurs été démontré que la plante de chanvre nécessite 4 fois moins d’eau que le coton pour produire la même quantité de textile. Finalement, d’un point de vue d’efficacité, un hectare de chanvre peut produire <strong>jusqu'à deux fois plus</strong>  de textile qu’un hectare de coton. L’idée n’est pas de remplacer complètement le coton, mais bien de réduire son utilisation et surtout de la restreindre à des cultures organiques.

    p Ainsi, le textile chanvre constitue une solution de choix pour améliorer le sort des principaux pays manufacturiers de textile où les pesticides et autres produits chimiques polluent l’environnement et empoisonnent les communautés  <a href="https://www.chanvrequebec.com/blog/industrie-du-textile-detruit-notre-monde", target="_blank"> (notre article complet sur les conséquences de l’industrie du textile: ICI )</a>. C’est principalement pour le coton que les pesticides sont utilisés dans ces milieux. La productivité des champs de coton permettrait de satisfaire toutes les parties prenantes de cette industrie (cultivateurs, manufactures, détaillants et consommateurs).
    
    a(href="#img5")
        img.blog(src="https://farm1.staticflickr.com/440/32668738686_67951ba013_b.jpg")
    a(href="#_" class="lightbox" id="img5")
        img(src="https://farm1.staticflickr.com/440/32668738686_67951ba013_b.jpg")
    figcaption Image sur le compte Instagram de chanvrequebec
    
    h3 Alors, pourquoi un vêtement en chanvre ?
    p Évidemment, on choisit des vêtements qui correspondent à nos intérêts, à qui nous sommes. On s’identifie aux tendances, aux marques et aux valeurs qu’elles projettent (Just Do It). Alors, pourquoi ne pas s’identifier à une plante qui protège réellement nos intérêts et ceux de la planète?<strong> Ne serait-ce pas l’image que vous souhaitez projeter ?</strong>

    br
    h2 Découvrez Seqoia
    p Seqoia est une marque de vêtements en chanvre qui veut redéfinir les standards de qualité des tissus dans le monde des sports de planche.
    a(href='/artistes/seqoia')
            button.btn-secondary Seqoia
    a(href="#img3")
        img.blog(src="https://scontent-yyz1-1.cdninstagram.com/t51.2885-15/e35/13736102_1820159521536742_183055528_n.jpg", alt= "tissu de chanvre")
    a(href="#_" class="lightbox" id="img3")
        img(src="https://scontent-yyz1-1.cdninstagram.com/t51.2885-15/e35/13736102_1820159521536742_183055528_n.jpg", alt= "tissu de chanvre")
    