include ../includes/_blogheader
include ../includes/_blogpost 
    p Cette compagnie australienne fait le plastique qui, selon moi, est le plus excitant de tout. Ce qu'elle fait est très simple; elle mélange de la fibre de chanvre avec de l'eau... c'est tout ! 
    .center
        a(href="#img3")
            img.blog(src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Hanfstengel.jpg")
        a(href="#_" class="lightbox" id="img3")
            img(src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Hanfstengel.jpg")
            figcaption La fibre de chanvre est la partie qui recouvre la tige, elle est utilisée pour sa durabilité autant en textile que dans l'industrie des composites.
    br
    p La partie la plus complexe est de préparer la fibre par un procédé qui s'appelle la micro défibrilation. 
    iframe(src="https://player.vimeo.com/video/152031037" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    br
    p Donc, la fibre de chanvre est mise dans un processus de fraisage qui la divise en plus petites parties.
    .center
        a(href="#img1")
            img.blog(src="https://upload.wikimedia.org/wikipedia/commons/4/43/Fraisage_surfacage.svg")
        a(href="#_" class="lightbox" id="img1")
            img(src="https://upload.wikimedia.org/wikipedia/commons/4/43/Fraisage_surfacage.svg")
            figcaption Ici on a un processus de fraisage sur bois. Toutefois le principe reste le mêmes : défaire la matière en parties toujours plus petites.
    blockquote "Lorsqu'elle est devenue de la micro fibre, on obtient, mélangé à de l'eau, une matière qui ressemble à de la pâte." 
    br
    h2 Maintenant, quelles sont les applications ?
    p Les applications sont immenses ! Cette matière peut être mise dans tous genres de moules pour remplacer le bois, la fibre de verre, le plastique dans une multitude d'industrie. 
    p Imaginez un instant une maison en structure de ce matériau et du béton de chanvre ! Le rêve ! 
    p Des chaises aux verres, aux marteaux jusqu'aux meubles, à ce stade, seulement notre imagination elle-même sera la limite...
    a(href="#img2")
        img.blog(src="https://c1.staticflickr.com/1/704/31971158263_6519ea5fae_o.jpg")
    a(href="#_" class="lightbox" id="img2")
        img(src="https://c1.staticflickr.com/1/704/31971158263_6519ea5fae_o.jpg")
    p Pour ceux qui désirent plonger encore plus dans le sujet, voici un PDF qui démontre l'utilisation du chanvre dans un plastique de ce genre et ses capacitées structurelles. 
    br
    .center
        a(href="http://www.zeoform.com/wp-content/uploads/2014/07/Zeoform-Hemp-Comparison.pdf")
            button.btn-secondary Consulter l'étude

    