a(href= "/produits/#{ slug }")
    .col-4.blogshow(style= produit.imagebg)
        .produitindex
            .col-6.left
                p #{produit.headline}
            .col-6.right
                p.price #{produit.price}$ 

