a.product-item(href="#{ prev.slug }")
    .produit-box
        p(class= prev.style) #{prev.price}$
        p.price-old #{prev.old}
        .produitshow(style= prev.imagebg)
        .produitindex
            p #{ prev.headline }
