a.product-item(href="#{ next.slug }")
    .produit-box
        p(class= next.style) #{next.price}$
        p.price-old #{next.old}
        .produitshow(style= next.imagebg)
        .produitindex
            p #{ next.headline }
