.product-item
    .col-4.produit-box
        p.price #{produit.price}$
        a(href= "/produits/#{ slug }")
            .produitshow(style= produit.imagebg)
        .produitindex
            p #{produit.headline}
