#produits
    .container
        .row.center
            .col-12
                h3 Autres produits que vous aimerez
            //- Create an empty array of the blog
            - var produits = []
            //- Iterate over the blog like you would normally
            for produit, slug in public.produits._data
              //- Assign the slug, which is the object key, to a value instead
              - produit.slug = slug
              //- Push each article into the empty array
              - produits.push(public.produits._data[slug])

            //- Iterate over the blog array
            each produit, i in produits
              //- Article slug is the old object key that matched the file name,
              //- Like "a-post" for example
              //- Match it against the current page
              if produit.slug == current.source
                  //- Previous is one before this array item
                  //- Next is one after
                  //- Variables make it easy to template
                  - prev = produits[i - 1]
                  - next = produits[i + 1]
                  //- The actual links
                  .row
                      if prev
                        .col-6
                            include _produit-prev
                      if next
                        .col-6
                            include _produit-next
