#alert
    p.center Livraison gratuite à l'achat de 50$ et +. Satisfaction garantie ou argent remis!
#produits
    include ../includes/_header
    include ../includes/_description
    //.container
        .row.center
            for feuille, slug in public.lafeuille._data
                include ../public/lafeuille/_lafeuille
    //.container
        .row.center
            for numero, slug in public.seqoia._data
                include ../public/seqoia/_seqoia
    #soinspourlecorps.container
        .row.center
            h2 Soins pour le corps
            for produit, slug in public.produits._data
                if _.includes(produit.category, 'soinscorps')
                    include _produit
    #vetementseqoia.container
        .row.center
            h2 Textile
            for produit, slug in public.produits._data
                if _.includes(produit.category, 'textile')
                    include _produit
