include ../includes/_header
#artiste
     .container
            .row
                .col-12
                    a(href='')
                    h2 Créer par les gens de Chanvre Québec
                    p On se donne pour mandat de remettre le chanvre au goût du jour. Notre rêve, c’est de remplacer tous les produits nocifs qui nous entourent par le pouvoir d’une plante. <strong>L’écoconception et l’innovation</strong> composent notre vision de l’avenir.Nous voulons permettre au chanvre d’avoir un impact positif et concret dans la vie des gens. 
#artiste
     .container
            .row.center
                .col-12
                    blockquote « On est des gars normaux et on tripe sur le chanvre; on veut que les gens comprennent pourquoi, tout simplement »
#environnement
     .container
            .row
                .col-12
                    a(href='')
                    h2 Pourquoi commencer par l'alimentation?
                    p La bouffe, c’est une partie tellement importante dans nos vies que c’est normal de se poser des questions sur ce qui se retrouve dans nos assiettes. Est-ce que c’est bon pour ma santé? Pour celle de l’environnement? Est-ce possible de consommer de façon réfléchie et de quand même profiter de repas délicieux?  On croit que oui. Et ça commence par des aliments locaux issus du règne végétal!               
#artiste
     .container
            .row  
                    .col-12
                            a(href='')
                            h2 Comment est apparu l'éclair de génie?
                    .col-4
                        .col-12
                            p C’est Gabriel Gauthier qui nous a fait connaître la farine de chanvre, lors d’une visite dans sa propre maison en chanvre! Des crêpes de farine de chanvre et de sarrasins, du sirop d’érable et un café italien…miam! Nous avons eu le coup de foudre et il fallait partager ce secret de polichinelle avec d’autres gens. C’est lui-même qui nous a challengé à populariser la farine.
                    .col-8
                        .col-12
                            a(href="#img1")
                                img(src= "https://c1.staticflickr.com/1/425/32556604162_53d22436b7_z.jpg")
                            a(href="#_" class="lightbox" id="img1")
                                img(src= "https://c1.staticflickr.com/1/352/32738272845_748aac85e0_z.jpg")
#artiste
     .container
            .row  
                    .col-12
                            a(href='')
                            h2 Impact environnemental et sociale
                    .col-12
                        .col-12
                            p Essentiellement, l’industrie agroalimentaire du chanvre permet à des fermiers locaux de sortir des cultures de maïs OGM et des pesticides. L’objectif final, c’est évidemment de valoriser la plante en entier (ses graines, ses feuilles, sa fibre et sa tige) pour profiter d’une multitude d’alternatives écologique. Les graines de chanvre, c’est la première étape vers un monde de possibilités!   
            .row 
                    .col-8
                        .col-12
                            a(href="#img1")
                                img(src= "https://c1.staticflickr.com/3/2864/34127973342_580422f51b_b.jpg")
                            a(href="#_" class="lightbox" id="img1")
                                img(src= "https://c1.staticflickr.com/3/2864/34127973342_580422f51b_b.jpg")
                    .col-4
                        .col-12
                            p Pour faire notre part des choses, nous avons choisi des emballages biodégradables, en carton, pour conserver la fraîcheur de nos aliments. 

    .jumbosection(style='background-image: linear-gradient(black, #F3F3F3)')
            .col-12.center    
include ../includes/_footer