include ../includes/_header
include ../includes/_description
#artiste
    .container
        .row
            .col-12.center
                h2 Bon pour votre santé sans compromettre le gôut !
    //.container
        .row
            .col-4.left
                h3 Le numéro 5
                p Le streetwear unisexe stylé
                a(href="/produits/numero_5")
                    button.btn-secondary En voir plus
            .col-8
                img(src="https://storage.googleapis.com/chanvrequebecphoto/manu_numero_5.jpg")
            .col-2
            .col-8.line
            .col-2
            .col-8
                img(src="https://storage.googleapis.com/chanvrequebecphoto/Champagne45.jpg")
            .col-4
                h3 Le S
                p Un modèle unisexe intemporel, classique et confortable
                a(href='/produits/numero_s')
                    button.btn-secondary En voir plus
    .jumbosection(style='background-image: linear-gradient(black, #F3F3F3)')
            .col-12.center    
include ../includes/_footer