include ../includes/_header
#gabgauthier
    .container
        .row
            .col-6
                img(src="https://storage.googleapis.com/chanvrequebecphoto/gabrielgauthier.jpg")
            .col-6
                h3 
                p Gabriel Gauthier est un véritable pionnier du chanvre au Québec. Il s’est impliqué abondamment dans le développement du chanvre d’ici. Il croit beaucoup à la valeur ajoutée et l’importance d’être entouré de produits sains. Le confort se ressent au-delà des degrés Celsius. C’est un vrai fanatique du chanvre: il s’habille, se nourrit, et évidemment, se loge grâce au chanvre.
            .col-2
            .col-8.line
            .col-2
            .col-12
                h3 Inspiré du béton romain et du savoir-faire français.
                p  Un des faits saillants de son implication fut d’introduire le procédé naturel d’isoler des murs ou des plafonds en chanvre avant de les enduire à la chaux.  C’est une technique qu’il a apprise et perfectionnée en France avant de l’adapter ici au Québec. Il travaille beaucoup avec la méthode du chanvre coffré, ce qui permet de couler la maison en une seule pièce monolithique. Il n’y a donc pas de joints dans ce type de construction.
            .col-12
                img(src="https://storage.googleapis.com/chanvrequebecphoto/betonchanvre2.png")
#gabgauthier
    .container
        .row
            .col-12
                p Depuis plus d’une décennie, Gabriel a procédé à la rénovation ou la construction d’une centaine de maisons en chanvre, ici même, au Québec. Il travaille présentement sur la rénovation d’un patrimoine culturel, la Trinity Church, à Saint-Jean-sur-Richelieu
                a(href="boutique")
                    button.btn-secondary Voir son site
include ../includes/_footer
