include ../includes/_header
.container
    .row
        .col-12
            h2.center Vous êtes artisans ? 
            p Si vous aussi vous êtes passionnés du chanvre et que vous avez un produits que vous aimeriez voir disponible sur chanvrequebec.com, envoyez-nous une demande.
            .center
                a(href="mailto:allo@chanvrequebec.com")
                    button.btn-secondary Envoyez une demande
#soinscorpo.center(style="background-color: #F9F9F9")
    include ../includes/_description
    .row
        .col-2.hidden
        .col-8.line
        .col-2.hidden
    .container
        .row
            .col-6
                h3 Chanvre Superaliment
                p Des aliments sains pour votre santé, riche en gras essentiel, en protéine et fibre.
                a(href='/artistes/chanvresa')
                    button.btn-secondary Découvrez Chanvre Superaliment
            .col-6
                h3 Seqoia
                p Une entreprise de Granby qui fait des designs stylés et naturels à base de chanvre.
                a(href='/artistes/seqoia')
                    button.btn-secondary Découvrez Seqoia
            .col-6
                h3 La Feuille Verte
                p Une entreprise situé au Lac Brome qui assemble les meilleurs huiles pour en faire des solutions de soins corporels naturelles de qualité superieur.
                a(href='/artistes/lafeuilleverte')
                    button.btn-secondary Découvrez CHANV
             .col-6
                h3 Gabriel Gauthier
                p Il construit la maison la plus confortable qui soit. En provenance de Shefford, c'est un spécialiste de l'habitation en chanvre 
                a(href='/artistes/gabrielgauthier')
                    button.btn-secondary Découvrez Gabriel
                    
include ../includes/_footer