include ../includes/_header
include ../includes/_description

#soinscorpo.center(style="background-color: #F9F9F9")
    .container
        .row
            .col-6
                h3 Seqoia
                p Une entreprise de Granby qui fait des designs stylés et naturels à base de chanvre.
                a(href='/artistes/seqoia')
                    button.btn-secondary Découvrez Seqoia
            .col-6
                h3 La Feuille Verte
                p Une entreprise situé au Lac Brome qui assemble les meilleurs huiles pour en faire des solutions de soins corporels naturelles de qualité.
                a(href='/artistes/lafeuilleverte')
                    button.btn-secondary Découvrez CHANV
                    
include ../includes/_footer