include ../includes/_header
//include ../includes/_description
#artiste
    .container
        .row
            .col-12.center
                h2 L'histoire ... 
        .row
            .col-12.left
                h3 Caroline & Manon, les artisanes
                p Chaque concoction est fabriquée avec amour par une équipe de passionnés dans un atelier inspirant à Knowlton, au Québec. Les soins corporels de La feuille verte sont d'abord écologiques. Tous les ingrédients sont choisis avec soin selon leurs propriétés et leur provenance, la plus régionale possible. Nous utilisons des huiles essentielles de qualité supérieure adaptées au besoin de chaque soin.
                .center
                    img(src="https://storage.googleapis.com/chanvrequebecphoto/caro_lafeuille.jpeg")
                    figcaption Caroline et la madame qui a fondé la Feuille Verte.
            .col-12.center
                h3 La ligne de produits naturels CHANV.
                p  La Feuille Verte fabrique et commercialise depuis plus de dix ans des soins corporels composés d'ingrédients frais, remplis de vitalit et issue uniquement du règne végétal. L'huile de chanvre, est à la base de tous les soins de la gamme CHANV, dans des proportions de 30% à 90%. Elles en ont fait leur ingrédient de prédilection car c'est un puissant antioxydant qui nourrit et hydrate la peau.
                img(src="https://storage.googleapis.com/chanvrequebecphoto/Screen_serum.png")
                figcaption Le Sérum Coup d'éclat, la petite vedette.
                a(href="/produits")
                    button.btn-secondary Voir les produits

include ../includes/_footer