include ../includes/_header
include ../includes/_description
#speetch(style="background-color: #F9F9F9")
     .container
            .row.left
                .col-12
                    a(href='')
                    p On choisit des vêtements qui correspondent à nos intérêts, à qui nous sommes. On s’identifie aux tendances, aux marques et aux valeurs qu’elles projettent. Alors, pourquoi ne pas s’identifier à une plante qui protège réellement nos intérêts et ceux de la planète? Ne serait-ce pas l’image que vous souhaitez projeter?
#seqoia
    .container
        .row
            .col-12.center
                h2 Nos deux produits en exclusivité pour une durée limité!
    .container
        .row
            .col-4.left
                h3 Le numéro 5
                p Le streetwear unisexe stylé
                a(href="/produits/numero_5")
                    button.btn-secondary Achetez-le
            .col-8
                img(src="https://storage.googleapis.com/chanvrequebecphoto/manu_numero_5.jpg")
            .col-2
            .col-8.line
            .col-2
            .col-8
                img(src="https://storage.googleapis.com/chanvrequebecphoto/Champagne45.jpg")
            .col-4.right
                h3 Le traditionnel S
                p un chandail unisexe intemporel, classique et confortable
                a(href='/produits/numero_s')
                    button.btn-secondary Achetez-le
    .jumbosection(style='background-image: linear-gradient(black, #F3F3F3)')
            .col-12.center    
include ../includes/_footer