include ../includes/_header
include ../includes/_description
#seqoia
    .container
        .row
            .col-12.center
                h2 Nos deux produits en exclusivité pour une duré limité!
    .container
        .row
            .col-4.left
                h3 Le numéro 5
                p Le streetwear intemporel
                a(href="/seqoia/numero_5")
                    button Achetez-le
            .col-8
                img(src="https://storage.googleapis.com/chanvrequebecphoto/manu_numero_5(2).jpg")
            .col-2
            .col-8.line
            .col-2
            .col-8
                img(src="https://storage.googleapis.com/chanvrequebecphoto/manu_numero_5(2).jpg")
            .col-4.right
                h3 Le numéro 5
                p Le streetwear intemporel
                a(href='/seqoia/numero_s')
                    button Achetez-le
    .jumbosection(style='background-image: linear-gradient(white, #F3F3F3)')
        .container
            .row
                .col-6.left
                    h2 Voici ce que c'est
                    p test
    .jumbosection(style='background-image: linear-gradient(black, #F3F3F3)')
include ../includes/_footer