#blogfooter
    footer(style= "background: #ffffff;")
      .container
        //- Create an empty array of the blog
        - var blog = []
        //- Iterate over the blog like you would normally
        for article, slug in public.blog._data
          //- Assign the slug, which is the object key, to a value instead
          - article.slug = slug
          //- Push each article into the empty array
          - blog.push(public.blog._data[slug])

        //- Iterate over the blog array
        each article, i in blog
          //- Article slug is the old object key that matched the file name,
          //- Like "a-post" for example
          //- Match it against the current page
          if article.slug == current.source
              //- Previous is one before this array item
              //- Next is one after
              //- Variables make it easy to template
              - prev = blog[i - 1]
              - next = blog[i + 1]
              //- The actual links
              .row
                  if prev
                    .col-6
                        a(href="#{ prev.slug }") &larr; #{ prev.headline }
                  if next
                    .col-6
                        a(href="#{ next.slug }") #{ next.headline } &rarr;
        .row
          .col-12.line
          .col-6.left
            img(src="../assets/img/logo-black.svg", alt='chanvre quebec')
          .col-6.right
                a.goback(href='https://www.facebook.com/chanvrequebec/?fref=ts')
                    i.fa.fa-facebook.i-footer(aria-hidden='true')
                a.goback(href='https://blog.chanvrequebec.com')
                    i.fa.fa-medium.i-footer(aria-hidden='true')
                a.goback(href='https://www.youtube.com/channel/UCbu0-eDmksHOPx0qEzsua_Q')
                    i.fa.fa-youtube.i-footer(aria-hidden='true')
                a.goback(href='https://www.instagram.com/chanvrequebec/')
                    i.fa.fa-instagram.i-footer(aria-hidden='true')
        .row
          .col-4
            p
              | <strong>Les 4 fantastiques</strong>
              br
              |            
              a(href='/alimentation', target='_blank') Alimentation
              br
              |            
              a(href='/habitation', target='_blank') Habitation
              br
              |            
              a(href='/textile', target='_blank') Textile
              br
              |           
              a(href='/soinscorpo', target='_blank') Soins Corporel
          .col-4
            p
              | <strong>Politique de retour</strong>
              br
              |           Livraison 
              a(href='/livraison', target='_blank') et politique de retour
          .col-4 
            p
              | <strong>Nous contactez</strong>
              br
              | 
              a(href='/contact', target='_blank') contact
              br
              |    
              a(href='mailto:allo@chanvrequebec.com') allo@chanvrequebec.com
              br
              |           Fait par 
              a(href='http://jechanvre.io', target='_blank') J.A.
              br
              |           Contribue via 
              a(href='https://github.com/jaubut/acqweb-officiel', target='_blank') Github
          .col-12.left
            p.anne 
                | 2017-2018
                | Open source under the 
                a(href='https://opensource.org/licenses/MIT', target='_blank') MIT License
