header
    #blogheader
        .side-image(style=(image))
        .container
                .row
                    .col-12
                          a.goback(href='/index')
                            i.fa.fa-home.i-header(aria-hidden='true')
                          a.goback(href='/blogs')
                            i.fa.fa-book.i-header(aria-hidden='true')
