#blogheader
    .side-image(style=(image))
    .container
            .row
                .col-12.home
                    a.goback(onclick='goBack()')
                        i.fa.fa-arrow-left(aria-hidden='true')
                    a.goback(href='/index')
                        i.fa.fa-home(aria-hidden='true')
