header
    #blogheader
        a(href="#{ creditref }")
            .side-image(style=(image))
                .credit-photo= creditphoto
        .container
                .row
                    .col-12
                          a.goback(href='/index')
                            i.fa.fa-home.i-header(aria-hidden='true')
                          a.goback(href='/blogs')
                            i.fa.fa-book.i-header(aria-hidden='true')
