.container
    .row
        .col-12
            h2 L'actualité Chanvre Québec
.main-carousel(data-flickity='{ "wrapAround": true }')
        .container.pub.one
            .row.center
                .col-12
                    h3.center Lancement officiel de la boutique !
                .col-2.hidden
                .col-8.center
                    p En ajoutant n'importe quel item à votre panier,
                    p profitez de la Trousse Découverte à moitier prix.
                .col-2.hidden
                a.modal-open(href='#modalA')
                    button.btn-offre Voir l'offre
                    
        .container.pub.two
            .row
                .col-12
                    p.center 
        .container.pub.three
            .row
                .col-12.center
                    