.container
    .row
        .col-12
            h2 L'actualité Chanvre Québec
.main-carousel(data-flickity='{ "wrapAround": true }')
        .container.pub.one
            .row
                .col-12
                    p.center voila
                .col-4.center
                    p yo
                .col-4.center
                    p yo
                .col-4.center
                    p yo
        .container.pub.two(style="background-image: url(https://storage.googleapis.com/chanvrequebecphoto/anti-ride_3.jpg)")
            .row
                .col-12
                    p.center voila
        .container.pub.three
            .row
                .col-12.center
                    p voila
                    a(href="/boutique")
                        button Notre boutique