.main-carousel#main-carousel(data-flickity='{ "wrapAround": true }')
        .container-deux.pub.one(style="background: #F3D599")
            .row.center
                .col-6.center
                    h2 Pour avoir un beau teint toute la journée !
                    a(href='produits/serum/')
                        button.btn-offre Le serum Coup d'Éclat
                .col-6.center
                    img(src="https://c1.staticflickr.com/1/521/32629530931_3b7ece70ec_k.jpg")      
        .container-deux.pub.two
            .row.center
                .col-12
                    h3 Voyez notre section Équipe !
                    a(href="/equipe/")
                        button.btn-secondary En savoir plus
        //.container-deux.pub.three(style="background-image: url(https://storage.googleapis.com/chanvrequebecphoto/noel_cover2.jpg)")
            .row
                .col-12.center
                    h2 Durant tout le mois de janvier exclusivement
