.container
    .row
        .col-12
            h2 L'actualité Chanvre Québec
.main-carousel(data-flickity='{ "wrapAround": true }')
        .container.pub.one(style="background-image: url(https://storage.googleapis.com/chanvrequebecphoto/vpfbvb7dpzi-dawid-liberadzki.jpg)")
            .row.center
                .col-12
                    h3.center Lancement officiel de la boutique !
                .col-2.hidden
                .col-8.center
                    p En ajoutant n'importe quel item, profitez de 50% de rabais sur la Trousse Découverte.
                .col-2.hidden
                button.btn-offre(href="/boutique") Voir l'offre
        //.container.pub.two(style="background-image: url(https://storage.googleapis.com/chanvrequebecphoto/anti-ride_3.jpg)")
            .row
                .col-12
                    p.center voila
        //.container.pub.three
            .row
                .col-12.center
                    p voila
                    a(href="/boutique")
                        button Notre boutique