#chanvre
    .container
            .row
                .col-8
                    h1 Mais le <strong>chanvre</strong> c'est quoi?
                    p Le chanvre est une plante fantastique. On a retrouvé des tissus vieux de <strong>8000 B.C</strong> sur des sites archéologiques. C'est la plante la plus utile à l'homme. Notre chanvre est une variété de cannabis qui a été selectionné pour sa faible teneur en THC et par définition, utilisé pour sa fibre, son corp et sa graine. 
                .col-4.chanvre
                a(href='soinscorporels')
                    .col-6.center
                        h2 SC
                        h4 Soins corporels
                        p Ses omégas <strong>3&6</strong> nourissent la peau.
                a(href='alimentation')
                    .col-6.center
                        h2 A
                        h4 Alimentation
                        p C'est la source la plus <strong>concentré en protéine</strong> de tout le monde végétale!
                .col-4.hidden-sm
                .col-4
                    .line
                .col-4.hidden-sm
                a(href='habitation')
                    .col-6.center
                        h2 H
                        h4 Habitation
                        p Ses capacités à réguler le taux d'humité et la chaleur, offre un <strong>confort hygrothermique</strong> incomparable.
                a(href='textile')
                    .col-6.center
                        h2 T
                        h4 Textile
                        p Confortable autant en hiver qu'en été, il est <strong>anti-microbiens</strong> et fongiques!
