.container
    .row
        .col-12.center
            h4 Laissez-nous votre commentaire, c'est toujours apprécié !
            .fb-comments(data-href="https://www.facebook.com/commerce/products/#{ fblink }" data-numposts="5")