footer
  .container
    .row
      .col-12
        img(src=(sourcefooter), alt='chanvre quebec') 
    .row
      .col-12
        p
          | Chanvre Québec
          br
          |           Fait par 
          a(href='', target='_blank') J.A.
          br
          |           Contribue via 
          a(href='https://github.com/jaubut/acqweb-officiel', target='_blank') Github
          br
          |           Partage sur  
          a(href='https://www.facebook.com/chanvrequebec/?fref=ts', target='_blank') Facebook
          br
          |           Envoie-nous 
          a(href='mailto:info@chanvrequebec.com') un courriel
        p
          | Open source under the 
          a(href='https://opensource.org/licenses/MIT', target='_blank') MIT License
