footer
  .container
    .row
      .col-6
        img(src=(sourcefooter), alt='chanvre quebec')
      .col-6.right
            a.goback(href='https://www.facebook.com/chanvrequebec/?fref=ts')
                i.fa.fa-facebook.i-footer(aria-hidden='true')
            a.goback(href='https://blog.chanvrequebec.com')
                i.fa.fa-medium.i-footer(aria-hidden='true')
            a.goback(href='https://www.youtube.com/channel/UCbu0-eDmksHOPx0qEzsua_Q')
                i.fa.fa-youtube.i-footer(aria-hidden='true')
            a.goback(href='https://www.instagram.com/chanvrequebec/')
                i.fa.fa-instagram.i-footer(aria-hidden='true')
    .row
      .col-12
        p
          | Chanvre Québec
          br
          |           Fait par 
          a(href='http://jechanvre.io', target='_blank') J.A.
          br
          |           Contribue via 
          a(href='https://github.com/jaubut/acqweb-officiel', target='_blank') Github
          br
          |           Partage sur  
          a(href='https://www.facebook.com/chanvrequebec/?fref=ts', target='_blank') Facebook
          br
          |            
          a(href='mailto:info@chanvrequebec.com') info@chanvrequebec.com
          br
          |           Livraison 
          a(href='/livraison') et politique de retour
        p
          | Open source under the 
          a(href='https://opensource.org/licenses/MIT', target='_blank') MIT License
