footer
  .container
    .row
      .col-6.left
        img(src="https://storage.googleapis.com/chanvrequebecphoto/footerlogo.svg", alt='chanvre quebec')
      .col-6.right
            a.goback(href='https://www.facebook.com/chanvrequebec/?fref=ts')
                i.fa.fa-facebook.i-footer(aria-hidden='true')
            a.goback(href='https://blog.chanvrequebec.com')
                i.fa.fa-medium.i-footer(aria-hidden='true')
            a.goback(href='https://www.youtube.com/channel/UCbu0-eDmksHOPx0qEzsua_Q')
                i.fa.fa-youtube.i-footer(aria-hidden='true')
            a.goback(href='https://www.instagram.com/chanvrequebec/')
                i.fa.fa-instagram.i-footer(aria-hidden='true')
    .row
      .col-4
        p
          | <strong>Les 4 fantastiques</strong>
          br
          |            
          a(href='/alimentation', target='_blank') Alimentation
          br
          |            
          a(href='/habitation', target='_blank') Habitation
          br
          |            
          a(href='/textile', target='_blank') Textile
          br
          |           
          a(href='/soinscorporels', target='_blank') Soins Corporels
      .col-4
        p
          | <strong>À propos</strong>
          br
          | 
          a(href='/mission', target='_blank') Notre mission
          br
          |           Livraison 
          a(href='/livraison', target='_blank') et politique de retour
          br
          |           Fait par 
          a(href='http://jechanvre.io', target='_blank') J.A.
          br
          |           Contribue via 
          a(href='https://github.com/jaubut/acqweb-officiel', target='_blank') Github
      .col-4 
        p
          | <strong>Nous contacter</strong>
          br
          | 
          a(href='https://www.facebook.com/chanvrequebec/', target='_blank') Facebook
          br
          |    
          a(href='mailto:allo@chanvrequebec.com') allo@chanvrequebec.com
      .col-12.left
        p.anne 
            | 2017-2018
            | Open source under the 
            a(href='https://opensource.org/licenses/MIT', target='_blank') MIT License
        i.fa.fa-cc-visa.i-footer.fa-2x(aria-hidden='true')
        i.fa.fa-cc-mastercard.i-footer.fa-2x(aria-hidden='true')
            
