header
    #header
        .jumbotron(style=(headerstyle))
            .container
                    .row
                        nav.home
                              .dropdown
                              i.fa.fa-bars.dropbtn
                                  .dropdown-content
                                    .col-4
                                        a(href='/mission') 
                                            p.menu-item Mission
                                        a(href='/equipe') 
                                            p.menu-item Équipe
                                        a(href='/artistes') 
                                            p.menu-item Artisans
                                    .col-4
                                        a(href='/produits') 
                                            p.menu-item Boutique
                                        a(href='/blog') 
                                            p.menu-item Biblio
                                        a(href='/map') 
                                            p.menu-item.highlight Map
                                        a(href='/recettes') 
                                            p.menu-item Recettes
                                    .col-4
                                        a(href='/alimentation')
                                            p.menu-item Alimentation
                                        a(href='/habitation') 
                                            p.menu-item Habitation
                                        a(href='/soinscorporels')
                                            p.menu-item Soins Corporels
                                        a(href='/textile') 
                                            p.menu-item Textile
                              a.goback(href='/index')
                                i.fa.fa-home.i-header(aria-hidden='true')
                              a.goback.snipcart-checkout.snipcart-summary(href='#')
                                i.fa.fa-shopping-cart.i-header(aria-hidden='true')
                                    span.snipcart-total-price
                              a.goback.snipcart-user-profile(href='#')
                                i.fa.fa-user.i-header
                              //a.goback.fr(href="en") en
                        .col-12.center
                            img(src=(source), alt='chanvre quebec')
                            h1(style=(textcolor))=(headline)
                            h2.font-light(style=(textcolor))=(underline)
                            br
                            a(href=(hrefheader))
                                button.btn-secondary #{thirdline}

