#header
    .jumbotron(style=(headerstyle))
        .container
            .row
                .col-12.home
                    a.goback(onclick='goBack()')
                        i.fa.fa-home(aria-hidden='true')
                .col-12.center
                    img(src=(source), alt='chanvre quebec')
                    h1(style=(textcolor))=(headline)
                    h2.font-light(style=(textcolor))=(underline)
                    br
                    a(herf=(hrefheader))
                        button.btn-secondary=(thirdline)