#map(style="background-image: url(https://c1.staticflickr.com/5/4249/34053683764_11828aec79_b.jpg)")
    .container
            .row
                .col-12
                    .center
                        h2 Découvrer notre map du chanvre 
                        h4 Nous regroupons l'ensemble des activités qui entoure le chanvre dans la province
                        a(href="/map")
                            button.btn-secondary En savoir plus



