#mission
    .container.center
            .row
                .col-6.center
                    h2 Notre mission
                    img(src='https://storage.googleapis.com/chanvrequebecphoto/1476197851404.jpg', alt='Notre équipe, Darko Popovic, Jérémie Aubut, Alexandre Arce Moreau et Jonathan Gagné')
                    p Être la référence du chanvre au Québec. Propulser les artisans locaux, stimuler la demande et redonner ses lettres de noblebesse au chanvre. 
                .col-6.center
                    h2 L'équipe
                    img(src='https://storage.googleapis.com/chanvrequebecphoto/1478017482334.jpg', alt='Notre équipe, Darko Popovic, Jérémie Aubut, Alexandre Arce Moreau et Jonathan Gagné')
                    p Nous sommes de jeunes visionnaires qui voulont en faire plus avec moins. Notre <strong>passion</strong> et notre dévoument est au coeur de ce projet :)
