#mission
    .container.center
            .row
                .col-6.center
                    h2 Notre mission
                    img(src='https://storage.googleapis.com/chanvrequebecphoto/1476197851404.jpg', alt='Notre équipe, Darko Popovic, Jérémie Aubut, Alexandre Arce Moreau et Jonathan Gagné')
                    figcaption Un jeune plant de chanvre d'un mois.
                    p Être la référence du chanvre au Québec. Propulser des artisans locaux, stimuler la demande et redonner ses lettres de noblebesse au chanvre. 
                .col-6.center
                    h2 L'équipe
                    a(href="/contact")
                        img(src='https://storage.googleapis.com/chanvrequebecphoto/1478017482334.jpg', alt='Notre équipe, Darko Popovic, Jérémie Aubut, Alexandre Arce Moreau et Jonathan Gagné')
                    figcaption Jérémie et Darko, co-fondateurs.
                    p Nous sommes de jeunes visionnaires propulsés par le désir de partager les vertus du chanvre. Notre <strong>passion</strong> et notre dévouement sont au coeur du projet
