#modalA.modal.green(role='dialog', aria-labelledby='modalA-title', aria-describedby='modalA-description')
  .container
        a.modal-a(href='#', title='close') ×
      .row
        .col-12.center
            h2 On célèbre l'ouverture!
        .col-6
            for produit, slug in public.produits._data
                if _.includes(produit.id, '3')
                    a(href= "/produits/#{ slug }")
                        .blogshow(style= produit.imagebg)
                                .produitindex
                                    .col-6.left
                                        p(style='color: #000;') #{produit.headline}
                                    .col-6.right
                                        p(style='color: #000;').price #{produit.price}$ 
        .col-6
            p Profitez du sachet <strong>#[a(href='/produits/decouverte') ]</strong> (valeur de 54$) à seulement 27$ avec l'achat de n'importe quel autre produits. Voir plus bas pour les modalités !
            a(href="/produits")
                button.btn-secondary Boutique
  .container
      .row
        .col-6.center
            h3 1. Première étape 
            p Ajoutez la trousse Découverte à votre panier. 
        .col-6.center
            h3 2. Deuxième étape
            p Choisissez n'importe quel produit que vous voulez et ajoutez-le afin d'activer la promotion sur le sachet j'aime. 
        .col-12.center
            h3 3. Troisième étape 
            p Voilà c'est fait :) Vous pouvez partager votre expérience d'achat sur facebook!