.side-image(style="background-image: url(https://storage.googleapis.com/chanvrequebecphoto/creperecette.png)")
                .credit-photo= creditphoto
                .container
                    .row
                        .col-12.center
                            h1(style=(textcolor))=(headline)
                            h2.font-light(style=(textcolor))=(underline)
                            br
                            p #{thirdline}
                            a(href=(hrefheader))
                                button.btn-recette Envoyez 1