script(src="/assets/js/main.js")
script(src="/assets/js/snipcart-event.js")
script(src="/assets/js/snipcart-gtm.js")
script(type="text/javascript", src="/assets/js/instafeed.min.js")
script(src="https://use.fontawesome.com/5d64fbfc9e.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js")
script(src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="MjJkNDU1NWYtYjU4Ni00OTdlLWJiNGEtYjk0YzI2N2M3MjZkNjM2MDA4NDk2Njk1MzE1MDU0" id="snipcart")
script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
script(src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js")
script(src="https://embed.small.chat/T4NJ1ELC9G53QD0XAP.js" async)
script(src="https://js.moltin.com/v1")

script.
    var moltin = new Moltin({publicId: 'HimKFkM74zwzb8mtGTBMmCBtw0wVZJ1BUsG0PE9cZ1'});
    moltin.Authenticate(function() {
      moltin.Product.Get("1464516380945548142", function(product){
        console.log(product);
      });
    });

script.
      function goBack() {
      window.history.back();
      }
    
script.
  (function() {
  var cx = '001807797120791077955:j0pnchnp8ua';
  var gcse = document.createElement('script');
  gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
  })();

script.
  window.fbAsyncInit = function() {
  FB.init({
  appId      : '1515670032095765',
  xfbml      : true,
  version    : 'v2.8'
  });
  FB.AppEvents.logPageView();
  };
  (function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=1515670032095765";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

script.
  function myPrint() {
  window.print();
  }

script(type='text/javascript').
  var userFeed = new Instafeed({
  get: 'user',
  userId: '3400508812',
  clientId: 'bf39589b850d4ed496e4602163580e20',
  accessToken: '3400508812.1677ed0.e25e536f97aa422aa478a03dfdb34716',
  resolution: 'standard_resolution',
  sortBy: 'most-recent',
  limit: 3,
  links: false,
  template: '<a href="{{link}}" target="_blank" id="{{id}}"><div class= "col-4 photo" style="background-image: url({{image}})"></div></a>'
  });
  userFeed.run();
  
