script(src="/assets/js/main.js")
script(src="/assets/js/snipcart-event.js")
script(src="/assets/js/snipcart-gtm.js")
script(type="text/javascript", src="/assets/js/instafeed.min.js")
script(src="https://use.fontawesome.com/5d64fbfc9e.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js")
script(src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="MjJkNDU1NWYtYjU4Ni00OTdlLWJiNGEtYjk0YzI2N2M3MjZkNjM2MDA4NDk2Njk1MzE1MDU0" id="snipcart")
script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
script(id="dsq-count-scr" src="//chanvre-quebec.disqus.com/count.js")
script(src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js")
//script(src="https://cdn.smooch.io/smooch.min.js")

//script.
    Smooch.init({
        appToken: '43j4fj5e2iyhekwmpnbe642xj',
        emailCaptureEnabled: true,
        customText: {
            headerText: "Comment pouvons-nous t'aider?",
            inputPlaceholder: 'Écrit ton message...',
            sendButtonText: 'Envoyé',
            introductionText: "Nous sommes ici pour vous, alors demandez-nous ce que vous voulez !", 
            introAppText: "",
            settingsText: 'Tu peux laisser ton courriel ici!',
            settingsReadOnlyText: "Nous allons te rejoindre à cette adresse si nous t'avons manqué",
            settingsInputPlaceholder: 'Ton courriel',
            settingsSaveButtonText: 'Enregistré',
            settingsHeaderText: 'Réglages',
            settingsNotificationText: 'Au cas où nous sommes absent <a href data-ui-settings-link>laisse nous ton courriel</a>.',
            messageIndicatorTitleSingular: '({count}) Nouveau message',
            messageIndicatorTitlePlural: '({count}) Nouveaux messages',
            notificationSettingsConnectedAs: 'Connecté en tant que {username}',
            notificationSettingsConnected: 'Connecté',

        }   
    });
// Start of Async Drift Code
script.
  !function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
  t.factory = function(e) {
  return function() {
  var n;
  return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
  };
  }, t.methods.forEach(function(e) {
  t[e] = t.factory(e);
  }), t.load = function(t) {
  var e, n, o, i;
  e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
  o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
  n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('dnkke3ac7nfm');
// End of Async Drift Code
// Drip
script(type='text/javascript').
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '7359119';
  (function() {
  var dc = document.createElement('script');
  dc.type = 'text/javascript'; dc.async = true;
  dc.src = '//tag.getdrip.com/7359119.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(dc, s);
  })();

script.
      function goBack() {
      window.history.back();
      }
script.
  function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');
  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
  a = li[i].getElementsByTagName("a")[0];
  if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
  li[i].style.display = "";
  } else {
  li[i].style.display = "none";
  }
  }
  }
      
script.
  (function() {
  var cx = '001807797120791077955:j0pnchnp8ua';
  var gcse = document.createElement('script');
  gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
  })();

script.
  window.fbAsyncInit = function() {
  FB.init({
  appId      : '1515670032095765',
  xfbml      : true,
  version    : 'v2.8'
  });
  FB.AppEvents.logPageView();
  };
  (function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=1515670032095765";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

script.
  function myPrint() {
  window.print();
  }
script(src='https://cdn.smooch.io/smooch.min.js')
script.
  Smooch.init({appToken: 'e2uey9od0j0o8wpelw4bhws07'});

script(type='text/javascript').
  var _kmq = _kmq || [];
  var _kmk = _kmk || 'c28eaa1216189787a2acb0e20d67e2c18d270da1';
  function _kms(u){
  setTimeout(function(){
  var d = document, f = d.getElementsByTagName('script')[0],
  s = d.createElement('script');
  s.type = 'text/javascript'; s.async = true; s.src = u;
  f.parentNode.insertBefore(s, f);
  }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');
  _kms('//scripts.kissmetrics.com/' + _kmk + '.2.js');

script(type='text/javascript').
  var userFeed = new Instafeed({
  get: 'user',
  userId: '3400508812',
  clientId: 'bf39589b850d4ed496e4602163580e20',
  accessToken: '3400508812.1677ed0.e25e536f97aa422aa478a03dfdb34716',
  resolution: 'standard_resolution',
  sortBy: 'most-recent',
  limit: 3,
  links: false,
  template: '<a href="{{link}}" target="_blank" id="{{id}}"><div class= "col-4 photo" style="background-image: url({{image}})"></div></a>'
  });
  userFeed.run();
  
